<!-- Nav Item - Alerts -->
<li class="nav-item dropdown no-arrow mx-1">
    <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button"
        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-bell fa-fw"></i>
        <!-- Counter - Alerts -->
        {{!-- {{#if newNotifs}} --}}
            <span id="notifCount" class="badge badge-danger badge-counter">{{count}}</span>
        {{!-- {{/if}} --}}
    </a>
    <!-- Dropdown - Alerts -->
    <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
        aria-labelledby="alertsDropdown">
        <h6 class="dropdown-header">
            Alerts Center
        </h6>
        <input id="userID" type="hidden" value="{{user.key}}">
        {{!-- {{#each notification}}
            <a class="dropdown-item d-flex align-items-center" href="/clinic-visit">
                {{#ifEquals seen}}
                <div style="height: 40px;">
                    <span class="badge badge-pill badge-danger d-flex align-items-baseline" style="color: #e74a3b; font-size:5px;">.</span>
                </div>
                {{else}}
                <div style="height: 40px;">
                    <span class="badge badge-pill badge-danger d-flex align-items-baseline" style="visibility: hidden; background-color: #ffff; color: #ffff; font-size:5px;">.</span>
                </div>
                {{/ifEquals}}
                <div class="mr-3">
                    <div class="icon-circle bg-primary">
                        <i class="fas fa-file-alt text-white"></i>
                    </div>
                </div>
                <div>
                    <input class="formID" type="hidden" value="{{formId}}">
                    <div class="small text-gray-500">{{formatDate date}}</div>
                    <span class="font-weight-bold">{{message}}</span>
                </div>
            </a>
        {{/each}} --}}
        <div id="notifList"></div>
        <a class="dropdown-item text-center small text-gray-500" href="#">Show All Alerts</a>
    </div>
</li>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type='text/javascript'>
    $(document).ready(function() {
        var formIds = [];

        getNotification();
        //setInterval(function(){ getNotification(); }, 3000);

        function getNotification() {
            $.get("/getNotification", function(notifs){
                console.log("notifs in front-end");
                console.log(notifs);
                var i;
                var count = 0;
                
                formIds = [];
                
                $('#userID').val(notifs[notifs.length-1].user); // user key
                
                for(i = 0; i < notifs.length; i++){
                    if(notifs[i].seen == true){
                        $('#notifList').empty();
                        break;
                    }
                }
                // getting list of notifications
                for(i = 0; i < notifs.length; i++){
                    // the if else statement for the display if seen or not
                    if(notifs[i].seen == true){
                       $('#notifList').append('<a class="dropdown-item d-flex align-items-center" href="/clinic-visit"><div style="height: 40px;"><span class="badge badge-pill badge-danger d-flex align-items-baseline" style="visibility: hidden; background-color: #ffff; color: #ffff; font-size:5px;">.</span></div><div class="mr-3"><div class="icon-circle bg-primary"><i class="fas fa-file-alt text-white"></i></div></div><div><div class="small text-gray-500">' + notifs[i].date + '</div><span class="font-weight-bold">'+ notifs[i].message + '</span></div></a>');
                    } else {
                        $('#notifList').append('<a class="dropdown-item d-flex align-items-center" href="/clinic-visit"><div style="height: 40px;"><span class="badge badge-pill badge-danger d-flex align-items-baseline" style="color: #e74a3b; font-size:5px;">.</span></div><div class="mr-3"><div class="icon-circle bg-primary"><i class="fas fa-file-alt text-white"></i></div></div><div><div class="small text-gray-500">' + notifs[i].date + '</div><span class="font-weight-bold">'+ notifs[i].message + '</span></div></a>');
                        count++;  // notififcation count
                    }
                    // put key value of forms 
                    formIds.push(notifs[i].formId);
                }
                //console.log("formIds");
                //console.log(formIds);

                $('#notifCount').text(count);
                if (count == 0){
                  var notifHide =  $('#notifCount');
                   notifHide.remove();
                } 
            });
        }

        $("#alertsDropdown").click(function(){
            let count = document.getElementById('notifCount');
            if(count.length != 0){
                count.remove();
            }
            
            console.log("formIds");
            console.log(formIds);
            
            var userID = $('#userID').val();
            //var classesNodeList = document.querySelectorAll(".formID");
            //var values = Array.prototype.map.call(classesNodeList, function(element) {
            //    return element.value;
            //});
            
            //console.log("values");
            //console.log(values);
            

            $.ajax({
                url: '/updateNotif',
                method: 'POST',
                data: {
                    userID: userID,
                    formIds: formIds
                },
                success: function(data) {
                    console.log("success!");
                }
            });
        });

        //$("#alertsDropdown").click(function(){
        //    var count =  $('#notifCount');
        //    count.remove();
            
        //    var userID = $('#userID').val();
            
        //    console.log("bago mag ajax");
        //    if(formIds.length != 0){
        //        $.ajax({
        //        url: '/updateNotif',
        //        method: 'POST',
        //        data: {
        //            userID: userID,
        //            formIds: formIds.reverse()
        //        },
        //        success: function(data) {
        //            console.log("success!");
        //        }
        //    });
        //    }
        //});
    });
</script>