<!-- Nav Item - Alerts -->
<li class="nav-item dropdown no-arrow mx-1">
    <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button"
        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fas fa-bell fa-fw"></i>
        <!-- Counter - Alerts -->
        <span id="notifCount" class="badge badge-danger badge-counter">{{count}}</span>
    </a>
    <!-- Dropdown - Alerts -->
    <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
        aria-labelledby="alertsDropdown">
        <h6 class="dropdown-header">
            Alerts Center
        </h6>
        <input id="userID" type="hidden" value="{{user.key}}">
        {{#each notification}}
            <a class="dropdown-item d-flex align-items-center" href="/clinic-visit">
                <div class="mr-3">
                    <div class="icon-circle bg-primary">
                        <i class="fas fa-file-alt text-white"></i>
                    </div>
                </div>
                <div>
                    <input class="formID" type="hidden" value="{{formId}}">
                    <div class="small text-gray-500">{{formatDate date}}</div>
                    <span class="font-weight-bold">{{message}}</span>
                </div>
            </a>
        {{/each}}
        <a class="dropdown-item text-center small text-gray-500" href="#">Show All Alerts</a>
    </div>
</li>

<script>
    document.addEventListener("DOMContentLoaded", () => { 
        let alerts = document.getElementById('alertsDropdown');
        alerts.addEventListener('click', () =>{
            let count = document.getElementById('notifCount');
            count.remove();
            
            var classesNodeList = document.querySelectorAll(".formID");
            var values = Array.prototype.map.call(classesNodeList, function(element) {
            return element.value;
            });

            console.log(values);

            //var r = new XMLHttpRequest(); 
            //r.open("POST", "webservice", true);
            //r.onreadystatechange = function () {
            //    if (r.readyState != 4 || r.status != 200) return; 
            //    console.log(r.responseText);
            //};
            //r.send("a=1&b=2&c=3");

        });
    });
</script>