<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>IsKlinika</title>
     <link rel="stylesheet" href="/public/css/messages.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/css/selectize.default.css">
    <link rel="stylesheet" href="/public/css/bootstrap.min.css">
    <link rel="stylesheet" href="/public/css/sb-admin-2.min.css">
    <link rel="stylesheet" href="/public/css/sb-admin-2.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/css/select2.min.css" />

    <!-- Custom fonts for this template-->
    <link href="public/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="public/css/sb-admin-2.min.css" rel="stylesheet">

    <style>
        .div[class*="divmenu"]:first-of-type {
            display: block;
        }

        .divmenu {
            display: none;
            border-top: none;
        }


        .pdfobject-container { 
            height: 30rem; 
            border: 1rem solid rgba(0,0,0,.1); 
        }

        #studentDiv{
            display: none;
        }

        #lastVisit{
            display: none;
        }

        .valid-feedback .status{
            display: none;
        }

        .invalid-feedback .status{
            display: none;
        }

        .select2-container--default .select2-selection--single,
        .select2-selection .select2-selection--single {
            display: block;
            width: 100%;
            height: calc(1.5em + 0.75rem + 2px);
            padding: 6px 36px 6px 12px;
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.5;
            color: #6e707e;
            background-color: #fff;
            background-clip: padding-box;
            border: 1px solid #d1d3e2;
            border-radius: 0.35rem;
            transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
        }

        .select2-container--default .select2-selection--single,
        .select2-selection .select2-selection--single {
            display: block;
            width: 100%;
            height: calc(1.5em + 0.75rem + 2px);
            padding: 6px 36px 6px 12px;
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.5;
            color: #6e707e;
            background-color: #fff;
            background-clip: padding-box;
            border: 1px solid #d1d3e2;
            border-radius: 0.35rem;
            transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
        }
        .select2-container--default .select2-selection--single,
        .select2-selection .select2-selection--single{
            border-color: #1cc88a;
            padding-right: calc(1.5em + 0.75rem);
            background-image: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath fill='%231cc88a' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3e%3c/svg%3e);
            background-repeat: no-repeat;
            background-position: right calc(0.375em + 0.1875rem) center;
            background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
        }

        .select2-container--default .select2-selection--single {
            display: block;
            width: 100%;
            height: calc(1.5em + 0.75rem + 2px);
            padding: 6px 36px 6px 12px;
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.5;
            color: #6e707e;
            background-color: #fff;
            background-clip: padding-box;
            border: 1px solid #d1d3e2;
            border-radius: 0.35rem;
            transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
        }

        .select2-container .select2-selection--single {
            display: block;
            width: 100%;
            height: calc(1.5em + 0.75rem + 2px);
            padding: 6px 36px 6px 12px;
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.5;
            color: #6e707e;
            background-color: #fff;
            background-clip: padding-box;
            border: 1px solid #d1d3e2;
            border-radius: 0.35rem;
            transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
        }

        .select2-container .select2-selection--single .select2-selection__rendered {
            padding-right: 10px
        }

        .select2-container .select2-selection--single .select2-selection__rendered {
            padding-left: 0;
            padding-right: 0;
            height: auto;
            margin-top: -3px;
        }

        .select2-container .select2-selection--single {
           margin-bottom: 8px;
        }

        .select2-container--default .select2-selection--single .select2-selection__rendered {
            color: #6e707e;
            line-height: 28px
        }

        .select2-container--default .select2-selection--single .select2-selection__arrow {
            height: 26px;
            position: absolute;
            top: 6px !important;
            right: 1px;
            width: 20px
        }
    </style>

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/dashboard" style="pointer-events: none; cursor: default;">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-user-md"></i>
                </div>
                <div class="sidebar-brand-text mx-3 text-capitalize">IsKlinika</div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            {{#if isNurse}}
            <!-- Nav Item - Clinic Visit -->
            <li class="nav-item active">
                <a class="nav-link" href="/clinic-visit">
                    <i class="fas fa-fw fa-medkit"></i>
                    <span>Clinic Visit</span></a>
            </li>

            <!-- Nav Item - Profile -->
            <li class="nav-item">
                <a class="nav-link" href="/profile">
                    <i class="fas fa-fw fa-user"></i>
                    <span>Student Profile</span></a>
            </li>

            <!-- Nav Item - Health Assessment -->
            <li class="nav-item">
                <a class="nav-link" href="/health-assessment">
                    <i class="fas fa-fw fa-stethoscope"></i>
                    <span>Health Assessment</span></a>
            </li>

            <!-- Nav Item - Inventory -->
            <li class="nav-item">
                <a href="#inventory" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle nav-link">
                    <i class="fas fa-fw fa-archive"></i>
                    <span>Inventory</span></a>
                <ul class="collapse list-unstyled" id="inventory">
                    <li>
                        <a class="nav-link" href="/inventory-medicine">
                            <i class="fas fa-fw fa-tablets"></i>
                            <span>Medicine</span></a>
                    </li>
                    <li>
                        <a class="nav-link" href="/inventory-supply">
                            <i class="fas fa-fw fa-pump-medical"></i>
                            <span>Supply</span></a>
                    </li>
                    <li>
                        <a class="nav-link" href="/inventory-dental">
                            <i class="fas fa-fw fa-tooth"></i>
                            <span>Dental</span></a>
                    </li>
                </ul>
            </li>

            <!-- Nav Item - Promotive Care -->
            <li class="nav-item">
                <a class="nav-link" href="/promotive-care">
                    <i class="fas fa-fw fa-child"></i>
                    <span>Promotive Care</span></a>
            </li>

            <!-- Nav Item - Communications -->
            <li class="nav-item">
                <a class="nav-link" href="/communications">
                    <i class="fas fa-fw fa-comments"></i>
                    <span>Communications</span></a>
            </li>

            {{else}}
            <!-- Nav Item - Dashboard -->
            <li class="nav-item">
                <a class="nav-link" href="/dashboard">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Dashboard</span></a>
            </li>
            
            <!-- Nav Item - Disease Surveillance -->
            <li class="nav-item">
                <a class="nav-link" href="/disease-surveillance">
                    <i class="fas fa-fw fa-virus"></i>
                    <span>Disease Surveillance</span></a>
            </li>

            <!-- Nav Item - Clinic Visit -->
            <li class="nav-item">
                <a class="nav-link active" href="/clinic-visit">
                    <i class="fas fa-fw fa-medkit"></i>
                    <span>Clinic Visit</span></a>
            </li>

            <!-- Nav Item - Profile -->
            <li class="nav-item">
                <a class="nav-link" href="/profile">
                    <i class="fas fa-fw fa-user"></i>
                    <span>Student Profile</span></a>
            </li>

            <!-- Nav Item - Health Assessment -->
            <li class="nav-item">
                <a class="nav-link" href="/health-assessment">
                    <i class="fas fa-fw fa-stethoscope"></i>
                    <span>Health Assessment</span></a>
            </li>

            <!-- Nav Item - Inventory -->
            <li class="nav-item">
                <a href="#inventory" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle nav-link">
                    <i class="fas fa-fw fa-archive"></i>
                    <span>Inventory</span></a>
                <ul class="collapse list-unstyled" id="inventory">
                    <li>
                        <a class="nav-link" href="/inventory-medicine">
                            <i class="fas fa-fw fa-tablets"></i>
                            <span>Medicine</span></a>
                    </li>
                    <li>
                        <a class="nav-link" href="/inventory-supply">
                            <i class="fas fa-fw fa-pump-medical"></i>
                            <span>Supply</span></a>
                    </li>
                    <li>
                        <a class="nav-link" href="/inventory-dental">
                            <i class="fas fa-fw fa-tooth"></i>
                            <span>Dental</span></a>
                    </li>
                </ul>
            </li>

            <!-- Nav Item - Promotive Care -->
            <li class="nav-item">
                <a class="nav-link" href="/promotive-care">
                    <i class="fas fa-fw fa-child"></i>
                    <span>Promotive Care</span></a>
            </li>

            <!-- Nav Item - Performance Assessment -->
            <li class="nav-item">
                <a class="nav-link" href="/performance-assessment">
                    <i class="fas fa-fw fa-star"></i>
                    <span>Performance Assessment</span></a>
            </li>

            <!-- Nav Item - Communications -->
            <li class="nav-item">
                <a class="nav-link" href="/communications">
                    <i class="fas fa-fw fa-comments"></i>
                    <span>Communications</span></a>
            </li>

            <!-- Nav Item - Reports -->
            <li class="nav-item">
                <a href="#report" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle nav-link">
                    <i class="fas fa-fw fa-table"></i>
                    <span>Reports</span></a>
                <ul class="collapse list-unstyled" id="report">
                    <li>
                        <a class="nav-link" href="/reports-clinic-visit">
                            <i class="fas fa-fw fa-medkit"></i>
                            <span>Clinic Visit</span></a>
                    </li>
                    <li>
                        <a class="nav-link" href="/reports-health-assessment">
                            <i class="fas fa-fw fa-stethoscope"></i>
                            <span>Health Assessment</span></a>
                    </li>
                    <li>
                        <a class="nav-link" href="/reports-inventory">
                            <i class="fas fa-fw fa-archive"></i>
                            <span>Inventory</span></a>
                    </li>
                    <li>
                        <a class="nav-link" href="#">
                            <i class="fas fa-fw fa-child"></i>
                            <span>Promotive Care</span></a>
                    </li>
                </ul>
            </li>
            {{/if}}

            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>

        </ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>

                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">

                        <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                        <li class="nav-item dropdown no-arrow d-sm-none">
                            <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-search fa-fw"></i>
                            </a>
                            <!-- Dropdown - Messages -->
                            <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                                aria-labelledby="searchDropdown">
                                <form class="form-inline mr-auto w-100 navbar-search">
                                    <div class="input-group">
                                        <input type="text" class="form-control bg-light border-0 small"
                                            placeholder="Search for..." aria-label="Search"
                                            aria-describedby="basic-addon2">
                                        <div class="input-group-append">
                                            <button class="btn btn-primary" type="button">
                                                <i class="fas fa-search fa-sm"></i>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </li>

                        {{>notifications}}

                        <div class="topbar-divider d-none d-sm-block"></div>

                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#drop-menu" id="userDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small">Welcome, {{user.firstName}} {{user.lastName}}!</span>
                                <img class="img-profile rounded-circle" src="public/img/undraw_profile.svg">
                            </a>
                            <!-- Dropdown - User Information -->
                            <div id="drop-menu" class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="userDropdown">
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Settings
                                </a>
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Activity Log
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" data-toggle="modal" data-target="#logoutModal">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Logout
                                </a>
                            </div>
                        </li>

                    </ul>

                </nav>
                
                <!-- /.container-fluid -->

                <div class="container-fluid">
                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4"><h1 class="h3 mb-0 text-gray-800">Medication Error Report Form</h1></div>

                    {{!-- {{#if isNurse}} --}}
                    <div class="card shadow mb-2">
                        <div class="card-header py-3"><h6 class="m-0 font-weight-bold text-primary">Incident Details</h6></div>
                        <div class="card-body">
                            <div class="form-row align-items-center">
                                <div class="col-3">
                                    <label for="incidentDate" class="col-form-label">Date of Incident</label>
                                    <input type="date" class="form-control mb-2" id="incidentDate" name="incidentDate">
                                </div>
                                <div class="col-2">
                                    <label for="incidentTime" class="col-form-label">Time of Incident</label>
                                    <input type="time" class="form-control mb-2" id="incidentTime" name="incidentTime">
                                </div>
                                                                
                            </div>

                            <div class="form-row align-items-center">
                                <div class="col-5">
                                    <label class="col-form-label" for="reportBy">Report by</label>
                                    <select class="custom-select mb-2" id="reportBy" name="reportBy">
                                        <option value="{{user.firstName}} {{user.lastName}}"> {{user.firstName}} {{user.lastName}}</option>
                                    </select>  
                                </div> 
                            </div>
                        </div>
                    </div>

                    <div class="card shadow mb-2">
                        <div class="card-header py-3"><h6 class="m-0 font-weight-bold text-primary">Student Details</h6></div>
                        <div class="card-body">
                            <div class="form-row align-items-center">
                                <div class="col-4">
                                    <label class="col-form-label" for="studentID">Student ID Number</label>
                                    <input type="text" class="form-control mb-2" id="studentID" name="studentId">
                                </div>
                                <div class="col-5">
                                    <label class="col-form-label" for="studentName">Student Name</label>
                                    <input type="text" class="form-control mb-2" id="studentName">
                                </div>
                            </div>

                            <div class="form-row align-items-center">
                                <div class="col-4">
                                    <label for="studentGrd" class="col-form-label">Grade</label>
                                    <select class="custom-select mb-2" id="studentGrade">
                                        <option value="1">One</option>
                                        <option value="2">Two</option>
                                        <option value="3">Three</option>
                                        <option value="4">Four</option>
                                        <option value="5">Five</option>
                                        <option value="6">Six</option>
                                    </select>
                                </div>
                                <div class="col-5">
                                    <label for="studentSec" class="col-form-label">Section</label>
                                    <input type="text" class="form-control mb-2" id="studentSection">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card shadow mb-2">
                        <div class="card-header py-3"><h6 class="m-0 font-weight-bold text-primary">Medication Error Details</h6></div>                     
                        <div class="card-body">
                            <div class="form-row">
                                <div class="col-4">
                                    <label class="col-form-label  align-items-baseline">Administration Error</label>
                                    <hr style="width: 95%; margin: -5px; height: 2px;"></hr>                                                            
                                </div>
                                <div class="col-4">
                                    <label class="col-form-label  align-items-baseline">Prescription Error</label>
                                    <hr style="width: 95%; margin: -5px; height: 2px;"></hr> 
                                </div>
                                <div class="col-4">
                                    <label class="col-form-label  align-items-baseline">Supply Error</label>
                                    <hr style="width: 95%; margin: -5px; height: 2px;"></hr> 
                                </div>
                            </div>
                            <div class="form-row align-items-start mt-3 mb-2">
                                <div class="col-4">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="doseOmission">
                                        <label class="form-check-label" for="doseOmission">
                                            Dose omission
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="doseDelay">
                                        <label class="form-check-label" for="doseDelay">
                                            Dose delay
                                        </label>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="ineffectiveDose">
                                        <label class="form-check-label" for="ineffectiveDose">
                                            Ineffective dose
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="drugInteraction">
                                        <label class="form-check-label" for="drugInteraction">
                                            Drug interaction
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="drugAllergy">
                                        <label class="form-check-label" for="drugAllergy">
                                            Drug allergy
                                        </label>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="noStock">
                                        <label class="form-check-label" for="noStock">
                                            Inadequate stock
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="expiredStock">
                                        <label class="form-check-label" for="expiredStock">
                                            Expired stock
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row align-items-center">
                                <div class="col-12">
                                    <label class="col-form-label" for="description">Description of the Incident</label>
                                    <textarea type="text" class="form-control mb-2" id="description" name ="description" rows="6"></textarea>                   
                                </div>
                            </div>
                            <div class="form-row align-items-center">
                                <div class="col-6">
                                    <label class="col-form-label" for="consequences">Clinical Consequences</label>
                                    <textarea type="text" class="form-control mb-2" id="consequences" name ="consequences" rows="6"></textarea>
                                </div>
                                <div class="col-6">
                                    <label class="col-form-label" for="action">Action Taken/Intervention</label>
                                    <textarea type="text" class="form-control mb-2" id="action" name ="action" rows="6"></textarea>
                                </div>
                            </div>
                            <div class="form-row align-items-center">                               
                                <div class="col-6">
                                    <label class="col-form-label" for="care">Further Recommended Care</label>
                                    <textarea type="text" class="form-control mb-2" id="care" name ="care" rows="6"></textarea>
                                </div>
                                <div class="col-6">
                                    <label class="col-form-label" for="notes">Notes to Parent/Guardian</label>
                                    <textarea type="text" class="form-control mb-2" id="notes" name="notes" rows="6"></textarea>
                                </div>
                            </div>

                            <div class="d-flex justify-content-end mt-4 col-12">
                                <button type="button" id="saveBtn" class="mr-2 p-2 d-none d-sm-inline-block btn btn-sm btn-success shadow-sm"><i class="mr-1 fas fa-check text-white-50"></i>Save</button>                                    
                                <a href="/clinic-visit" class="p-2 d-none d-sm-inline-block btn btn-sm btn-danger shadow-sm"><i class="mr-1 fas fa-times text-white-50"></i> Cancel</a>                                        
                            </div>
                        </div>
                    </div>
                </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; IsKlinika 2021</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <form method="post" action="/logout">
                        <button class="btn btn-primary">Logout</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://use.fontawesome.com/releases/v5.14.0/js/all.js"></script>
    <script src="/public/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/js/standalone/selectize.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.js"></script>

    <!-- Bootstrap core JavaScript-->
    <script src="public/vendor/jquery/jquery.min.js"></script>
    <script src="public/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="public/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="public/js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="public/vendor/chart.js/Chart.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="public/js/demo/chart-area-demo.js"></script>
    <script src="public/js/demo/chart-pie-demo.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>

    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
            integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
            crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/js/select2.full.min.js"></script>

    <script type='text/javascript'>
    $(document).ready(function() {
        $('span.select2-selection.select2-selection--multiple').css('border', '1px solid #d1d3e2');

        //var typedID = document.getElementById("studentID").value;

        //$.get("/getStudentRecord", {studentID: typedID}, function(data){
        //    console.log(data);
            
            // same sa clinic-visit-create if empty yung data ibig sabihin not existing ung student
            // data.firstName + '' + data.middleName + ' ' + data.lastName
            // data.grade
            // data.section
        //});

        $("#studentID").change(function(){
            var typedID = $('#studentID').val();
            // --------------------------------- STUDENT PROFILE ------------------------------
            $.get("/getStudentRecord", {studentID: typedID}, function(data){
                console.log("Student info");
                console.log(data);

                //auto-fill form
                $('#studentID').val(typedID);
                $('#studentName').val(data.firstName + " " + data.middleName + " " + data.lastName);
                if(data.grade)
                    $('#studentGrade').val(data.grade);
                if(data.section)
                    $('#studentSection').val(data.section);  
            });
        });

        $('#saveBtn').click(function(){
            var incidentDate = $('#incidentDate').val(); 
            console.log(incidentDate);

            var incidentTime = $('#incidentTime').val(); 
            console.log(incidentTime);
            
            var nurse =  $('#reportBy').find(":selected").val();   
            console.log(nurse);

            var studentID = $('#studentID').val();
            console.log(studentID);
            
            var studentName = $('#studentName').val(); 
            console.log(studentName);

            var studentGrade = $('#studentGrade').val(); 
            console.log(studentGrade);
                
            var studentSection = $('#studentSection').val(); 
            console.log(studentSection);

            var doseOmission = document.getElementById("doseOmission").checked; 
            console.log(doseOmission); 
            
            var doseDelay = document.getElementById("doseDelay").checked;
            console.log(doseDelay);

            var ineffectiveDose = document.getElementById("ineffectiveDose").checked;
            console.log(ineffectiveDose);

            var drugInteraction = document.getElementById("drugInteraction").checked;
            console.log(drugInteraction);

            var drugAllergy = document.getElementById("drugAllergy").checked; 
            console.log(drugAllergy);

            var noStock = document.getElementById("noStock").checked;
            console.log(noStock); 
            
            var expiredStock = document.getElementById("expiredStock").checked;
            console.log(expiredStock);

            var description = $('#description').val();
            console.log(description);
            
            var consequences = $('#consequences').val(); 
            console.log(consequences);

            var action = $('#action').val(); 
            console.log(action);
                
            var care = $('#care').val(); 
            console.log(care);

            var notes = $('#notes').val(); 
            console.log(notes);

            //AJAX HERE
            $.ajax({
                url: '/addIncidenceReport',
                method: 'POST',
                data: {
                    incidentDate: incidentDate,
                    incidentTime: incidentTime,
                    reportedBy: nurse,
                    studentId: studentID,
                    studentName: studentName,
                    studentGrade: studentGrade,
                    studentSection: studentSection,

                    doseOmission: doseOmission,
                    doseDelay: doseDelay,
                    ineffectiveDose: ineffectiveDose,
                    drugInteraction: drugInteraction,
                    drugAllergy: drugAllergy,
                    noStock: noStock,
                    expiredStock: expiredStock,
                    
                    description: description,
                    consequences: consequences,
                    action: action,
                    care: care,
                    notes: notes
                },
                success: function(data) {
                    console.log("success in ajax!");
                    window.location.href = "/clinic-visit";
                }
            }); 
        });
    });
    </script>
</body>

</html>