<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>IsKlinika</title>
     <link rel="stylesheet" href="/public/css/messages.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/css/selectize.default.css">
    <link rel="stylesheet" href="/public/css/bootstrap.min.css">
    <link rel="stylesheet" href="/public/css/sb-admin-2.min.css">
    <link rel="stylesheet" href="/public/css/sb-admin-2.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/css/select2.min.css" />

    <!-- Custom fonts for this template-->
    <link href="public/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="public/css/sb-admin-2.min.css" rel="stylesheet">

    <style>
        .div[class*="divmenu"]:first-of-type {
            display: block;
        }

        .divmenu {
            display: none;
            border-top: none;
        }

        #lastVisit{
            display: none;
        }

        #studentDiv{
            display: none;
        }

        #lastVisit{
            display: none;
        }

        .valid-feedback .status{
            display: none;
        }

        .invalid-feedback .status{
            display: none;
        }

        .select2-container--default .select2-selection--single,
        .select2-selection .select2-selection--single {
            display: block;
            width: 100%;
            height: calc(1.5em + 0.75rem + 2px);
            padding: 6px 36px 6px 12px;
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.5;
            color: #6e707e;
            background-color: #fff;
            background-clip: padding-box;
            border: 1px solid #d1d3e2;
            border-radius: 0.35rem;
            transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
        }

        .select2-container--default .select2-selection--single,
        .select2-selection .select2-selection--single {
            display: block;
            width: 100%;
            height: calc(1.5em + 0.75rem + 2px);
            padding: 6px 36px 6px 12px;
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.5;
            color: #6e707e;
            background-color: #fff;
            background-clip: padding-box;
            border: 1px solid #d1d3e2;
            border-radius: 0.35rem;
            transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
        }
        .select2-container--default .select2-selection--single,
        .select2-selection .select2-selection--single{
            border-color: #1cc88a;
            padding-right: calc(1.5em + 0.75rem);
            background-image: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath fill='%231cc88a' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3e%3c/svg%3e);
            background-repeat: no-repeat;
            background-position: right calc(0.375em + 0.1875rem) center;
            background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
        }

        .select2-container--default .select2-selection--single {
            display: block;
            width: 100%;
            height: calc(1.5em + 0.75rem + 2px);
            padding: 6px 36px 6px 12px;
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.5;
            color: #6e707e;
            background-color: #fff;
            background-clip: padding-box;
            border: 1px solid #d1d3e2;
            border-radius: 0.35rem;
            transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
        }

        .select2-container .select2-selection--single {
            display: block;
            width: 100%;
            height: calc(1.5em + 0.75rem + 2px);
            padding: 6px 36px 6px 12px;
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.5;
            color: #6e707e;
            background-color: #fff;
            background-clip: padding-box;
            border: 1px solid #d1d3e2;
            border-radius: 0.35rem;
            transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
        }

        .select2-container .select2-selection--single .select2-selection__rendered {
            padding-right: 10px
        }

        .select2-container .select2-selection--single .select2-selection__rendered {
            padding-left: 0;
            padding-right: 0;
            height: auto;
            margin-top: -3px;
        }

        .select2-container .select2-selection--single {
           margin-bottom: 8px;
        }

        .select2-container--default .select2-selection--single .select2-selection__rendered {
            color: #6e707e;
            line-height: 28px
        }

        .select2-container--default .select2-selection--single .select2-selection__arrow {
            height: 26px;
            position: absolute;
            top: 6px !important;
            right: 1px;
            width: 20px
        }
    </style>

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/dashboard" style="pointer-events: none; cursor: default;">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-user-md"></i>
                </div>
                <div class="sidebar-brand-text mx-3 text-capitalize">IsKlinika</div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Clinic Visit -->
            <li class="nav-item active">
                <a class="nav-link" href="/clinic-visit">
                    <i class="fas fa-fw fa-medkit"></i>
                    <span>Clinic Visit</span></a>
            </li>

            <!-- Nav Item - Profile -->
            <li class="nav-item">
                <a class="nav-link" href="/profile">
                    <i class="fas fa-fw fa-user"></i>
                    <span>Student Profile</span></a>
            </li>

            <!-- Nav Item - Health Assessment -->
            <li class="nav-item">
                <a class="nav-link" href="/health-assessment">
                    <i class="fas fa-fw fa-stethoscope"></i>
                    <span>Health Assessment</span></a>
            </li>

            <!-- Nav Item - Inventory -->
            <li class="nav-item">
                <a href="#inventory" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle nav-link">
                    <i class="fas fa-fw fa-archive"></i>
                    <span>Inventory</span></a>
                <ul class="collapse list-unstyled" id="inventory">
                    <li>
                        <a class="nav-link" href="/inventory-medicine">
                            <i class="fas fa-fw fa-tablets"></i>
                            <span>Medicine</span></a>
                    </li>
                    <li>
                        <a class="nav-link" href="/inventory-supply">
                            <i class="fas fa-fw fa-pump-medical"></i>
                            <span>Supply</span></a>
                    </li>
                    <li>
                        <a class="nav-link" href="/inventory-dental">
                            <i class="fas fa-fw fa-tooth"></i>
                            <span>Dental</span></a>
                    </li>
                </ul>
            </li>

            <!-- Nav Item - Promotive Care -->
            <li class="nav-item">
                <a class="nav-link" href="/promotive-care">
                    <i class="fas fa-fw fa-child"></i>
                    <span>Promotive Care</span></a>
            </li>

            <!-- Nav Item - Communications -->
            <li class="nav-item">
                <a class="nav-link" href="/communications">
                    <i class="fas fa-fw fa-comments"></i>
                    <span>Communications</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>

        </ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>

                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">

                        <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                        <li class="nav-item dropdown no-arrow d-sm-none">
                            <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-search fa-fw"></i>
                            </a>
                            <!-- Dropdown - Messages -->
                            <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                                aria-labelledby="searchDropdown">
                                <form class="form-inline mr-auto w-100 navbar-search">
                                    <div class="input-group">
                                        <input type="text" class="form-control bg-light border-0 small"
                                            placeholder="Search for..." aria-label="Search"
                                            aria-describedby="basic-addon2">
                                        <div class="input-group-append">
                                            <button class="btn btn-primary" type="button">
                                                <i class="fas fa-search fa-sm"></i>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </li>

                        {{>notifications}}

                        <div class="topbar-divider d-none d-sm-block"></div>

                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#drop-menu" id="userDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small">Welcome, {{user.firstName}} {{user.lastName}}!</span>
                                <img class="img-profile rounded-circle" src="public/img/undraw_profile.svg">
                            </a>
                            <!-- Dropdown - User Information -->
                            <div id="drop-menu" class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="userDropdown">
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Settings
                                </a>
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Activity Log
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" data-toggle="modal" data-target="#logoutModal">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Logout
                                </a>
                            </div>
                        </li>

                    </ul>

                </nav>
                
                <!-- /.container-fluid -->

                <div class="container-fluid">
                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4"><h1 class="h3 mb-0 text-gray-800">Medication Form</h1></div>
                    {{!-- {{#if isNurse}} --}}
                    <!-- Basic Card Example -->
                    <div class="card shadow mb-2">
                        <div class="card-body">
                            <form class="user">
                                <div><label class="form-row align-items-center ml-2 font-weight-bold text-primary" for="studentVisit">Student</label></div>
                                <div class="input-group mb-3">
                                    <input type="text" name="studentID" class="form-control" id="studentVisit" placeholder="Enter student ID number.." aria-describedby="basic-addon2">
                                    <div class="input-group-append">
                                        <button type="button" class="btn btn-primary shadow-sm" style="color: white; !important" onclick="searchProfile()">View Record</button>                                    
                                    </div>
                                </div>
                                <div class="invalid-feedback align-items-center" style="font-size: 12px; display: none;" id="errorDiv">
                            </form>
                        </div>
                    </div>
                </div>
                <div class="card shadow mb-2" id="studentDiv">
                    <div class="card-body">
                            <!-- Card Header - Accordion -->
                        <a href="#collapseCV" class="d-block card-header py-3" data-toggle="collapse"
                            role="button" aria-expanded="true" aria-controls="collapseCardExample">
                            <h6 class="m-0 font-weight-bold text-primary" id="headerNameCollapse"></h6>
                        </a>
                        <!-- Card Content - Collapse -->
                        <div class="collapse" id="collapseCV">
                            <div class="card-body">
                                <div class="container-fluid">
                                    <div class="row mb-3">
                                        <div class="col-lg-12">
                                            <div class="card mb-3">
                                                <div class="card-header py-3"><h6 class="text-primary font-weight-bold m-0">Student Information</h6></div>
                                                <div class="card-body text-left shadow pl-5" style="display:inline-block !important; vertical-align:top !important;">
                                                    <img id="studentPic"  class="img-profile rounded-circle" src="public/img/undraw_profile.svg" width="160" height="160">
                                                    <div class="ml-3 mb-3 mt-4" style="display:inline-block !important; vertical-align: middle !important">
                                                        <h4 class="font-weight-bold ml-4" id="nameHeaderVisit">Jhose Mhiguel D. De Asis</h4>
                                                        <h5 class="font-weight-normal ml-4" id="gradeSection"></h5>
                                                        <h5 class="font-weight-normal ml-4" id="idHeaderVisit"></h5>
                                                        <h5 class="font-weight-normal ml-4" id="studentTypeHeader"></h5>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="card btn-group btn-group-toggle mb-3" style="flex-direction:row !important;" data-toggle="buttons">
                                                <label class="btn btn-primary active">
                                                <input class="categorybtn active" type="radio" name="options" autocomplete="off" onclick="openDiv(event, 'personalInfo')"> Personal Inforamtion
                                                </label>
                                                <label class="btn btn-primary">
                                                <input class="categorybtn" type="radio" name="options" autocomplete="off" onclick="openDiv(event, 'growthMonitoring')"> Growth Monitoring
                                                </label>
                                                <label class="btn btn-primary">
                                                <input class="categorybtn" type="radio" name="options" autocomplete="off" onclick="openDiv(event, 'clinicVisit')"> Clinic Visit
                                                </label>
                                                <label class="btn btn-primary">
                                                <input class="categorybtn" type="radio" name="options" autocomplete="off" onclick="openDiv(event, 'immunization')"> Immunization
                                                </label>
                                                <label class="btn btn-primary">
                                                <input class="categorybtn" type="radio" name="options" autocomplete="off" onclick="openDiv(event, 'medHistory')"> Medical History
                                                </label>
                                                <label class="btn btn-primary">
                                                <input class="categorybtn" type="radio" name="options" autocomplete="off" onclick="openDiv(event, 'allergies')"> Allergies
                                                </label>
                                                <label class="btn btn-primary">
                                                <input class="categorybtn" type="radio" name="options" autocomplete="off" onclick="openDiv(event, 'medication')"> Medication
                                                </label>
                                                <label class="btn btn-primary">
                                                <input class="categorybtn" type="radio" name="options" autocomplete="off" onclick="openDiv(event, 'uploads')"> Uploads
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {{!-- END OF STUDENT PROFILE --}}
                        </div>
                    </div>
                </div>
                <div class="card shadow mb-2" id="lastVisit">
                        <div class="card-header py-3"><h6 class="m-0 font-weight-bold text-primary">Last Clinic Visit</h6></div>
                        <div class="card-body">
                            <div class="form-row mb-2">
                                <div class="col">
                                    <div class="font-weight-bold">Attending Nurse</span></div>
                                    <div class="font-weight-normal" id="lvNurse">Rose Pangilinan</span></div>                                        
                                </div>
                                <div class="col">
                                    <div class="font-weight-bold">Visit Date</span></div>
                                    <div class="font-weight-normal" id="lvDate">10/18/2021</span></div>                                        
                                </div>
                                <div class="col">
                                    <div class="font-weight-bold">Time In</span></div>
                                    <div class="font-weight-normal" id="lvTI">12:03 pm</span></div>                                        
                                </div>
                                <div class="col">
                                    <div class="font-weight-bold">Time Out</span></div>
                                    <div class="font-weight-normal" id="lvTO">12:15 pm</span></div>                                        
                                </div>
                            </div>
                            <div class="form-row mb-2">
                                <div class="col">
                                    <div class="font-weight-bold">Body Temperature</span></div>
                                    <div class="font-weight-normal" id="lvBT">38 °C</span></div>                                        
                                </div>
                                <div class="col">
                                    <div class="font-weight-bold">Blood Pressure</span></div>
                                    <div class="font-weight-normal" id="lvBP">-</span></div>                                        
                                </div>
                                <div class="col">
                                    <div class="font-weight-bold">Pulse Rate</span></div>
                                    <div class="font-weight-normal" id="lvPR">-</span></div>                                        
                                </div>
                                <div class="col">
                                    <div class="font-weight-bold">Respiration Rate</span></div>
                                    <div class="font-weight-normal" id="lvRR">-</span></div>                                        
                                </div>
                            </div>
                            <div class="form-row mb-2">
                                <div class="col-3">
                                    <div class="font-weight-bold">Complaint/Reason for Visit</span></div>
                                    <div class="font-weight-normal" id="lvReason">Headache</span></div>                                        
                                </div>
                                <div class="col">
                                    <div class="font-weight-bold">Treatment</span></div>
                                    <div class="font-weight-normal" id="lvTreatment">Give medication and observe in the clinic</span></div>                                        
                                </div>
                                <div class="col-3">
                                    <div class="font-weight-bold">Status</span></div>
                                    <div class="font-weight-normal" id="lvStatus">Treated</span></div> 
                                </div>
                            </div>
                            <hr class="w-10 mb-2"></hr>   
                            <div class="form-row mb-2">
                                <div class="col">
                                    <div class="font-weight-bold">Diagnosis</span></div>
                                    <div class="font-weight-normal" id="lvDiagnosis">Fever</span></div>                                        
                                </div>
                            </div>
                            <hr class="w-10 mb-2"></hr>                                            
                            <div class="form-row mb-2">
                                <div class="col">
                                    <div class="font-weight-bold">Notes/Recommendations</span></div>
                                    <div class="font-weight-normal" id="lvNotes">Don’t let your child go to school if fever continues. Let him rest.</span></div>                                        
                                </div>
                            </div>
                        </div>
                    </div>
                <div class="card shadow mb-2">
                    <div class="card-header py-3"><h6 class="m-0 font-weight-bold text-primary">Visit Details</h6></div>
                    <div class="card-body">
                        <div class="form-row align-items-center">
                            <div class="col-4">
                                <label for="clinicDate" class="col-form-label">Visit Date</label>
                                <input type="date" class="form-control mb-2" id="visitDate" name="visitDate" disabled="true">
                            </div>
                            <div class="col-5">
                                <label class="col-form-label" for="clinicianVisit">Attending Nurse<label style="color:red">*</label></label>
                                <select class="custom-select mb-2" id="attendingNurse" name="attendingNurse">
                                    <option value="{{user.key}}">{{user.firstName}} {{user.lastName}}</option>
                                </select>  
                            </div>                                 
                        </div>

                        <div class="form-row align-items-center">
                            <div class="col-2">
                                <label for="clinicIn" class="col-form-label">Time In<label style="color:red">*</label></label>
                                <input type="time" class="form-control mb-2" id="clinicIn" name="clinicIn">
                            </div>
                            <div class="col-2">
                                <label for="clinicOut" class="col-form-label">Time Out<label style="color:red">*</label></label>
                                <input type="time" class="form-control mb-2" id="clinicOut" name="clinicOut">
                            </div>   
                        </div>

                        <div class="form-row align-items-center">
                            <div class="col-4">
                                <label class="col-form-label" for="studentID">Student ID Number<label style="color:red">*</label></label>
                                <input type="text" class="form-control mb-2" id="studentID" name="studentId">
                            </div>
                            <div class="col-5">
                                <label class="col-form-label" for="studentName">Student Name</label>
                                <input type="text" class="form-control mb-2" id="studentName" disabled="true">
                            </div>
                        </div>

                        <div class="form-row align-items-center">
                            <div class="col-4">
                                <label for="studentGrd" class="col-form-label">Grade</label>
                                <select class="custom-select mb-2" id="studentGrade" disabled="true">
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                    <option value="4">Four</option>
                                    <option value="5">Five</option>
                                    <option value="6">Six</option>
                                </select>
                            </div>
                            <div class="col-5">
                                <label for="studentSec" class="col-form-label">Section</label>
                                <input type="text" class="form-control mb-2" id="studentSection" disabled="true">
                            </div>
                        </div>

                    </div>
                </div>

                <!-- Medication -->
                <div class="card shadow mb-2">
                    <div class="card-header py-3"><h6 class="m-0 font-weight-bold text-primary">Medication</h6></div>                     
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-8">                                
                                <div class="row">
                                    <div class="col-6">
                                        <label class="col-form-label" for="medicationVisit">Medication<label style="color:red">*</label></label>
                                        <input list="medications" class="form-control mb-2" id="medicationVisit" onchange="selectChanged(this)">                                       
                                        <datalist id="medications">
                                            {{#each medicines}}
                                                <option medName="{{medicine}}" medValue="{{name}}" value="{{medicine}}"></option>   
                                            {{/each}}                        
                                        </datalist>                                                                  
                                    </div>
                                    <div class="col-5">
                                        <label class="col-form-label" for="amountMed">Dose<label style="color:red">*</label></label>
                                        <input type="text" class="form-control mb-2" id="amountMed" name="amountMed">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-6">
                                        <div id="validMedicaton" class="valid-feedback font-weight-bold"></div>
                                        <div id="invalidMedicaton" class="invalid-feedback font-weight-bold"></div>                                    
                                    </div>
                                    <div class="col-5">
                                        <div id="validAmount" class="valid-feedback font-weight-bold"></div>
                                        <div id="invalidAmount" class="invalid-feedback font-weight-bold"></div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div id="takenDiv" class="col-3 align-items-center">
                                        <label class="col-form-label" for="timeTaken">Time<label style="color:red">*</label></label>
                                        <input type="time" class="form-control mb-2" id="timeTaken" name="timeTaken">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="well" style="display: none;" id="errorMed">  
                                    <div class="alert alert-danger" role="alert">
                                        <p class="alert-heading">
                                            <i class="fa fa-exclamation-circle"></i>
                                            <strong class="mx-1">Drug interaction found</strong>
                                        </p>
                                        <p id="interactionDiv"></p>
                                    </div>                             
                                </div>
                                <div class="well" style="display: none;" id="successMed">  
                                    <div class="alert alert-success" role="alert">
                                        <p class="alert-heading">
                                            <i class="fa fa-check-circle"></i>
                                            <strong class="mx-1">No drug interaction found</strong>
                                        </p>
                                        <p id="noInteractionDiv"></p>
                                    </div>                             
                                </div>
                            </div>
                        </div>
                        <a class="btn btn-link"  id="addMedication"><i class="fas fa-plus-circle fa-plus-circle text-blue-50"></i> Add Medication</a>
                    
                        <!-- <div id="container"></div> -->
                        <table class="table" id="dynamic_field">  

                        </table>

                        <div class="d-flex justify-content-end mt-4 col-12">
                            <button type="button" id="saveBtn" class="mr-2 p-2 d-none d-sm-inline-block btn btn-sm btn-success shadow-sm"><i class="mr-1 fas fa-check text-white-50"></i>Save</button>                                    
                            <a href="/clinic-visit" class="p-2 d-none d-sm-inline-block btn btn-sm btn-danger shadow-sm"><i class="mr-1 fas fa-times text-white-50"></i> Cancel</a>                                        
                        </div>
                    </div>
                </div>
            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; IsKlinika 2021</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <form method="post" action="/logout">
                        <button class="btn btn-primary">Logout</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://use.fontawesome.com/releases/v5.14.0/js/all.js"></script>
    <script src="/public/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/js/standalone/selectize.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.js"></script>

    <!-- Bootstrap core JavaScript-->
    <script src="public/vendor/jquery/jquery.min.js"></script>
    <script src="public/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="public/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="public/js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="public/vendor/chart.js/Chart.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="public/js/demo/chart-area-demo.js"></script>
    <script src="public/js/demo/chart-pie-demo.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>

    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
            integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
            crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/js/select2.full.min.js"></script>

    <script>
        //$("#medicationVisit").select2();
        $(".select2-selection .select2-selection--single").css("border-color", "#1cc88a");
    </script>
    <script>
        function formatDate() {
            var d = new Date(),
                month = '' + (d.getMonth() + 1),
                day = '' + d.getDate(),
                year = d.getFullYear();

            if (month.length < 2) 
                month = '0' + month;
            if (day.length < 2) 
                day = '0' + day;

            return [year, month, day].join('-');
        }

        var today = formatDate();
        $('#visitDate').val(today);

        function getAge(dateString) {
            var today = new Date();
            var birthDate = new Date(dateString);
            var age = today.getFullYear() - birthDate.getFullYear();
            var m = today.getMonth() - birthDate.getMonth();
            console.log(today.getMonth() + " " + birthDate.getMonth());
            console.log(today.getDate() + " " + birthDate.getDate());
            if (m < 0 || (m === 0 && today.getDate() < birthDate.getDate())) {
                age--;
            }
            return age;
        }

        var notAllowedMedicines = [];
        var weight, height, age, sex, birthday;

        $("#studentID").change(function(){
            var typedID = $('#studentID').val();
            // --------------------------------- LAST VISIT DETAILS ------------------------------
            $.get('/getLastVisit', {studentID: typedID}, function(lastVisit){
                console.log("last visit details of the student");
                console.log(lastVisit);
                if(lastVisit != ""){
                    $('#lvDate').html(lastVisit.visitDate);
                    $('#lvTI').html(lastVisit.timeIn);
                    $('#lvTO').html(lastVisit.timeOut);
                    $('#lvNurse').html(lastVisit.attendingNurse);

                    if(lastVisit.systolicBP == "" || !lastVisit.systolicBP || lastVisit.diastolicBP == "" || !lastVisit.diastolicBP)
                        $('#lvBP').html("-");
                    else
                        $('#lvBP').html(lastVisit.systolicBP + "/" + lastVisit.diastolicBP);
                    
                    if(lastVisit.bodyTemp == "" || !lastVisit.bodyTemp)
                        $('#lvBT').html("-");
                    else
                        $('#lvBT').html(lastVisit.bodyTemp + "°C");

                    if(lastVisit.pulseRate == "" || !lastVisit.pulseRate)
                        $('#lvPR').html("-");
                    else
                        $('#lvPR').html(lastVisit.pulseRate);
                    
                    if(lastVisit.respirationRate == "" || !lastVisit.respirationRate)
                        $('#lvRR').html("-");
                    else
                        $('#lvRR').html(lastVisit.respirationRate);

                    $('#lvReason').html(lastVisit.visitReason);

                    if(lastVisit.treatment == "" || !lastVisit.treatment)
                        $('#lvTreatment').html("-");
                    else
                        $('#lvTreatment').html(lastVisit.treatment);

                    if(lastVisit.diagnosis == "" || !lastVisit.diagnosis)
                        $('#lvDiagnosis').html("-");
                    else
                        $('#lvDiagnosis').html(lastVisit.diagnosis);

                    if(lastVisit.notes == "" || !lastVisit.notes)
                        $('#lvNotes').html("-");
                    else
                        $('#lvNotes').html(lastVisit.notes);

                    $('#lvStatus').html(lastVisit.status);

                    document.getElementById('lastVisit').style.display = "block";
                }
                else
                    document.getElementById('lastVisit').style.display = "none";
            });

            // --------------------------------- STUDENT PROFILE ------------------------------
            $.get("/getStudentRecord", {studentID: typedID}, function(studentInfo){
                console.log("Student info");
                console.log(studentInfo);
                
                weight = studentInfo.weight; 
                height = studentInfo.height; 
                birthday = studentInfo.birthday;
                age = getAge(birthday);
                sex = studentInfo.sex;

                 //auto-fill form
                $('#studentID').val(typedID);
                $('#studentName').val(studentInfo.firstName + " " + studentInfo.middleName + " " + studentInfo.lastName);
                if(studentInfo.grade)
                    $('#studentGrade').val(studentInfo.grade);
                if(studentInfo.section)
                    $('#studentSection').val(studentInfo.section);  
            });

            // --------------------------------- NOT ALLOWED MEDICATIONS ------------------------------
            $.get("/getNotAllowedMedication", {studentID: typedID}, function(notAllowed){
                var i;
                notAllowedMedicines = [];   // will make sure to clear array before pushing again.
                console.log("list of allowed medications ni student");
                console.log(notAllowed);
                for(i = 0; i < notAllowed.length; i++){
                    if(notAllowed[i].isAllowed == false){
                        notAllowedMedicines.push({
                            medicine: notAllowed[i].medicine
                        })
                    }
                }
                console.log("Not allowed medications ni student");
                console.log(notAllowedMedicines);
            });

        });

        function searchProfile() {
            var typedID = document.getElementById("studentVisit").value;
            $('#studentID').val(typedID);
            $('#studentID').trigger("change");

            // --------------------------------- STUDENT PROFILE ------------------------------
            $.get("/getStudentRecord", {studentID: typedID}, function(studentInfo){
                console.log("Student info");
                console.log(studentInfo);
                
                weight = studentInfo.weight; 
                height = studentInfo.height; 
                birthday = studentInfo.birthday;
                age = getAge(birthday);
                sex = studentInfo.sex;

                if(!typedID && !typedID.value){
                    $('#errorDiv').html('<i class="fa fa-exclamation-circle"></i><strong class="mx-1"> Error!</strong>Please enter student ID number.');
                    document.getElementById('studentDiv').style.display = "none"; 
                    document.getElementById('errorDiv').style.display = "block";  
                    document.getElementById('lastVisit').style.display = "none";
                    document.getElementById("clinicVisitForm").reset();

                }
                else if(studentInfo.firstName == null){ // if data is null so meaning no student with that id number
                    $('#errorDiv').html('<i class="fa fa-exclamation-circle"></i><strong class="mx-1"> Error!</strong>No student with that ID number.' );
                    document.getElementById('studentDiv').style.display = "none";                     
                    document.getElementById('errorDiv').style.display = "block";
                    document.getElementById('lastVisit').style.display = "none";                   
                    document.getElementById("clinicVisitForm").reset();
                } 
                else {
                    document.getElementById('errorDiv').style.display = "none";   // hide error message 
                    $('#headerNameCollapse').html(typedID);
                    // Header
                    $('#nameHeaderVisit').html(studentInfo.firstName + " " + studentInfo.middleName + " " + studentInfo.lastName);
                    $('#idHeaderVisit').html(typedID);
                    //$('#studentTypeHeader').html(details.studentInfo.studentType + " Student");

                    // personal info
                    $('#visitLastName').html(studentInfo.lastName);
                    $('#visitFirstName').html(studentInfo.firstName);
                    $('#visitMiddleName').html(studentInfo.middleName);

                    if(studentInfo.grade && studentInfo.section)
                        $('#gradeSection').html("Grade " + studentInfo.grade + " - " + studentInfo.section);
                        
                    if(studentInfo.studentType)
                        if(studentInfo.studentType == "old" || studentInfo.studentType == "Old")
                            $('#studentTypeHeader').html("Old Student");
                        else if(studentInfo.studentType == "new" || studentInfo.studentType == "New")
                            $('#studentTypeHeader').html("New Student");    

                    if(studentInfo.sex == "Female")
                        document.getElementById("studentPic").src = "public/img/female.svg";
                    else if(studentInfo.sex == "Male")
                        document.getElementById("studentPic").src = "public/img/male.svg";

                    $('#visitBirthday').html(studentInfo.birthday);
                    //$('#visitNationality').html(studentInfo.nationality);
                    //$('#visitReligion').html(studentInfo.religion);
                    $('#visitAge').html(age + " years old");
                    $('#visitSex').html(studentInfo.sex);
                    $('#visitAddress').html(studentInfo.address);

                    // contacts
                    if(studentInfo.fatherName)
                        $('#visitFN').html(studentInfo.fatherName);
                    
                    if(studentInfo.fatherEmail)
                        $('#visitFE').html(studentInfo.fatherEmail);

                    if(studentInfo.fatherContact)
                        $('#visitFC').html(studentInfo.fatherContact);

                    if(studentInfo.motherName) 
                        $('#visitMN').html(studentInfo.motherName);

                    if(studentInfo.motherEmail)    
                        $('#visitME').html(studentInfo.motherEmail);

                    if(studentInfo.motherContact)    
                        $('#visitMC').html(studentInfo.motherContact);

                    //auto-fill form
                    $('#studentID').val(typedID);
                    $('#studentName').val(studentInfo.firstName + " " + studentInfo.middleName + " " + studentInfo.lastName);
                    if(studentInfo.grade)
                        $('#studentGrade').val(studentInfo.grade);
                    if(studentInfo.section)
                        $('#studentSection').val(studentInfo.section);        
                    document.getElementById('studentDiv').style.display = "block";  // will only appear if there's record
                }
            });
        }
    </script>
    <script type='text/javascript'>
        var selectedMedication;
        var medicationTxt;

        function selectChanged(elem) {            
            var meds = document.getElementById('medications');
            for (var z = 0; z < meds.childElementCount; z++) {
                if (meds.children[z].attributes.value.value === elem.value) {
                    medicationTxt = meds.children[z].attributes.medName.value;
                    selectedMedication = meds.children[z].attributes.medValue.value;
                    console.log("selectedMedication");
                    console.log(selectedMedication);
                    
                    console.log("medicationTxt");
                    console.log(medicationTxt);
                }
            }
        }

    $(document).ready(function() {
        $('span.select2-selection.select2-selection--multiple').css('border', '1px solid #d1d3e2');

        $("#medicationVisit").change(function(){
            console.log("clicked med visit!!");
            //var selectedMedication = $('#medicationVisit').val();
            //var selectedMedication = $('#medicationVisit').find('option:selected').val();
            var typedID = document.getElementById("studentID").value;
            console.log(selectedMedication);
            console.log(typedID);

            $.get("/getNotAllowedMedication", {studentID: typedID}, function(notAllowedMedicines){
                /* TO DO: checker for the allowed medication */
                console.log("not allowed medications of student");
                console.log(notAllowedMedicines);
                var i;
                for(i = 0; i < notAllowedMedicines.length; i++){                    
                    if(selectedMedication == notAllowedMedicines[i].medicine){
                        $("#medicationVisit").removeClass("is-invalid");
                        $("#medicationVisit").addClass("is-valid"); 
                        document.getElementById('validMedicaton').style.display = "none";
                        document.getElementById('invalidMedicaton').style.display = "block";
                        $('#invalidMedicaton').html('Medication not allowed');            
                    }
                    else{
                        $("#medicationVisit").removeClass("is-valid");
                        $("#medicationVisit").addClass("is-invalid"); 
                        document.getElementById('invalidMedicaton').style.display = "none";
                        document.getElementById('validMedicaton').style.display = "block";
                        $('#validMedicaton').html('Medication allowed');    
                    }
                }
            });

            var x; //could be weight or age

            if(weight != null && weight != ""){
                console.log("data.weight: " + weight);
                x = parseFloat(weight);
            }
            else{
                x = 1;
            } 

            console.log("x is...." + x);

            if(medicationTxt == "Paracetamol Syrup 250mg/5mL"){
                if(x != 1){
                    var start = x * 10;
                    var wbd = start / (250/5); 
                    console.log("weight-based: " + wbd);                          
                    document.getElementById('invalidAmount').style.display = "none";
                    document.getElementById('validAmount').style.display = "block";
                    $('#validAmount').html('Weight-based dosage: ' + wbd + 'mL');                       
                } 
            }
            else if(medicationTxt == "Paracetamol Syrup 120mg/5mL"){
                if(x != 1){
                    var start = x * 10;
                    var wbd = start / (120/5); 
                    console.log("weight-based: " + wbd);                          
                    document.getElementById('invalidAmount').style.display = "none";
                    document.getElementById('validAmount').style.display = "block";
                    $('#validAmount').html('Weight-based dosage: ' + wbd + 'mL');                       
                } 
            }
            else if(medicationTxt == "Paracetamol Suspension 250mg/5mL"){
                if(x != 1){
                    var start = x * 10;
                    var wbd = start / (250/5); 
                    console.log("weight-based: " + wbd);                          
                    document.getElementById('invalidAmount').style.display = "none";
                    document.getElementById('validAmount').style.display = "block";
                    $('#validAmount').html('Weight-based dosage: ' + wbd + 'mL');                       
                } 
            }
            else if(medicationTxt == "Paracetamol Tablet 250mg"){
                if(x != 1){
                    var start = x * 10;
                    var wbd = start / 250; 
                    console.log("weight-based: " + Math.round(wbd));
                    document.getElementById('invalidAmount').style.display = "none";
                    document.getElementById('validAmount').style.display = "block";
                    if(Math.round(wbd) <= 1){
                        $('#validAmount').html('Weight-based dosage: 1 tablet');
                    }
                    else if(Math.round(wbd) > 1){
                        $('#validAmount').html('Weight-based dosage: ' + Math.round(wbd) + ' tablets');
                    }
                } 
            }
            else if(medicationTxt == "Paracetamol Tablet 500mg"){
                if(x != 1){
                    var start = x * 10;
                    var wbd = start / 500; 
                    console.log("weight-based: " + Math.round(wbd));
                    document.getElementById('invalidAmount').style.display = "none";
                    document.getElementById('validAmount').style.display = "block";
                    if(Math.round(wbd) <= 1){
                        $('#validAmount').html('Weight-based dosage: 1 tablet');
                    }
                    else if(Math.round(wbd) > 1){
                        $('#validAmount').html('Weight-based dosage: ' + Math.round(wbd) + ' tablets');
                    }
                } 
            }
            else if(medicationTxt == "Ibuprofen Tablet 200mg"){
                if(x != 1){
                    var start = x * 5;
                    var wbd = start / 200; 
                    console.log("weight-based: " + Math.round(wbd)); 
                    document.getElementById('invalidAmount').style.display = "none";
                    document.getElementById('validAmount').style.display = "block";
                    if(Math.round(wbd) <= 1){
                        $('#validAmount').html('Weight-based dosage: 1 tablet');
                    }
                    else if(Math.round(wbd) > 1){
                        $('#validAmount').html('Weight-based dosage: ' + Math.round(wbd) + ' tablets');
                    }                        
                } 
            }
            else if(medicationTxt == "Mefenamic Acid Tablet 250mg"){
                if(x != 1){
                    var start = x * 6.5;
                    var wbd = start / 250; 
                    console.log("weight-based: " + Math.round(wbd)); 
                    document.getElementById('invalidAmount').style.display = "none";
                    document.getElementById('validAmount').style.display = "block";
                    if(Math.round(wbd) <= 1){
                        $('#validAmount').html('Weight-based dosage: 1 tablet');
                    }
                    else if(Math.round(wbd) > 1){
                        $('#validAmount').html('Weight-based dosage: ' + Math.round(wbd) + ' tablets');
                    }                        
                } 
            }
            else if(medicationTxt == "Mefenamic Acid Tablet 500mg"){
                if(x != 1){
                    var start = x * 6.5;
                    var wbd = start / 500; 
                    console.log("weight-based: " + Math.round(wbd)); 
                    document.getElementById('invalidAmount').style.display = "none";
                    document.getElementById('validAmount').style.display = "block";
                    if(Math.round(wbd) <= 1){
                        $('#validAmount').html('Weight-based dosage: 1 tablet');
                    }
                    else if(Math.round(wbd) > 1){
                        $('#validAmount').html('Weight-based dosage: ' + Math.round(wbd) + ' tablets');
                    }                        
                } 
            }
            else if(medicationTxt == "Neozep Non-Drowsy Tablet 10mg/500mg"){
                if(parseInt(age) >= 12){
                    var wbd = 1; 
                    console.log("weight-based: " + Math.round(wbd)); 
                    document.getElementById('invalidAmount').style.display = "none";
                    document.getElementById('validAmount').style.display = "block";
                    if(Math.round(wbd) == 1){
                        $('#validAmount').html('Age-based dosage: ' + Math.round(wbd) + ' tablet');
                    }
                    else if(Math.round(wbd) > 1){
                        $('#validAmount').html('Age-based dosage: ' + Math.round(wbd) + ' tablets');
                    }                        
                }
                else if(parseInt(age) < 12){
                    document.getElementById('validAmount').style.display = "none";
                    document.getElementById('invalidAmount').style.display = "block";
                    $('#invalidAmount').html('This medication is not recommeded for children below 12.');
                } 
            }
            else if(medicationTxt == "Neozep Forte Tablet 10mg/2mg/500mg"){
                if(parseInt(age) >= 12){
                    var wbd = 1; 
                    console.log("weight-based: " + Math.round(wbd)); 
                    document.getElementById('invalidAmount').style.display = "none";
                    document.getElementById('validAmount').style.display = "block";
                    if(Math.round(wbd) == 1){
                        $('#validAmount').html('Age-based dosage: ' + Math.round(wbd) + ' tablet');
                    }
                    else if(Math.round(wbd) > 1){
                        $('#validAmount').html('Age-based dosage: ' + Math.round(wbd) + ' tablets');
                    }                        
                }
                else if(parseInt(age) < 12){
                    document.getElementById('validAmount').style.display = "none";
                    document.getElementById('invalidAmount').style.display = "block";
                    $('#invalidAmount').html('This medication is not recommeded for children below 12.');
                } 
            }
            else if(medicationTxt == "No-Drowse Decolgen Tablet 25mg/500mg"){
                if(parseInt(age) >= 12){
                    var wbd = 1; 
                    console.log("weight-based: " + Math.round(wbd)); 
                    document.getElementById('invalidAmount').style.display = "none";
                    document.getElementById('validAmount').style.display = "block";
                    if(Math.round(wbd) == 1){
                        $('#validAmount').html('Age-based dosage: ' + Math.round(wbd) + ' tablet');
                    }
                    else if(Math.round(wbd) > 1){
                        $('#validAmount').html('Age-based dosage: ' + Math.round(wbd) + ' tablets');
                    }                        
                }
                else if(parseInt(age) < 12){
                    document.getElementById('validAmount').style.display = "none";
                    document.getElementById('invalidAmount').style.display = "block";
                    $('#invalidAmount').html('This medication is not recommeded for children below 12.');
                } 
            }
            else if(medicationTxt == "Decolgen Forte Tablet 25mg/2mg/500mg"){
                if(parseInt(age) >= 12){
                    var wbd = 1; 
                    console.log("weight-based: " + Math.round(wbd)); 
                    document.getElementById('invalidAmount').style.display = "none";
                    document.getElementById('validAmount').style.display = "block";
                    if(Math.round(wbd) == 1){
                        $('#validAmount').html('Age-based dosage: ' + Math.round(wbd) + ' tablet');
                    }
                    else if(Math.round(wbd) > 1){
                        $('#validAmount').html('Age-based dosage: ' + Math.round(wbd) + ' tablets');
                    }                        
                }
                else if(parseInt(age) < 12){
                    document.getElementById('validAmount').style.display = "none";
                    document.getElementById('invalidAmount').style.display = "block";
                    $('#invalidAmount').html('This medication is not recommeded for children below 12.');
                } 
            }
            else if(medicationTxt == "Loratidine Tablet 10mg"){
                if(parseInt(age) > 12){
                    var wbd = 1; 
                    console.log("weight-based: " + Math.round(wbd)); 
                    document.getElementById('invalidAmount').style.display = "none";
                    document.getElementById('validAmount').style.display = "block";
                    if(Math.round(wbd) == 1){
                        $('#validAmount').html('Age-based dosage: ' + Math.round(wbd) + ' tablet');
                    }
                    else if(Math.round(wbd) > 1){
                        $('#validAmount').html('Age-based dosage: ' + Math.round(wbd) + ' tablets');
                    }                        
                }
                else if(parseInt(age) <= 12){
                    document.getElementById('validAmount').style.display = "none";
                    document.getElementById('invalidAmount').style.display = "block";
                    $('#invalidAmount').html('This medication is not recommeded for children 12 and below. Take in syrup instead.');
                }
            }
            else if(medicationTxt == "Loratidine Syrup 5mg/5mL"){
                if(parseInt(age) <= 12 && parseInt(age) >= 2){
                    if(x < 30){
                        var wbd = 1; 
                        console.log("weight-based: " + wbd);                          
                        document.getElementById('invalidAmount').style.display = "none";
                        document.getElementById('validAmount').style.display = "block";
                        $('#validAmount').html('Weight-based dosage: ' + wbd + ' tsp');                       
                    } 
                    else if(x >= 30){
                        var wbd = 2; 
                        console.log("weight-based: " + wbd);                          
                        document.getElementById('invalidAmount').style.display = "none";
                        document.getElementById('validAmount').style.display = "block";
                        $('#validAmount').html('Weight-based dosage: ' + wbd + ' tsp');
                    }
                }
                else if(parseInt(age) > 12){
                    document.getElementById('validAmount').style.display = "none";
                    document.getElementById('invalidAmount').style.display = "block";
                    $('#invalidAmount').html('This medication is not recommeded for children above 12. Take in tablet instead.');
                } 
            }
            else if(medicationTxt == "Cetirizine Tablet 10mg"){
                if(parseInt(age) <= 12 && parseInt(age) >= 6){
                    var wbd = 1; 
                    console.log("weight-based: " + Math.round(wbd)); 
                    document.getElementById('invalidAmount').style.display = "none";
                    document.getElementById('validAmount').style.display = "block";
                    if(Math.round(wbd) == 1){
                        $('#validAmount').html('Age-based dosage: ' + Math.round(wbd) + ' tablet');
                    }
                    else if(Math.round(wbd) > 1){
                        $('#validAmount').html('Age-based dosage: ' + Math.round(wbd) + ' tablets');
                    }                        
                }
                else if(parseInt(age) < 6){
                    document.getElementById('validAmount').style.display = "none";
                    document.getElementById('invalidAmount').style.display = "block";
                    $('#invalidAmount').html('This medication is not recommeded for children below 6.');
                } 
            }
            else if(medicationTxt == "Cetirizine Syrup 5mg/5mL"){
                if(parseInt(age) <= 5 && parseInt(age) >= 2){
                    var wbd = 5; 
                    console.log("weight-based: " + Math.round(wbd)); 
                    document.getElementById('invalidAmount').style.display = "none";
                    document.getElementById('validAmount').style.display = "block";
                    
                    $('#validAmount').html('Age-based dosage: ' + wbd + 'mL');
                    
                }
                else if(parseInt(age) <= 12 && parseInt(age) >= 6){
                    var wbd = 10; 
                    console.log("weight-based: " + Math.round(wbd)); 
                    document.getElementById('invalidAmount').style.display = "none";
                    document.getElementById('validAmount').style.display = "block";
                    
                    $('#validAmount').html('Age-based dosage: ' + wbd + 'mL');                        
                } 
            }
            else if(medicationTxt == "Epinephrine Solution for Injection 1mg/mL"){
                if(parseInt(age) > 12){
                    var wbd = 0.5; 
                    console.log("weight-based: " + Math.round(wbd)); 
                    document.getElementById('invalidAmount').style.display = "none";
                    document.getElementById('validAmount').style.display = "block";
                    $('#validAmount').html('Age-based dosage: ' + wbd + 'mL');                        
                }
                else if(parseInt(age) <= 12 && parseInt(age) >= 6){
                    var wbd = 0.3; 
                    console.log("weight-based: " + Math.round(wbd)); 
                    document.getElementById('invalidAmount').style.display = "none";
                    document.getElementById('validAmount').style.display = "block";
                    $('#validAmount').html('Age-based dosage: ' + wbd + 'mL');                       
                }
                else if(parseInt(age) < 6){
                    var wbd = 0.15; 
                    console.log("weight-based: " + Math.round(wbd)); 
                    document.getElementById('invalidAmount').style.display = "none";
                    document.getElementById('validAmount').style.display = "block";
                    $('#validAmount').html('Age-based dosage: ' + wbd + 'mL');                        
                } 
            }
            else if(medicationTxt == "Antacid (Kremil-S) Chewable Tablet 178mg/233mg/30mg"){
                document.getElementById('invalidAmount').style.display = "none";
                document.getElementById('validAmount').style.display = "block";
                $('#validAmount').html('Pedia dose: 1tsp. Take 1hr & 3hrs after meals & at bedtime. For Peptic ulcer: 2tabs. For Hyperacidity: 1-2tabs.');                       
                    
            }
            else if(medicationTxt == "Salbutamol Syrup 2mg/5mL"){
                if(x != 1){
                    var start = x * 0.15;
                    var wbd = start / (2/5); 
                    console.log("weight-based: " + Math.round(wbd));
                    document.getElementById('invalidAmount').style.display = "none";
                    document.getElementById('validAmount').style.display = "block";
                    
                    $('#validAmount').html('Weight-based dosage: ' + wbd.toFixed(1) + 'mL');
                    
                } 
            }
            else if(medicationTxt == "Salbutamol Nebules 2.5mg/2.5ml"){
                if(x != 1){
                    var start = x * 0.15;
                    var wbd = start / (2.5/2.55); 
                    console.log("weight-based: " + Math.round(wbd));
                    document.getElementById('invalidAmount').style.display = "none";
                    document.getElementById('validAmount').style.display = "block";
                    
                    $('#validAmount').html('Weight-based dosage: ' + wbd.toFixed(2) + 'mL');
                } 
            }
            else if(medicationTxt == "Clonidine (Catapres) Tablet 100mcg"){
                if(parseInt(age) >= 6){
                    var wbd = 1; 
                    console.log("weight-based: " + Math.round(wbd)); 
                    document.getElementById('invalidAmount').style.display = "none";
                    document.getElementById('validAmount').style.display = "block";
                    if(Math.round(wbd) == 1){
                        $('#validAmount').html('Age-based dosage: ' + Math.round(wbd) + ' tablet');
                    }                       
                }
                else if(parseInt(age) < 6){
                    document.getElementById('validAmount').style.display = "none";
                    document.getElementById('invalidAmount').style.display = "block";
                    $('#invalidAmount').html('This medication is not recommeded for children below 6.');
                } 
            }
            else if(medicationTxt == "Oral Rehydration Solution (Hydrite) Sachet 4.1g"){
                if(parseInt(age) <= 10 && parseInt(age) >= 2){
                    document.getElementById('invalidAmount').style.display = "none";
                    document.getElementById('validAmount').style.display = "block";
                    $('#validAmount').html('Age-based dosage: 1 sachet in 1 glass of water (100mL - 200mL).');
                                            
                }
                else if(parseInt(age) > 10){
                    document.getElementById('invalidAmount').style.display = "none";
                    document.getElementById('validAmount').style.display = "block";
                    $('#validAmount').html('Age-based dosage: 1 sachet. Give as much fluid as the child needs.');
                } 
            }
        });

        var medicationsArray = [];
        var namesArray = [];
        var ids = [];
        var list;
        var descArray = [];
        var tempDescArray = [];
        var found = false;

        async function getInteraction(){
            descArray = [];
            list = ids.toString().replace(/,/g, "+");
            const response = await fetch("https://rxnav.nlm.nih.gov/REST/interaction/list.json?rxcuis="+list);
            const data = await response.json();
            
            if(data.fullInteractionTypeGroup != undefined){
                data.fullInteractionTypeGroup.forEach(function(interactionTypeGroup) {
                    interactionTypeGroup.fullInteractionType.forEach(function(fullInteractionType){
                        fullInteractionType.interactionPair.forEach(function(description){
                            descArray.push(description.description);
                            console.log(descArray);
                        })
                    })
                })
                
                tempDescArray = descArray.toString();
                tempDescArray = tempDescArray.split(",");

                for (let i = 0; i < descArray.length; i++) {
                tempDescArray[i] = descArray[i] + "<br><br>";
                }

                tempDescArray = tempDescArray.join("");
                console.log(tempDescArray)
                document.getElementById("interactionDiv").innerHTML = tempDescArray;
                document.getElementById("successMed").style.display = "none";
                document.getElementById("errorMed").style.display = "block";
            } else {
                tempDescArray = "No drug-to-drug interaction found.";
                console.log(tempDescArray);
                document.getElementById("noInteractionDiv").innerHTML = tempDescArray;
                document.getElementById("errorMed").style.display = "none";
                document.getElementById("successMed").style.display = "block";
            }
        }

        var getMe;

        async function getID(medicine){
            ids = [];
            const response = await fetch("https://rxnav.nlm.nih.gov/REST/rxcui.json?name="+medicine+"&srclist=DRUGBANK");
            const data = await response.json();
            ids.push(data.idGroup.rxnormId);
            
            if(ids.length == getMe.length){
                getInteraction();
            }
        }


        function addMedication(medication, med, amount, time) {
            medicationsArray.push({medication: medication, med: med, amount: amount, time: time});
        }

       $('#addMedication').click(function(){
            var amount = document.getElementById("amountMed").value;
            var time =  $('#timeTaken').val();
            
            addMedication(selectedMedication, medicationTxt, amount, timeTaken);
            
            console.log(medicationsArray);
            
            namesArray = [];
            for(i = 0; i < medicationsArray.length; i++){
                namesArray.push(medicationsArray[i].medication);
            }

            $('#dynamic_field').append('<tr id="row'+i+'"><td colSpan="4"><input disabled="disabled" class="form-control namesInteraction" placeholder="' + medicationTxt +'" value="'+ selectedMedication +'"></input></td><td colSpan="3"><input class="form-control" disabled="disabled" placeholder="' + amount + '"</input></td><td colSpan="2"><input disabled="disabled" class="form-control" placeholder="'+ timeTaken +'"</input></td><td><button type="button" name="remove" id="'+i+'" class="btn btn-danger btn_remove">x</button></td></tr>');            
            i++;
            
            getMe = document.getElementsByClassName("namesInteraction");
            console.log("get me........");
            console.log(getMe);
            console.log("length ni get me");
            console.log(getMe.length);
            
            if(getMe.length >= 2) {
                console.log("inside get me if");
                for(i = 0; i < getMe.length; i++){
                    console.log("inside get me for loop");
                    getID(getMe[i].value);
                    console.log(getMe[i].value);    
                }
            }

            //if(namesArray.length >= 2){
            //    for(i = 0; i < medicationsArray.length; i++){
            //        getID(medicationsArray[i].medication);    
            //    }
            //}
        });

        var removeIDs = [];

        $(document).on('click', '.btn_remove', function(){  
            var button_id = $(this).attr("id");
            console.log("removing..." + button_id);  
            removeIDs.push(button_id);
            $('#row'+button_id+'').remove(); 
            console.log(removeIDs);  
            tempDescArray = [];
            if(getMe.length >= 2) {
                console.log("inside get me if");
                for(i = 0; i < getMe.length; i++){
                    console.log("inside get me for loop");
                    getID(getMe[i].value);
                    console.log(getMe[i].value);    
                }
            }
            else if(getMe.length < 2){
                document.getElementById("successMed").style.display = "none";
                document.getElementById("errorMed").style.display = "none";
            }
        });  


        $('#saveBtn').click(function(){
            const toNumbers = arr => arr.map(Number);
            var newArray = toNumbers(removeIDs);
            //console.log(newArray);       

            newArray.sort();
            //console.log(newArray);   
            for (var j = newArray.length -1; j >= 0; j--){
                medicationsArray.splice(newArray[j],1);
            }        

            var id = $('#studentID').val();
            console.log(id);
            
            var studentName = $('#studentName').val(); 
            console.log(studentName);

            var studentGrade = $('#studentGrade').val(); 
            console.log(studentGrade);
                
            var studentSection = $('#studentSection').val(); 
            console.log(studentSection);

            var visitDate =  $('#visitDate').val(); 
            console.log(visitDate);
           
            var timeIn =  $('#clinicIn').val();
            console.log(timeIn);

            var timeOut =  $('#clinicOut').val(); 
            console.log(timeOut);

            var nurse =  $('#attendingNurse').find(":selected").val();   
            console.log(nurse);

            /* TO DO: Add checkers for fields if empty */
            console.log(medicationsArray);
            
            $.ajax({
                url: '/addMedicationIntake',
                method: 'POST',
                data: {
                    studentId: id,
                    studentName: studentName,
                    studentGrade: studentGrade,
                    studentSection: studentSection,
                    visitDate: visitDate,
                    timeIn: timeIn,
                    timeOut: timeOut,
                    nurse: nurse, // attending nurse                    
                    medicationsArray: medicationsArray,
                },
                success: function(data) {
                    console.log("success in ajax!");
                    window.location.href = "/clinic-visit";
                }
            });       
        });
    });
    </script>
</body>

</html>