<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>IsKlinika</title>

    <!-- Custom fonts for this template-->
    <link href="public/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="public/css/sb-admin-2.min.css" rel="stylesheet">
    
    
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
    <style>
        #reportrange{
            display: inline-block;
            width: 100%;
            height: calc(1.5em + 0.75rem + 2px);
            padding: 0.375rem 1.75rem 0.375rem 0.75rem;
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.5;
            color: #6e707e;
            vertical-align: middle;
            background: #ffff;
            border: 1px solid #d1d3e2;
            border-radius: 0.35rem;
        }
    </style>

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/dashboard" style="pointer-events: none; cursor: default;">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-user-md"></i>
                </div>
                <div class="sidebar-brand-text mx-3 text-capitalize">IsKlinika</div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            {{#if isNurse}}
                <!-- Nav Item - Clinic Visit -->
                <li class="nav-item">
                    <a class="nav-link" href="/clinic-visit">
                        <i class="fas fa-fw fa-medkit"></i>
                        <span>Clinic Visit</span></a>
                </li>

                <!-- Nav Item - Profile -->
                <li class="nav-item">
                    <a class="nav-link" href="/profile">
                        <i class="fas fa-fw fa-user"></i>
                        <span>Student Profile</span></a>
                </li>

                <!-- Nav Item - Health Assessment -->
                <li class="nav-item">
                    <a class="nav-link" href="/health-assessment">
                        <i class="fas fa-fw fa-stethoscope"></i>
                        <span>Health Assessment</span></a>
                </li>

                <!-- Nav Item - Inventory -->
                <li class="nav-item">
                    <a href="#inventory" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle nav-link">
                        <i class="fas fa-fw fa-archive"></i>
                        <span>Inventory</span></a>
                    <ul class="collapse list-unstyled" id="inventory">
                        <li>
                            <a class="nav-link" href="/inventory-medicine">
                                <i class="fas fa-fw fa-tablets"></i>
                                <span>Medicine</span></a>
                        </li>
                        <li>
                            <a class="nav-link" href="/inventory-supply">
                                <i class="fas fa-fw fa-pump-medical"></i>
                                <span>Supply</span></a>
                        </li>
                        <li>
                            <a class="nav-link" href="/inventory-dental">
                                <i class="fas fa-fw fa-tooth"></i>
                                <span>Dental</span></a>
                        </li>
                    </ul>
                </li>

                <!-- Nav Item - Promotive Care -->
                <li class="nav-item">
                    <a class="nav-link" href="/promotive-care">
                        <i class="fas fa-fw fa-child"></i>
                        <span>Promotive Care</span></a>
                </li>

                <!-- Nav Item - Performance Assessment -->
                <li class="nav-item">
                    <a class="nav-link" href="/performance-assessment">
                        <i class="fas fa-fw fa-star"></i>
                        <span>Performance Assessment</span></a>
                </li>

                <!-- Nav Item - Communications -->
                <li class="nav-item">
                    <a class="nav-link" href="/communications">
                        <i class="fas fa-fw fa-comments"></i>
                        <span>Communications</span></a>
                </li>
            {{else}}
                <!-- Nav Item - Dashboard -->
                <li class="nav-item">
                    <a class="nav-link" href="/dashboard">
                        <i class="fas fa-fw fa-tachometer-alt"></i>
                        <span>Dashboard</span></a>
                </li>
                
                <!-- Nav Item - Disease Surveillance -->
                <li class="nav-item active">
                    <a class="nav-link" href="/disease-surveillance">
                        <i class="fas fa-fw fa-virus"></i>
                        <span>Disease Surveillance</span></a>
                </li>

                <!-- Nav Item - Clinic Visit -->
                <li class="nav-item">
                    <a class="nav-link" href="/clinic-visit">
                        <i class="fas fa-fw fa-medkit"></i>
                        <span>Clinic Visit</span></a>
                </li>

                <!-- Nav Item - Profile -->
                <li class="nav-item">
                    <a class="nav-link" href="/profile">
                        <i class="fas fa-fw fa-user"></i>
                        <span>Student Profile</span></a>
                </li>

                <!-- Nav Item - Health Assessment -->
                <li class="nav-item">
                    <a class="nav-link" href="/health-assessment">
                        <i class="fas fa-fw fa-stethoscope"></i>
                        <span>Health Assessment</span></a>
                </li>

                <!-- Nav Item - Inventory -->
                <li class="nav-item">
                    <a href="#inventory" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle nav-link">
                        <i class="fas fa-fw fa-archive"></i>
                        <span>Inventory</span></a>
                    <ul class="collapse list-unstyled" id="inventory">
                        <li>
                            <a class="nav-link" href="/inventory-medicine">
                                <i class="fas fa-fw fa-tablets"></i>
                                <span>Medicine</span></a>
                        </li>
                        <li>
                            <a class="nav-link" href="/inventory-supply">
                                <i class="fas fa-fw fa-pump-medical"></i>
                                <span>Supply</span></a>
                        </li>
                        <li>
                            <a class="nav-link" href="/inventory-dental">
                                <i class="fas fa-fw fa-tooth"></i>
                                <span>Dental</span></a>
                        </li>
                    </ul>
                </li>

                <!-- Nav Item - Promotive Care -->
                <li class="nav-item">
                    <a class="nav-link" href="/promotive-care">
                        <i class="fas fa-fw fa-child"></i>
                        <span>Promotive Care</span></a>
                </li>

                <!-- Nav Item - Performance Assessment -->
                <li class="nav-item">
                    <a class="nav-link" href="/performance-assessment">
                        <i class="fas fa-fw fa-star"></i>
                        <span>Performance Assessment</span></a>
                </li>

                <!-- Nav Item - Communications -->
                <li class="nav-item">
                    <a class="nav-link" href="/communications">
                        <i class="fas fa-fw fa-comments"></i>
                        <span>Communications</span></a>
                </li>
            {{/if}}

            <!-- Divider -->
            <hr class="sidebar-divider">
            
            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>

        </ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>

                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">

                        <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                        <li class="nav-item dropdown no-arrow d-sm-none">
                            <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-search fa-fw"></i>
                            </a>
                            <!-- Dropdown - Messages -->
                            <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                                aria-labelledby="searchDropdown">
                                <form class="form-inline mr-auto w-100 navbar-search">
                                    <div class="input-group">
                                        <input type="text" class="form-control bg-light border-0 small"
                                            placeholder="Search for..." aria-label="Search"
                                            aria-describedby="basic-addon2">
                                        <div class="input-group-append">
                                            <button class="btn btn-primary" type="button">
                                                <i class="fas fa-search fa-sm"></i>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </li>

                        {{>notifications}}

                        <div class="topbar-divider d-none d-sm-block"></div>

                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small">Welcome, {{user.firstName}} {{user.lastName}}!</span>
                                <img class="img-profile rounded-circle"
                                    src="public/img/undraw_profile.svg">
                            </a>
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="userDropdown">
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Settings
                                </a>
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Activity Log
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" data-toggle="modal" data-target="#logoutModal">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Logout
                                </a>
                            </div>
                        </li>

                    </ul>

                </nav>
                <!-- End of Topbar -->                   

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">Disease Surveillance</h1>
                        <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                                class="fas fa-virus fa-sm text-white-50"></i> Disease</a>
                    </div>

                    <div class="row">
                        <!-- Content Row -->
                        <div class="col-4 mb-4">
                            <div class="card border-left-primary shadow h-100 py-2">
                                
                                    <div class="row no-gutters align-items-center">


                                        <div class="col-md-1 ml-4">
                                            <i class="fas fa-virus fa-2x text-gray-300"></i>
                                        </div>

                                        <div class="col-md-10" style="margin-left: -20px;">
                                        <div class="card-body">
                                            <div class="col mr-2">
                                                <div class="h6 font-weight-bold text-primary mb-1">
                                                    Top Disease for The Week</div>
                                                <div class="h2 mb-0 font-weight-bold text-gray-800"> 
                                                        <span class="float-right">{{topDiagnosisWeek}}</span>
                                                </div>
                                            </div>
                                        </div>
                                        </div>
                                        
                                        
                                    </div>
                                
                            </div>
                        </div>
                        <div class="col-4 mb-4">
                            <div class="card border-left-primary shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="h6 font-weight-bold text-primary mb-1">
                                                Top Disease for The Month</div>
                                            <div class="h2 mb-0 font-weight-bold text-gray-800">
                                                    <span class="float-right"> {{topDiagnosisMonth}} </span>
                                            </div>
                                        </div>
                                        
                                        <div class="col-auto">
                                            <i class="fas fa-virus fa-2x text-gray-300"></i>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>                           
                    </div>
                    <div class="row">
                        <div class="col-3 mb-4">
                            <select class="custom-select" id="disease" name="disease">
                                <option disabled="disabled" selected="true">Communicable Disease</option>
                                <option value="chickenpox">Chickenpox</option>
                                <option value="common-cold">Common Cold</option>
                            </select>
                        </div>
                        <div class="col-3 mb-4">
                            <div id="reportrange">
                                <i class="fa fa-calendar"></i>&nbsp;
                                <span></span> <i class="fa fa-caret-down"></i>
                            </div>
                        </div> 
                    </div>
                    <div class="row">
                        {{!-- <div class="col-9">
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">Disease Count by Grade Level</h6>
                                </div>
                                <div class="card-body" >
                                    <div class="chart-bar">
                                        <canvas id="gradeLevelChart"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div> --}}
                        <div class="col-xl-12 col-lg-12">
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">Disease Trend</h6>
                                </div>
                                <div class="card-body" >
                                    <div class="chart-bar">
                                        <canvas id="diseaseTrendChart"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-8 col-lg-7">
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">Disease Count by Grade Level</h6>
                                </div>
                                <div class="card-body" >
                                    <div class="chart-bar">
                                        <canvas id="diseaseCountDS"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-12 col-lg-12">
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">Disease Count by Grade Level</h6>
                                </div>
                                <div class="card-body" >
                                    <div class="chart-bar">
                                        <canvas id="diseaseCountDSPie"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-12 col-lg-12">
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">Symptoms Trend</h6>
                                </div>
                                <div class="card-body" >
                                    <div class="chart-bar">
                                        <canvas id="concernTrendChart"></canvas>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Visit Reason/Complaints Charts -->
                        <div class="row">
                            <!-- Bar Chart -->
                            <div class="col-xl-8 col-lg-7">
                                <div class="card shadow mb-4">
                                    <div class="card-header py-3">
                                        <h6 class="m-0 font-weight-bold text-primary">Visit Reason Count</h6>
                                    </div>
                                    <div class="card-body" style="width: 1100px;">
                                        <div class="chart-bar">
                                            <canvas id="complaintsChart"></canvas>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Pie Chart -->
                            <div class="col-xl-4 col-lg-5">
                                <div class="card shadow mb-4">
                                    <div class="card-header py-3">
                                        <h6 class="m-0 font-weight-bold text-primary">Visit Reason Percentage</h6>
                                    </div>
                                    <div class="card-body" style="width: 550px; height: 400px">
                                        <div class="chart-pie pt-6 pb-2">
                                            <canvas id="complaintsPieChart"></canvas>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    

                    <!-- Content Row -->
                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; IsKlinika 2021</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">x</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <form method="post" action="/logout">
                        <button class="btn btn-primary">Logout</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="public/vendor/jquery/jquery.min.js"></script>
    <script src="public/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="public/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="public/js/sb-admin-2.min.js"></script>


    <!-- Page level plugins -->
    <script src="public/vendor/chart.js/Chart.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script> 
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2.0.0"></script>

    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>

    <script type="text/javascript">

        var start = moment().subtract(29, 'days');
        var end = moment();
        var checker1 = false;
        var checker2 = false;
        var checker3 = false;

        var gradeLevelChart;
        var symptomChart;
        var symptomPieChart;
        var diseaseTrendChart; 
        var concernTrendChart;

        cb(start, end);

        function cb(start, end) {
            $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
            console.log("START " + start.format('YYYY-MM-DD'));
            console.log("END " + end.format('YYYY-MM-DD'));

            var disease =  $('#disease').find(":selected").text();
            console.log(disease);

            $.post("/getDiseaseDemographics",{disease:disease,startDate: start.format('YYYY-MM-DD'), endDate: end.format('YYYY-MM-DD')}, function(data){
                console.log("DS:");
                console.log(data);

                if(checker1){
                    gradeLevelChart.destroy();
                }

                showDiseaseChart(data, start.format('YYYY-MM-DD'), end.format('YYYY-MM-DD'));
                checker1 = true;
            });
            $.post("/getVisitReasonCountDashboard",{startDate: start.format('YYYY-MM-DD'), endDate: end.format('YYYY-MM-DD'),from:"dashboard"}, function(data){
                if(checker2){
                    symptomChart.destroy();
                    symptomPieChart.destroy();

                }
                showSymptomChart(data);
                checker2 = true;
            });
            $.post("/getDataForTrend",{startDate: start.format('YYYY-MM-DD'), endDate: end.format('YYYY-MM-DD')}, function(data){
                if(checker3){
                    diseaseTrendChart.destroy(); 
                    concernTrendChart.destroy();

                }
                showTrendChart(data,start,end);
                checker3 = true;
            });
        }

        function number_format(number, decimals, dec_point, thousands_sep) {
        // *     example: number_format(1234.56, 2, ',', ' ');
        // *     return: '1 234,56'
        number = (number + '').replace(',', '').replace(' ', '');
        var n = !isFinite(+number) ? 0 : +number,
            prec = !isFinite(+decimals) ? 0 : Math.abs(decimals),
            sep = (typeof thousands_sep === 'undefined') ? ',' : thousands_sep,
            dec = (typeof dec_point === 'undefined') ? '.' : dec_point,
            s = '',
            toFixedFix = function(n, prec) {
            var k = Math.pow(10, prec);
            return '' + Math.round(n * k) / k;
            };
        // Fix for IE parseFloat(0.55).toFixed(0) = 0;
        s = (prec ? toFixedFix(n, prec) : '' + Math.round(n)).split('.');
        if (s[0].length > 3) {
            s[0] = s[0].replace(/\B(?=(?:\d{3})+(?!\d))/g, sep);
        }
        if ((s[1] || '').length < prec) {
            s[1] = s[1] || '';
            s[1] += new Array(prec - s[1].length + 1).join('0');
        }
        return s.join(dec);
        }
        //remove this eventually
        function genderGradeChart(data){
            var glc;// = document.getElementById("myBarChart");
            var gradeLevelChart = new Chart(glc, {
                type: 'bar',
                data: {
                    labels: ["Grade 1", "Grade 2", "Grade 3", "Grade 4", "Grade 5", "Grade 6"],
                    datasets: [{
                        label: "Male",
                        backgroundColor: "#4e73df",
                        hoverBackgroundColor: "#0d6efd",
                        borderColor: "#0d6efd",
                        data: [data[0].male, data[1].male, data[2].male, data[3].male, data[4].male, data[5].male],
                    }, {
                        label: "Female",
                        backgroundColor: "#e74a3b",
                        hoverBackgroundColor: "#d52a1a",
                        borderColor: "#d52a1a",
                        data: [data[0].female, data[1].female, data[2].female, data[3].female, data[4].female, data[5].female],
                    }],
                },
                plugins: [ChartDataLabels],
                options: {
                    maintainAspectRatio: false,
                    layout: {
                        padding: {
                            left: 10,
                            right: 25,
                            top: 25,
                            bottom: 0
                        }
                    },
                    //plugins: {
                    //    datalabels: {
                    //        anchor: 'center',
                    //        align: 'center',
                    //        font: {
                    //            weight: 'bold'
                    //        },
                    //       color: "#000000",
                    //    },
                    //    title: {
                    //        display: true,
                    //        text: 'Symptoms of this Month',
                    //        font: {
                    //            size: 25   // font size of the labels
                    //        },
                    //    }
                    //},
                    scales: {
                        x: {
                            title: {
                                display: true,
                                text: 'School Year',
                                font: {
                                    size: 15,   // font size of the labels
                                    weight: 'bold'
                                },
                            },
                            ticks: {
                                font: {
                                    size: 15   // font size of the labels
                                }
                            },
                            barThickness: 50,
                            maxBarThickness: 50,
                        },
                        y: {
                            title: {
                                display: true,
                                text: 'Weight in kg',
                                font: {
                                    size: 15,   // font size of the labels
                                    weight: 'bold'
                                },
                                color: "rgba(255, 99, 132, 1)",
                            },
                            ticks: {
                                font: {
                                    size: 15,   // font size of the labels
                                },
                                color: "rgba(255, 99, 132, 1)",
                                stepSize: 15,
                            }
                        }
                    }
                
                },
                tooltips: {
                    titleMarginBottom: 10,
                    titleFontColor: '#6e707e',
                    titleFontSize: 14,
                    backgroundColor: "rgb(255,255,255)",
                    bodyFontColor: "#858796",
                    borderColor: '#dddfeb',
                    borderWidth: 1,
                    xPadding: 15,
                    yPadding: 15,
                    displayColors: false,
                    caretPadding: 10,
                    callbacks: {
                        label: function(tooltipItem, chart) {
                        var datasetLabel = chart.datasets[tooltipItem.datasetIndex].label || '';
                        return datasetLabel + ": " + number_format(tooltipItem.yLabel);
                        }
                    }
                },
            });            
        }
        //Search specific Disease chart
        function showDiseaseChart(data) {
            //console.log(data);
            var i,j;
            var gradeName=["Grade 1", "Grade 2", "Grade 3", "Grade 4", "Grade 5", "Grade 6"];
            var g1Count=0, g2Count=0,g3Count=0, g4Count=0,g5Count=0, g6Count=0;
            var g1Sections=[],g2Sections=[],g3Sections=[],g4Sections=[],g5Sections=[],g6Sections=[];
            var g1SectionCount=[],g2SectionCount=[],g3SectionCount=[],g4SectionCount=[],g5SectionCount=[],g6SectionCount=[];
            var gradeLevel
            gradeLevelChart;
                
            for(i=0;i<6;i++){
                //getting total count for each grade level
                g1Count=g1Count+data[0].grade1[i].count;
                g2Count=g2Count+data[1].grade2[i].count;
                g3Count=g3Count+data[2].grade3[i].count;
                g4Count=g4Count+data[3].grade4[i].count;
                g5Count=g5Count+data[4].grade5[i].count;
                g6Count=g6Count+data[5].grade6[i].count;
                //getting section names for labels 
                g1Sections.push(data[0].grade1[i].section);
                g2Sections.push(data[1].grade2[i].section);
                g3Sections.push(data[2].grade3[i].section);
                g4Sections.push(data[3].grade4[i].section);
                g5Sections.push(data[4].grade5[i].section);
                g6Sections.push(data[5].grade6[i].section);
                //grouping the counts for each section
                g1SectionCount.push(data[0].grade1[i].count);
                g2SectionCount.push(data[1].grade2[i].count);
                g3SectionCount.push(data[2].grade3[i].count);
                g4SectionCount.push(data[3].grade4[i].count);
                g5SectionCount.push(data[4].grade5[i].count);
                g6SectionCount.push(data[5].grade6[i].count);
            }

            var gradeCounts=[];
            gradeCounts.push(g1Count);
            gradeCounts.push(g2Count);
            gradeCounts.push(g3Count);
            gradeCounts.push(g4Count);
            gradeCounts.push(g5Count);
            gradeCounts.push(g6Count);

            var chartData={
                labels: ["Grade 1", "Grade 2", "Grade 3", "Grade 4", "Grade 5", "Grade 6"],
                datasets: [{
                    label: "Grade Levels",
                    backgroundColor: "#4e73df",
                    hoverBackgroundColor: "#0d6efd",
                    borderColor: "#0d6efd",
                    data:gradeCounts,
                }],
            }
            var gradeSections={
                labels: g1Sections,
                datasets: [{
                    label: "Grade 1",
                    backgroundColor: "#4e73df",
                    hoverBackgroundColor: "#0d6efd",
                    borderColor: "#0d6efd",
                    data:g1SectionCount,
                }],
            }
            
            var grade1Sections={
                labels: g1Sections,
                datasets: [{
                    label: "Grade 1",
                    backgroundColor: 'rgba(153, 102, 255, 0.5)',    // violet
                    borderColor: "#0d6efd",
                    data:g1SectionCount,
                }],
            } 
            var grade2Sections={
                labels: g2Sections,
                datasets: [{
                    label: "Grade 2",
                    backgroundColor: "rgb(255, 159, 64)", // orange
                    borderColor: "#0d6efd",
                    data:g2SectionCount,
                }],
            } 
            var grade3Sections={
                labels: g3Sections,
                datasets: [{
                    label: "Grade 3",
                    backgroundColor: "rgb(255, 205, 86)",  // yellow
                    borderColor: "#0d6efd",
                    data:g3SectionCount,
                }],
            } 
            var grade4Sections={
                labels: g4Sections,
                datasets: [{
                    label: "Grade 4",
                    backgroundColor: "rgb(75, 192, 192)", // green
                    borderColor: "#0d6efd",
                    data:g4SectionCount,
                }],
            } 
            var grade5Sections={
                labels: g5Sections,
                datasets: [{
                    label: "Grade 5",
                    backgroundColor: "rgb(54, 162, 235)", // blue
                    borderColor: "#0d6efd",
                    data:g5SectionCount,
                }],
            } 
            var grade6Sections={
                labels: g6Sections,
                datasets: [{
                    label: "Grade 6",
                    backgroundColor: "rgb(255, 99, 132)", // red
                    borderColor: "#0d6efd",
                    data:g6SectionCount,
                }],
            }           

            var sdcConfig={
                type: 'bar',
                data: chartData,
                plugins: [ChartDataLabels],
                options: {
                    maintainAspectRatio: false,
                    layout: {
                        padding: {
                            left: 10,
                            right: 25,
                            bottom: 0
                        }
                    },
                    plugins: {
                        datalabels: {
                            anchor: 'center',
                            align: 'center',
                            font: {
                                weight: 'bold'
                            },
                            color: "#000000",
                        },
                        title: {
                            display: true,
                            text: 'Disease by Grade Level',
                            font: {
                                size: 25   // font size of the labels
                            },
                        },
                        legend: {
                            display: false,
                        }
                    },
                    scales: {
                        x: {
                            title: {
                                display: true,
                                text: 'Grade Level',
                                font: {
                                    size: 15,   // font size of the labels
                                    weight: 'bold'
                                },
                            },
                            ticks: {
                                font: {
                                    size: 15   // font size of the labels
                                }
                            },
                            barThickness: 50,
                            maxBarThickness: 50,
                        },
                        y: {
                            ticks: {
                                font: {
                                    size: 15,   // font size of the labels
                                },
                                stepSize: 5,
                            }
                        }
                    }
                
                }
            }
            var sdcConfig2={
                type: 'pie',
                data: chartData,
                plugins: [ChartDataLabels],
                options: {
                    maintainAspectRatio: false,
                    layout: {
                        padding: {
                            left: 10,
                            right: 25,
                            top: 25,
                            bottom: 0
                        }
                    },  
                    plugins: {
                        datalabels: {
                            anchor: 'end',
                            align: 'center',
                            offset: 55,
                            font: {
                                weight: 'bold'
                            },
                            color: "#000000",
                            formatter: (value, ctx) => {
                                let sum = 0;
                                let dataArr = ctx.chart.data.datasets[0].data;
                                dataArr.map(data => {
                                    sum += data;
                                });
                                let percentage = (value*100 / sum).toFixed(2)+"%";
                                return percentage;
                            }
                        },
                        legend: {
                            display: true,
                            position: 'right',
                        }
                    }              
                }
            }
            console.log(gradeCounts);

            gradeLevel = document.getElementById("diseaseCountDS");
            gradeLevelChart = new Chart(gradeLevel, sdcConfig);   
            
            //var glc2 = document.getElementById("diseaseCountDSPie");
           // var gradeLevelPieChart = new Chart(glc2, sdcConfig2);  
            
        }
        //Show Symptoms Count (whole, grade level view, each section for grade levvel)
        function showSymptomChart(data) {
            //console.log(data);
            var i,j;
            var gLabels,gDataCount=[],sLabels=[],sDataCount=[];
            var labels=[],dataCount=[]; 
            for(i=0;i<data[0].arr.length;i++){
                labels.push(data[0].arr[i].concern); //labels array are the concerns
                dataCount.push(data[0].arr[i].count); // dataCount array are the counts for each concern
            }
            var temp,temp2,temp3;
            var filteredData=[];
            //console.log(labels);
            //console.log(dataCount);
        
            var gradeName=["Grade 1", "Grade 2", "Grade 3", "Grade 4", "Grade 5", "Grade 6"]; //labels for each grade level
            
            var symptomsCount={
                labels: labels,
                datasets: [{
                    label: "Symptom Count",
                    backgroundColor: [
                       /// "rgba(78, 115, 223, 1)", // blue
                        "rgba(255,153,0,255)",  // orange
                        "rgba(118,186,27,255)", // green
                        "rgba(255, 99, 132, 1)", // pink
                    ],
                    data:dataCount,
                }],
            };
            var gradeCount={
                labels: gradeName,
                datasets: [{
                    label: "Grade Level Symptom Count",
                    backgroundColor: [
                            "rgba(255, 99, 132, 1)", 
                            "rgba(78, 115, 223, 1)",
                            "#32CD32",
                            "#800080"
                        ],
                    borderColor: "#0d6efd",
                    data:gDataCount,
                }],
            };
            var sectionCount={
                labels: sLabels,
                datasets: [{
                    label: "Section Symptom Count",
                    backgroundColor: [
                            "rgba(255, 99, 132, 1)", 
                            "rgba(78, 115, 223, 1)",
                            "#32CD32",
                            "#800080"
                    ],
                    borderColor: "#0d6efd",
                    data: sDataCount,
                    
                }],
            };

            var config={
                type: 'bar',
                data:symptomsCount,
                plugins: [ChartDataLabels],
                options: {
                    maintainAspectRatio: false,
                    plugins: {
                        datalabels: {
                            anchor: 'center',
                            align: 'center',
                            font: {
                                weight: 'bold'
                            },
                            color: "#FFFFFF",
                            font: {
                                size: 15   // font size of the labels
                            },
                        },
                        title: {
                            display: true,
                            text: 'Visit Reason/Complaints',
                            font: {
                                size: 25   // font size of the chart title
                            },
                        },
                        legend: {
                            display: false
                        }
                    },
                    scales: {
                        x: {
                            title: {
                                display: true,
                                text: 'Visit Reason/Complaint',
                                font: {
                                    size: 15,   // font size of the labels
                                    weight: 'bold'
                                },
                            },
                            ticks: {
                                font: {
                                    size: 15   // font size of the labels
                                }
                            },
                            barThickness: 50,
                            maxBarThickness: 50,
                        },
                        y: {
                            ticks: {
                                font: {
                                    size: 15,   // font size of the labels
                                },
                                stepSize: 5,
                            }
                        }
                    }
                
                }
            }
            var configPie={
                type: 'pie',
                data:symptomsCount,
                plugins: [ChartDataLabels],
                options: {
                    maintainAspectRatio: false,
                    layout: {
                        padding: {
                            left: 10,
                            right: 25,
                            top: 25,
                        }
                    },
                    plugins: {
                        datalabels: {
                            anchor: 'top',
                            align: 'center',
                            offset: 35,
                            font: {
                                weight: 'bold',
                                size: 15   // font size of the labels
                            },
                            color: "#000000",
                            formatter: (value, ctx) => {
                                let sum = 0;
                                let dataArr = ctx.chart.data.datasets[0].data;
                                dataArr.map(data => {
                                    sum += data;
                                });
                                let percentage = (value*100 / sum).toFixed(2)+"%";
                                return percentage;
                            },
                        },
                        legend: {
                            display: true,
                            position: 'right',
                        }
                    }
                }
            }            
            
            var complaints = document.getElementById("complaintsChart");
            symptomChart = new Chart(complaints, config); 
            var complaints2 = document.getElementById("complaintsPieChart");
            symptomPieChart = new Chart(complaints2, configPie);   

            function clickHandlerSC(click){
                //console.log(data[1].arr2);
                const points= symptomChart.getElementsAtEventForMode(click,'nearest',{ intersect:true},true);
                if(points.length){
                    var firstPoint= points[0];
                    console.log(points[0]);
                    console.log(firstPoint.index);
                    console.log(data[1].arr2.length);
                    var con = data[0].arr[firstPoint.index].concern;
                    
                    if(symptomChart.config.data.datasets[0].label=="Symptom Count" || symptomPieChart.config.data.datasets[0].label=="Symptom Count"){
                        temp=[{count:0},{count:0},{count:0},{count:0},{count:0},{count:0}];
                        console.log(data[0].arr[firstPoint.index].concern);
                        
                        if(firstPoint._index === 0){
                            for(i=0;i<data[1].arr2.length;i++){
                                if(con == data[1].arr2[i].visitReason){
                                    console.log(data[1].arr2[i].grade)
                                    if(data[1].arr2[i].grade == "1")
                                        temp[0].count=temp[0].count+1;
                                    else if(data[1].arr2[i].grade == "2")
                                        temp[1].count=temp[1].count+1;
                                    else if(data[1].arr2[i].grade == "3")
                                        temp[2].count=temp[2].count+1;
                                    else if(data[1].arr2[i].grade == "4")
                                        temp[3].count=temp[3].count+1;
                                    else if(data[1].arr2[i].grade == "5")
                                        temp[4].count=temp[4].count+1;
                                    else if(data[1].arr2[i].grade == "6")
                                        temp[5].count=temp[5].count+1;
                                    filteredData.push(data[1].arr2[i]);
                                }
                            }
                            //console.log(temp);
                            for(i=0;i<temp.length;i++){
                                gDataCount.push(temp[i].count);
                            }                       
                            //console.log("gDataCount");     
                            //console.log(gDataCount);
                            symptomChart.config.data = gradeCount;
                            symptomPieChart.config.data = gradeCount;
                        }
                        else{
                            for(i=0;i<data[1].arr2.length;i++){
                                if(con == data[1].arr2[i].visitReason){
                                    //console.log(data[1].arr2[i].grade)
                                    if(data[1].arr2[i].grade == "1")
                                        temp[0].count=temp[0].count+1;
                                    else if(data[1].arr2[i].grade == "2")
                                        temp[1].count=temp[1].count+1;
                                    else if(data[1].arr2[i].grade == "3")
                                        temp[2].count=temp[2].count+1;
                                    else if(data[1].arr2[i].grade == "4")
                                        temp[3].count=temp[3].count+1;
                                    else if(data[1].arr2[i].grade == "5")
                                        temp[4].count=temp[4].count+1;
                                    else if(data[1].arr2[i].grade == "6")
                                        temp[5].count=temp[5].count+1;
                                    filteredData.push(data[1].arr2[i]);
                                }
                            }
                            //console.log(temp);
                            for(i=0;i<temp.length;i++){
                                gDataCount.push(temp[i].count);
                            }                       
                            //console.log("gDataCount");     
                            //console.log(gDataCount);
                            symptomChart.config.data = gradeCount;
                            symptomPieChart.config.data = gradeCount;
                        }
                        
                    }
                    else if(symptomChart.config.data.datasets[0].label=="Grade Level Symptom Count"){
                        console.log("FILTERED DATA");
                        console.log(filteredData);
                        temp2=[{count:0},{count:0},{count:0},{count:0},{count:0},{count:0}];
                        for(i=0;i<6;i++){
                            sLabels.pop();
                        }
                        console.log("CONCERN:");
                        console.log(con);
                        if(firstPoint.index === 0){
                            sLabels.push("Truthfulness");
                            sLabels.push("Sincerity");
                            sLabels.push("Honesty");
                            sLabels.push("Faithfulness");
                            sLabels.push("Humility");
                            sLabels.push("Politeness");
                            for(i=0;i<filteredData.length;i++){
                                if(filteredData[i].grade == "1"){
                                    if(filteredData[i].section == "Truthfulness")
                                    temp2[0].count=temp2[0].count+1;
                                    else if(filteredData[i].section == "Sincerity")
                                        temp2[1].count=temp2[1].count+1;
                                    else if(filteredData[i].section == "Honesty")
                                        temp2[2].count=temp2[2].count+1;
                                    else if(filteredData[i].section == "Faithfulness")
                                        temp2[3].count=temp2[3].count+1;
                                    else if(filteredData[i].section == "Humility")
                                        temp2[4].count=temp2[4].count+1;
                                    else if(filteredData[i].section == "Politeness")
                                        temp2[5].count=temp2[5].count+1;
                                }
                            }
                        }
                        else if(firstPoint.index === 1){
                            sLabels.push("Simplicity");
                            sLabels.push("Charity");
                            sLabels.push("Helpfulness");
                            sLabels.push("Gratefulness");
                            sLabels.push("Gratitude");
                            sLabels.push("Meekness");
                            for(i=0;i<filteredData.length;i++){
                                if(filteredData[i].grade == "2"){
                                    if(filteredData[i].section == "Simplicity")
                                        temp2[0].count=temp2[0].count+1;
                                    else if(filteredData[i].section == "Charity")
                                        temp2[1].count=temp2[1].count+1;
                                    else if(filteredData[i].section == "Helpfulness")
                                        temp2[2].count=temp2[2].count+1;
                                    else if(filteredData[i].section == "Gratefulness")
                                        temp2[3].count=temp2[3].count+1;
                                    else if(filteredData[i].section == "Gratitude")
                                        temp2[4].count=temp2[4].count+1;
                                    else if(filteredData[i].section == "Meekness")
                                        temp2[5].count=temp2[5].count+1;
                                }
                            }
                        }
                        else if(firstPoint.index === 2){
                            sLabels.push("Respect");
                            sLabels.push("Courtesy");
                            sLabels.push("Trust");
                            sLabels.push("Kindness");
                            sLabels.push("Piety");
                            sLabels.push("Prayerfulness");
                            for(i=0;i<filteredData.length;i++){
                                if(filteredData[i].grade == "3"){
                                    if(filteredData[i].section == "Respect")
                                        temp2[0].count=temp2[0].count+1;
                                    else if(filteredData[i].section == "Courtesy")
                                        temp2[1].count=temp2[1].count+1;
                                    else if(filteredData[i].section == "Trust")
                                        temp2[2].count=temp2[2].count+1;
                                    else if(filteredData[i].section == "Kindness")
                                        temp2[3].count=temp2[3].count+1;
                                    else if(filteredData[i].section == "Piety")
                                        temp2[4].count=temp2[4].count+1;
                                    else if(filteredData[i].section == "Prayerfulness")
                                        temp2[5].count=temp2[5].count+1;
                                }
                            }
                        }
                        else if(firstPoint.index === 3){
                            sLabels.push("Unity");
                            sLabels.push("Purity");
                            sLabels.push("Fidelity");
                            sLabels.push("Equality");
                            sLabels.push("Harmony");
                            sLabels.push("Solidarity");
                            
                            for(i=0;i<filteredData.length;i++){
                                if(filteredData[i].grade == "4"){
                                    if(filteredData[i].section == "Unity")
                                        temp2[0].count=temp2[0].count+1;
                                    else if(filteredData[i].section == "Purity")
                                        temp2[1].count=temp2[1].count+1;
                                    else if(filteredData[i].section == "Fidelity")
                                        temp2[2].count=temp2[2].count+1;
                                    else if(filteredData[i].section == "Equality")
                                        temp2[3].count=temp2[3].count+1;
                                    else if(filteredData[i].section == "Harmony")
                                        temp2[4].count=temp2[4].count+1;
                                    else if(filteredData[i].section == "Solidarity")
                                        temp2[5].count=temp2[5].count+1;
                                }
                            }
                        }
                        else if(firstPoint.index === 4){
                            sLabels.push("Trustworthiness");
                            sLabels.push("Reliability");
                            sLabels.push("Dependability");
                            sLabels.push("Responsibility");
                            sLabels.push("Serenity");
                            sLabels.push("Flexibility");
            
                            for(i=0;i<filteredData.length;i++){
                                if(filteredData[i].grade == "5"){
                                    if(filteredData[i].section == "Trustworthiness")
                                        temp2[0].count=temp2[0].count+1;
                                    else if(filteredData[i].section == "Reliability")
                                        temp2[1].count=temp2[1].count+1;
                                    else if(filteredData[i].section == "Dependability")
                                        temp2[2].count=temp2[2].count+1;
                                    else if(filteredData[i].section == "Responsibility")
                                        temp2[3].count=temp2[3].count+1;
                                    else if(filteredData[i].section == "Serenity")
                                        temp2[4].count=temp2[4].count+1;
                                    else if(filteredData[i].section == "Flexibility")
                                        temp2[5].count=temp2[5].count+1;
                                }
                            }
                        }
                        else if(firstPoint.index === 5){
                            sLabels.push("Self-Discipline");
                            sLabels.push("Abnegation");
                            sLabels.push("Self-Giving");
                            sLabels.push("Integrity");
                            sLabels.push("Perseverance");
                            sLabels.push("Patience");
                            
                            for(i=0;i<filteredData.length;i++){
                                if(filteredData[i].grade == "6"){
                                    if(filteredData[i].section == "Self-Discipline")
                                        temp2[0].count=temp2[0].count+1;
                                    else if(filteredData[i].section == "Abnegation")
                                        temp2[1].count=temp2[1].count+1;
                                    else if(filteredData[i].section == "Self-Giving")
                                        temp2[2].count=temp2[2].count+1;
                                    else if(filteredData[i].section == "Integrity")
                                        temp2[3].count=temp2[3].count+1;
                                    else if(filteredData[i].section == "Perseverance")
                                        temp2[4].count=temp2[4].count+1;
                                    else if(filteredData[i].section == "Patience")
                                        temp2[5].count=temp2[5].count+1;
                                }
                            }
                        }
                        console.log(temp2);
                        for(i=0;i<temp2.length;i++){
                            sDataCount.push(temp2[i].count);
                        }                       
                        console.log("sDataCount");     
                        console.log(sDataCount);
                        
                        symptomChart.config.data = sectionCount;
                        symptomPieChart.config.data = sectionCount;


                    }
                    else if(symptomChart.config.data.datasets[0].label=="Section Symptom Count"){
                        symptomChart.config.data = symptomsCount;
                        symptomPieChart.config.data = symptomsCount;

                    }
                    
                    symptomChart.update();
                    symptomPieChart.update();
                }
            }

            complaints.onclick=clickHandlerSC;
            complaints2.onclick=clickHandlerSC;
        };            

        function showTrendChart(data,start,end){
            //console.log("enters Show Disease Trend Chart");
            var i,j,k;
            var dateLabels=[];
            var dDataSet=[],cDataSet=[];
            var date= new Date(start);
            var e= new Date(end);
            var filling=[];
            var alreadyAdded=0;
            var dSets=[], cSets=[];

            //gets all the date in the date range
            while(date<=e){
                dateLabels.push(date.getFullYear() + "-" + (date.getMonth()+1) + "-" +date.getDate());
                date.setDate(date.getDate()+1);
            }
            console.log(dateLabels);
            
            //creates the array for dataset
            for(i=0;i<data.length;i++){
                alreadyAdded=0
                if(dDataSet==null){ //if empty auto add
                    if(data[i].diagnosis!=""){
                        dDataSet.push({
                            diagnosis:data[i].diagnosis,
                            dates: dateLabels,
                            count: [parseInt("0")]
                        })
                        
                    }
                }
                else{ //if not empty
                console.log(dDataSet);
                    for(j=0;j<dDataSet.length;j++){ //this whole thing is used to check if it has a count
                        if(data[i].diagnosis!="" && dDataSet[j].diagnosis!="" && data[i].diagnosis!=null && dDataSet[j].diagnosis!=null){
                            if(dDataSet[j].diagnosis.toLowerCase()==data[i].diagnosis.toLowerCase()){
                                alreadyAdded=1;
                            }
                        }
                    }
                    if(alreadyAdded!=1){
                        if(data[i].diagnosis!="" && data[i].diagnosis!=null && data[i].diagnosis!=undefined){
                            dDataSet.push({
                                diagnosis:data[i].diagnosis,
                                dates: dateLabels,
                                count: [parseInt("0")]
                            })
                        }
                    }
                }
            }
            for(i=0;i<dDataSet.length;i++){
                for(j=1;j<dateLabels.length;j++){
                    dDataSet[i].count.push(parseInt("0"));
                }
            }
            //console.log(dDataSet);
            
            //counting of data Disease
            for(i=0;i<data.length;i++){
                for(j=0;j<dDataSet.length;j++){ // to scroll through diagnosis
                    if(data[i].diagnosis!="" && dDataSet[j].diagnosis!="" && data[i].diagnosis!=null && dDataSet[j].diagnosis!=null && data[i].diagnosis!=undefined && dDataSet[j].diagnosis!=undefined){
                        if(data[i].diagnosis.toLowerCase() == dDataSet[j].diagnosis.toLowerCase()){
                            for(k=0;k<dateLabels.length;k++){
                                if(data[i].visitDate==dateLabels[k]){
                                    dDataSet[j].count[k]=dDataSet[j].count[k]+1;
                                }
                            }
                        }
                    }
                }
            }

            for(i=0;i<dDataSet.length;i++){
                dSets.push({
                    label: dDataSet[i].diagnosis,
                    backgroundColor: [
                            "rgba(255, 99, 132, 1)", 
                            "rgba(78, 115, 223, 1)",
                            "#32CD32",
                            "#800080"
                        ],
                    hoverBackgroundColor: "#0d6efd",
                    borderColor: "#0d6efd",
                    data:dDataSet[i].count,
                })
            }
            //console.log("ICE CREAM 2");
            //console.log(dSets);

            //create array for concern dataset
            for(i=0;i<data.length;i++){
                alreadyAdded=0
                if(cDataSet==null){ //if empty auto add
                    if(data[i].diagnosis!=""){
                        cDataSet.push({
                            concern:data[i].visitReason,
                            dates: dateLabels,
                            count: [parseInt("0")]
                        })
                        
                    }
                }
                else{ //if not empty
                console.log(cDataSet);
                    for(j=0;j<cDataSet.length;j++){ //this whole thing is used to check if it has a count
                        if(data[i].visitReason!="" && cDataSet[j].concern!="" && data[i].visitReason!=null && cDataSet[j].concern!=null){
                            if(cDataSet[j].concern.toLowerCase()==data[i].visitReason.toLowerCase()){
                                alreadyAdded=1;
                            }
                        }
                    }
                    if(alreadyAdded!=1){
                        if(data[i].visitReason!="" && data[i].visitReason!=null && data[i].visitReason!=undefined){
                            cDataSet.push({
                                concern:data[i].visitReason,
                                dates: dateLabels,
                                count: [parseInt("0")]
                            })
                        }
                    }
                }
            }

            for(i=0;i<cDataSet.length;i++){
                for(j=1;j<dateLabels.length;j++){
                    cDataSet[i].count.push(parseInt("0"));
                }
            }

            for(i=0;i<data.length;i++){
                for(j=0;j<cDataSet.length;j++){ // to scroll through diagnosis
                    if(data[i].visitReason!="" && cDataSet[j].concern!="" && data[i].visitReason!=null && cDataSet[j].concern!=null && data[i].visitReason!=undefined && cDataSet[j].concern!=undefined){
                        if(data[i].visitReason.toLowerCase() == cDataSet[j].concern.toLowerCase()){
                            for(k=0;k<dateLabels.length;k++){
                                if(data[i].visitDate==dateLabels[k]){
                                    cDataSet[j].count[k]=cDataSet[j].count[k]+1;
                                }
                            }
                        }
                    }
                }
            }

            console.log(cDataSet);

            for(i=0;i<cDataSet.length;i++){
                cSets.push({
                    label: cDataSet[i].concern,
                    backgroundColor: [
                            "rgba(255, 99, 132, 1)", 
                           "rgba(78, 115, 223, 1)",
                            "#32CD32",
                            "#800080"
                        ],
                    hoverBackgroundColor: "#0d6efd",
                    borderColor: "#0d6efd",
                    data:cDataSet[i].count,
                })
            }


            var dTrend={
                labels: dateLabels,
                datasets: dSets,
            };
            var cTrend={
                labels: dateLabels,
                datasets: cSets,
            };
            var config={
                type: 'line',
                data: dTrend,
                options: {
                    maintainAspectRatio: false,
                    layout: {
                        padding: {
                            left: 10,
                            right: 25,
                            top: 25,
                            bottom: 0
                        }
                    },                
                }
            }
            var config2={
                type: 'line',
                data: cTrend,
                options: {
                    maintainAspectRatio: false,
                    layout: {
                        padding: {
                            left: 10,
                            right: 25,
                            top: 25,
                            bottom: 0
                        }
                    },                
                }
            }  

            var diseaseTrend = document.getElementById("diseaseTrendChart");
            diseaseTrendChart = new Chart(diseaseTrend, config); 
            var concernTrend = document.getElementById("concernTrendChart");
            concernTrendChart = new Chart(concernTrend, config2); 


            
        }
        
        function showTrendReportChart(data){
            //console.log("enters Show Disease Trend Chart");
            var i,j;
            var dLabelsDaily=[],cLabelsDaily=[];
            var dCountDaily=[],cCountDaily=[];

            var dLabelsWeekly=["Week 1","Week 2","Week 3","Week 4","Week 5"],cLabelsWeekly=["Week 1","Week 2","Week 3","Week 4","Week 5"];
            var dCountWeekly=[0,0,0,0,0],cCountWeekly=[0,0,0,0,0];

            var dLabelsMonthly=["June","July","August","September","October","November","December","January","February","March","April","May"],cLabelsMonthly=["June","July","August","September","October","November","December","January","February","March","April","May"];
            var dCountMonthly=[0,0,0,0,0,0,0,0,0,0,0,0],cCountMonthly=[0,0,0,0,0,0,0,0,0,0,0,0];

            var alreadyAdded=0;

            //computation for Daily View Diagnosis
            for(i=0;i<data.length;i++){
                if(data[i].diagnosis!=""){
                    alreadyAdded=0;
                    if(dLabelsDaily==null){ //if empty auto add
                        dLabelsDaily.push(data[i].visitDate)
                        dCountDaily.push(1);
                    }
                    else{ //if not empty
                        for(j=0;j<dLabelsDaily.length;j++){ //this whole thing is used to check if it has a count
                            if(dLabelsDaily[j] == data[i].visitDate){
                                dCountDaily[j]=dCountDaily[j]+1;
                                alreadyAdded=1;
                            }
                        }
                        if(alreadyAdded!=1){
                            dLabelsDaily.push(data[i].visitDate)
                            dCountDaily.push(1);
                        }
                    }
                }
            }
            
            
            for(i=0;i<data.length;i++){
                parts=data[i].visitDate.split('-');
                if(data[i].diagnosis!=""){
                    if(parts[2] <= 7)
                        dCountWeekly[0]=dCountWeekly[0]+1;
                    else if(parts[2] > 7 && parts[2] <= 14){
                        dCountWeekly[1]=dCountWeekly[1]+1;
                    }
                    else if(parts[2] > 14 && parts[2] <= 21){
                        dCountWeekly[2]=dCountWeekly[2]+1;
                    }
                    else if(parts[2] > 21 && parts[2] <= 28){
                        dCountWeekly[3]=dCountWeekly[3]+1;
                    }
                    else if(parts[2] > 28 && parts[2]<=31){
                        dCountWeekly[4]=dCountWeekly[4]+1;
                    }
                }
            }
            
            //console.log("Diseases Trend Data:");
            //console.log(dLabelsDaily);
            //console.log(dCountDaily);
            //console.log(dLabelsWeekly);
            //console.log(dCountWeekly);
            //console.log(dLabelsMonthly);
            //console.log(dCountMonthly);
            
            var concernTrend={
                labels: cLabels,
                datasets: [{
                    label: "Grade Level Symptom Count",
                    backgroundColor: [
                            "rgba(255, 99, 132, 1)", 
                            "rgba(78, 115, 223, 1)",
                            "#32CD32",
                            "#800080"
                        ],
                    hoverBackgroundColor: "#0d6efd",
                    borderColor: "#0d6efd",
                    data:cCount,
                }],
            };
            var diseaseTrend={
                labels: dLabels,
                datasets: [{
                    label: "Monthly",
                    backgroundColor: [
                            "rgba(255, 99, 132, 1)", 
                            "rgba(78, 115, 223, 1)",
                            "#32CD32",
                            "#800080"
                        ],
                    hoverBackgroundColor: "#0d6efd",
                    borderColor: "#0d6efd",
                    data:dCount,
                }],
            };
            var config={
                type: 'line',
                data: diseaseTrend,
                options: {
                    maintainAspectRatio: false,
                    layout: {
                        padding: {
                            left: 10,
                            right: 25,
                            top: 25,
                            bottom: 0
                        }
                    },
                    scales: {
                        xAxes: [{
                    //        type: 'time',
                            time: {
                                unit: 'monthly'
                            }
                        }]
                    }
                
                }
            }  
            var config2={
                type: 'line',
                data: concernTrend,
                options: {
                    maintainAspectRatio: false,
                    layout: {
                        padding: {
                            left: 10,
                            right: 25,
                            top: 25,
                            bottom: 0
                        }
                    },
                    scales: {
                        xAxes: [{
                            type: 'time',
                            time: {
                                unit: 'month'
                            }
                        }]
                        }
                
                }
            } 


            var diseaseTrend = document.getElementById("diseaseTrendChart");
            var diseaseTrendChart = new Chart(diseaseTrend, config); 
            //var concernTrend = document.getElementById("concernTrendChart");
            //var concernTrendChart = new Chart(concernTrend, config2); 

            function clickHandler(click){
                const points= diseaseTrendChart.getElementsAtEventForMode(click,'nearest',{ intersect:true},true);
                if(points.length){
                    var firstPoint= points[0];
                    console.log(points[0]);
                    console.log(firstPoint._index);
                    if(diseaseTrendChart.config.data.datasets[0].label=="Monthly"){
                        if(firstPoint._index===0){
                            console.log("Hello");
                        }
                        else{
                            console.log("Hi");
                        }
                    }
                    else if(diseaseTrendChart.config.data.datasets[0].label=="Weekly"){

                    }
                    else if (diseaseTrendChart.config.data.datasets[0].label=="Daily"){
                        
                    }
                    
                    
                    diseaseTrendChart.update();
                }
            }

            diseaseTrend.onclick=clickHandler;
            
            



        }


        $('#reportrange').daterangepicker({
            startDate: start,
            endDate: end,
            ranges: {
            'Today': [moment(), moment()],
            'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
            'Last 7 Days': [moment().subtract(6, 'days'), moment()],
            'Last 30 Days': [moment().subtract(29, 'days'), moment()],
            'This Month': [moment().startOf('month'), moment().endOf('month')],
            'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
            }
        }, cb);


    
    </script>


</body>

</html>