<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>IsKlinika</title>

    <!-- Custom fonts for this template-->
    <link href="public/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="public/css/sb-admin-2.min.css" rel="stylesheet">

    <style>
        .div[class*="divmenu"]:first-of-type {
            display: block;
        }

        .divmenu {
            display: none;
            border-top: none;
        }

        .pdfobject-container { 
            height: 30rem; 
            border: 1rem solid rgba(0,0,0,.1); 
        }

        #studentDiv{
            display: none;
        }
    </style>

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/dashboard" style="pointer-events: none; cursor: default;">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-user-md"></i>
                </div>
                <div class="sidebar-brand-text mx-3 text-capitalize">IsKlinika</div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            {{#if isNurse}}
                <!-- Nav Item - Clinic Visit -->
                <li class="nav-item">
                    <a class="nav-link" href="/clinic-visit">
                        <i class="fas fa-fw fa-medkit"></i>
                        <span>Clinic Visit</span></a>
                </li>

                <!-- Nav Item - Profile -->
                <li class="nav-item">
                    <a class="nav-link" href="/profile">
                        <i class="fas fa-fw fa-user"></i>
                        <span>Student Profile</span></a>
                </li>

                <!-- Nav Item - Health Assessment -->
                <li class="nav-item active">
                    <a class="nav-link" href="/health-assessment">
                        <i class="fas fa-fw fa-stethoscope"></i>
                        <span>Health Assessment</span></a>
                </li>

                <!-- Nav Item - Inventory -->
                <li class="nav-item">
                    <a href="#inventory" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle nav-link">
                        <i class="fas fa-fw fa-archive"></i>
                        <span>Inventory</span></a>
                    <ul class="collapse list-unstyled" id="inventory">
                        <li>
                            <a class="nav-link" href="/inventory-medicine">
                                <i class="fas fa-fw fa-tablets"></i>
                                <span>Medicine</span></a>
                        </li>
                        <li>
                            <a class="nav-link" href="/inventory-supply">
                                <i class="fas fa-fw fa-pump-medical"></i>
                                <span>Supply</span></a>
                        </li>
                        <li>
                            <a class="nav-link" href="/inventory-dental">
                                <i class="fas fa-fw fa-tooth"></i>
                                <span>Dental</span></a>
                        </li>
                    </ul>
                </li>

                <!-- Nav Item - Promotive Care -->
                <li class="nav-item">
                    <a class="nav-link" href="/promotive-care">
                        <i class="fas fa-fw fa-child"></i>
                        <span>Promotive Care</span></a>
                </li>

                <!-- Nav Item - Performance Assessment -->
                <li class="nav-item">
                    <a class="nav-link" href="/performance-assessment">
                        <i class="fas fa-fw fa-star"></i>
                        <span>Performance Assessment</span></a>
                </li>

                <!-- Nav Item - Communications -->
                <li class="nav-item">
                    <a class="nav-link" href="/communications">
                        <i class="fas fa-fw fa-comments"></i>
                        <span>Communications</span></a>
                </li>
            {{else}}
                <!-- Nav Item - Dashboard -->
                <li class="nav-item">
                    <a class="nav-link" href="/dashboard">
                        <i class="fas fa-fw fa-tachometer-alt"></i>
                        <span>Dashboard</span></a>
                </li>
                
                <!-- Nav Item - Disease Surveillance -->
                <li class="nav-item">
                    <a class="nav-link" href="/disease-surveillance">
                        <i class="fas fa-fw fa-virus"></i>
                        <span>Disease Surveillance</span></a>
                </li>

                <!-- Nav Item - Clinic Visit -->
                <li class="nav-item">
                    <a class="nav-link" href="/clinic-visit">
                        <i class="fas fa-fw fa-medkit"></i>
                        <span>Clinic Visit</span></a>
                </li>

                <!-- Nav Item - Profile -->
                <li class="nav-item">
                    <a class="nav-link" href="/profile">
                        <i class="fas fa-fw fa-user"></i>
                        <span>Student Profile</span></a>
                </li>

                <!-- Nav Item - Health Assessment -->
                <li class="nav-item active">
                    <a class="nav-link" href="/health-assessment">
                        <i class="fas fa-fw fa-stethoscope"></i>
                        <span>Health Assessment</span></a>
                </li>

                <!-- Nav Item - Promotive Care -->
                <li class="nav-item">
                    <a class="nav-link" href="/promotive-care">
                        <i class="fas fa-fw fa-child"></i>
                        <span>Promotive Care</span></a>
                </li>

                <!-- Nav Item - Performance Assessment -->
                <li class="nav-item">
                    <a class="nav-link" href="/performance-assessment">
                        <i class="fas fa-fw fa-star"></i>
                        <span>Performance Assessment</span></a>
                </li>

                <!-- Nav Item - Communications -->
                <li class="nav-item">
                    <a class="nav-link" href="/communications">
                        <i class="fas fa-fw fa-comments"></i>
                        <span>Communications</span></a>
                </li>
            {{/if}}

            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>

        </ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>

                    <!-- Topbar Search -->
                    <form
                        class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                        <div class="input-group">
                            <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..."
                                aria-label="Search" aria-describedby="basic-addon2">
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="button">
                                    <i class="fas fa-search fa-sm"></i>
                                </button>
                            </div>
                        </div>
                    </form>

                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">

                        <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                        <li class="nav-item dropdown no-arrow d-sm-none">
                            <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-search fa-fw"></i>
                            </a>
                            <!-- Dropdown - Messages -->
                            <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                                aria-labelledby="searchDropdown">
                                <form class="form-inline mr-auto w-100 navbar-search">
                                    <div class="input-group">
                                        <input type="text" class="form-control bg-light border-0 small"
                                            placeholder="Search for..." aria-label="Search"
                                            aria-describedby="basic-addon2">
                                        <div class="input-group-append">
                                            <button class="btn btn-primary" type="button">
                                                <i class="fas fa-search fa-sm"></i>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </li>

                        <!-- Nav Item - Alerts -->
                        <li class="nav-item dropdown no-arrow mx-1">
                            <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-bell fa-fw"></i>
                                <!-- Counter - Alerts -->
                                <span class="badge badge-danger badge-counter">3+</span>
                            </a>
                            <!-- Dropdown - Alerts -->
                            <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="alertsDropdown">
                                <h6 class="dropdown-header">
                                    Alerts Center
                                </h6>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="mr-3">
                                        <div class="icon-circle bg-primary">
                                            <i class="fas fa-file-alt text-white"></i>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="small text-gray-500">December 12, 2019</div>
                                        <span class="font-weight-bold">A new monthly report is ready to download!</span>
                                    </div>
                                </a>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="mr-3">
                                        <div class="icon-circle bg-success">
                                            <i class="fas fa-donate text-white"></i>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="small text-gray-500">December 7, 2019</div>
                                        $290.29 has been deposited into your account!
                                    </div>
                                </a>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="mr-3">
                                        <div class="icon-circle bg-warning">
                                            <i class="fas fa-exclamation-triangle text-white"></i>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="small text-gray-500">December 2, 2019</div>
                                        Spending Alert: We've noticed unusually high spending for your account.
                                    </div>
                                </a>
                                <a class="dropdown-item text-center small text-gray-500" href="#">Show All Alerts</a>
                            </div>
                        </li>

                        <!-- Nav Item - Messages -->
                        <li class="nav-item dropdown no-arrow mx-1">
                            <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-envelope fa-fw"></i>
                                <!-- Counter - Messages -->
                                <span class="badge badge-danger badge-counter">7</span>
                            </a>
                            <!-- Dropdown - Messages -->
                            <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="messagesDropdown">
                                <h6 class="dropdown-header">
                                    Message Center
                                </h6>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="dropdown-list-image mr-3">
                                        <img class="rounded-circle" src="public/img/undraw_profile_1.svg"
                                            alt="...">
                                        <div class="status-indicator bg-success"></div>
                                    </div>
                                    <div class="font-weight-bold">
                                        <div class="text-truncate">Hi there! I am wondering if you can help me with a
                                            problem I've been having.</div>
                                        <div class="small text-gray-500">Emily Fowler · 58m</div>
                                    </div>
                                </a>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="dropdown-list-image mr-3">
                                        <img class="rounded-circle" src="public/img/undraw_profile_2.svg"
                                            alt="...">
                                        <div class="status-indicator"></div>
                                    </div>
                                    <div>
                                        <div class="text-truncate">I have the photos that you ordered last month, how
                                            would you like them sent to you?</div>
                                        <div class="small text-gray-500">Jae Chun · 1d</div>
                                    </div>
                                </a>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="dropdown-list-image mr-3">
                                        <img class="rounded-circle" src="public/img/undraw_profile_3.svg"
                                            alt="...">
                                        <div class="status-indicator bg-warning"></div>
                                    </div>
                                    <div>
                                        <div class="text-truncate">Last month's report looks great, I am very happy with
                                            the progress so far, keep up the good work!</div>
                                        <div class="small text-gray-500">Morgan Alvarez · 2d</div>
                                    </div>
                                </a>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="dropdown-list-image mr-3">
                                        <img class="rounded-circle" src="https://source.unsplash.com/Mv9hjnEUHR4/60x60"
                                            alt="...">
                                        <div class="status-indicator bg-success"></div>
                                    </div>
                                    <div>
                                        <div class="text-truncate">Am I a good boy? The reason I ask is because someone
                                            told me that people say this to all dogs, even if they aren't good...</div>
                                        <div class="small text-gray-500">Chicken the Dog · 2w</div>
                                    </div>
                                </a>
                                <a class="dropdown-item text-center small text-gray-500" href="#">Read More Messages</a>
                            </div>
                        </li>

                        <div class="topbar-divider d-none d-sm-block"></div>

                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small">{{user.firstName}} {{user.lastName}}</span>
                                <img class="img-profile rounded-circle"
                                    src="public/img/undraw_profile.svg">
                            </a>
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="userDropdown">
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Settings
                                </a>
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Activity Log
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" data-toggle="modal" data-target="#logoutModal">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Logout
                                </a>
                            </div>
                        </li>

                    </ul>

                </nav>
                
                <!-- /.container-fluid -->

                <div class="container-fluid">

                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">Physical Exam Form</h1>
                    </div>
                    <div class="card shadow mb-2" id="lastAPE">
                        <div class="card-header py-3"><h6 class="m-0 font-weight-bold text-primary">Last Physical Assessment</h6></div>
                        <div class="card-body">
                            <div class="form-row mb-2">
                                <div class="col-2">
                                    <div class="font-weight-bold">School Year</span></div>
                                    <div class="font-weight-normal" id="lpeSY"></span></div>                                        
                                </div>
                                <div class="col-2">
                                    <div class="font-weight-bold">Date of Examination</span></div>
                                    <div class="font-weight-normal" id="lpeDate"></span></div>                                        
                                </div>
                                <div class="col-5">
                                    <div class="font-weight-bold">Attending Clinician</span></div>
                                    <div class="font-weight-normal" id="lpeDoctor"></span></div>                                        
                                </div>
                            </div>
                            <div class="form-row mb-2">
                                <div class="col-2">
                                    <div class="font-weight-bold">Body Temperature</span></div>
                                    <div class="font-weight-normal" id="lpeBT">38 °C</span></div>                                        
                                </div>
                                <div class="col-2">
                                    <div class="font-weight-bold">Blood Pressure</span></div>
                                    <div class="font-weight-normal" id="lpeBP">-</span></div>                                        
                                </div>
                                <div class="col-2">
                                    <div class="font-weight-bold">Pulse Rate</span></div>
                                    <div class="font-weight-normal" id="lpePR">-</span></div>                                        
                                </div>
                                <div class="col-2">
                                    <div class="font-weight-bold">Respiration Rate</span></div>
                                    <div class="font-weight-normal" id="lpeRR">-</span></div>                                        
                                </div>
                                <div class="col-3">
                                    <div class="font-weight-bold">Skin Findings</span></div>
                                    <div class="font-weight-normal" id="lpeSF">-</span></div>                                        
                                </div>
                            </div>
                            <div class="form-row mb-2">
                                <div class="col-2">
                                    <div class="font-weight-bold">Weight</span></div>
                                    <div class="font-weight-normal" id="lpeWeight"></span></div>                                        
                                </div>
                                <div class="col-2">
                                    <div class="font-weight-bold">Height</span></div>
                                    <div class="font-weight-normal" id="lpeHeight"></span></div>                                        
                                </div>
                                <div class="col-5">
                                    <div class="font-weight-bold">BMI</span></div>
                                    <div class="font-weight-normal" id="lpeBMI"></span></div>                                        
                                </div>
                                <div class="col-5">
                                    <div class="font-weight-bold">BMI Status</span></div>
                                    <div class="font-weight-normal" id="lpeBMIStatus"></span></div>                                        
                                </div>
                            </div>
                            <div class="form-row mb-2">
                                <div class="col-6">
                                    <div class="font-weight-bold">Vision</span></div>
                                </div>
                                <div class="col-6">
                                    <div class="font-weight-bold">with Glasses</span></div>
                                </div>
                            </div>
                            <div class="form-row mb-2">
                                <div class="col">
                                    <div class="font-weight-bold">od<span class="ml-1 font-weight-normal" id="lpeODV">50</span></div>
                                </div>
                                <div class="col">
                                    <div class="font-weight-bold">os<span class="ml-1 font-weight-normal" id="lpeOSV">50</span></div>
                                </div>
                                <div class="col">
                                    <div class="font-weight-bold">od<span class="ml-1 font-weight-normal" id="lpeODG">50</span></div>
                                    <div class="font-weight-normal" id="lpeODG"></span></div>                                        
                                </div>
                                <div class="col">
                                    <div class="font-weight-bold">os<span class="ml-1 font-weight-normal" id="lpeOSG">50</span></div>
                                </div>
                            </div>
                            <hr class="w-10 mb-2"></hr>
                            <div class="form-row mb-2">
                                <div class="col">
                                    <div class="font-weight-bold">Problems/Complaints/Abnormal Findings</span></div>
                                    <div class="font-weight-normal" id="lpeProblems"></span></div>                                        
                                </div>
                            </div>
                            <hr class="w-10 mb-2"></hr>   
                            <div class="form-row mb-2">
                                <div class="col">
                                    <div class="font-weight-bold">Assessment/Recommendation</span></div>
                                    <div class="font-weight-normal" id="lpeAssess"></span></div>                                        
                                </div>
                            </div>
                            <div class="form-row mb-2">
                                <div class="col">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" onclick="return false;" value="" id="lpeNPE" checked>
                                        <label class="form-check-label" for="flexCheckChecked">Essentially Normal P.E.</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Basic Card Example -->
                    <div class="card shadow mb-2">
                        <div class="card-header py-3 d-sm-flex">
                            <h6 class="m-0 font-weight-bold text-primary mr-auto p-2">S.Y. <span id="schoolYear"></span>  |  <span id="sectionTop"></span></h6>                           
                            
                            <button type="button" class="btn btn-primary btn-sm mr-2 mx-1" id="prevBtn"><i
                                class="fas fa-backward mr-2 text-white-50" ></i>Previous</button>
                            <button type="button" class="btn btn-primary btn-sm mx-1 " id="skipBtn">Skip<i
                                class="fas fa-forward ml-2 text-white-50"></i></button>
                        </div>
                        <div class="card-body">
                            <form class="user" method="post" action="/addAPE">
                                <div class="form-row align-items-center">
                                    <div class="col-4">
                                      <label class="col-form-label" for="studentID">Student ID Number</label>
                                      <input type="text" class="form-control mb-2" id="studentID" name="studentId">
                                    </div>
                                    <div class="col-5">
                                        <label class="col-form-label" for="studentName">Student Name</label>
                                        <input type="text" class="form-control mb-2" id="studentName" name="studentName">
                                    </div>
                                </div>

                                <div class="form-row align-items-center">
                                    <div class="col-4">
                                        <label for="studentGrade" class="col-form-label">Grade</label>
                                        <select class="form-control mb-2" id="studentGrade">
                                            <option disabled="disabled" selected="true">Choose...</option>
                                            <option value="1">One</option>
                                            <option value="2">Two</option>
                                            <option value="3">Three</option>
                                            <option value="4">Four</option>
                                            <option value="5">Five</option>
                                            <option value="6">Six</option>
                                        </select>
                                    </div>
                                    <div class="col-5">
                                        <label for="studentSection" class="col-form-label">Section</label>
                                        <input type="text" class="form-control mb-2" id="studentSection">
                                    </div>
                                </div>

                                <div class="form-row align-items-center">
                                    <div class="col-4">
                                        <label for="dob" class="col-form-label">Date of Birth</label>
                                        <input type="date" class="form-control mb-2" id="dob">
                                    </div>
                                    <div class="col-3">
                                        <label for="gender" class="col-form-label">Gender</label>
                                        <input type="name" class="form-control mb-2" id="gender">
                                    </div>
                                    <div class="col-2">
                                        <label for="age" class="col-form-label">Age</label>
                                        <input type="number" class="form-control mb-2" id="age">
                                    </div>
                                </div>

                                <div class="form-row align-items-center">
                                    <div class="col-4">
                                        <label for="dope" class="col-form-label">Date of Examination</label>
                                        <input type="date" class="form-control mb-2" id="dope">
                                    </div>
                                    <div class="col-5">
                                      <label class="col-form-label" for="clinicianAPE">Attending Clinician</label>
                                        <select class="custom-select mb-2" id="clinicianAPE" name="clinicianAPE">
                                            <option selected>Choose...</option>
                                            {{#each users}}
                                                <option value="{{key}}"> {{firstName}} {{lastName}}</option>
                                            {{/each}}
                                        </select>
                                    </div>   
                                </div>

                                <div class="form-row align-items-center">
                                    <div class="col-2">
                                        <label for="bodyTemp" class="col-form-label">Body Temperature</label>
                                        <div class="input-group mb-2">                                        
                                            
                                            <input type="number" class="form-control" id="bodyTemp" name="bodyTemp" step="0.01">                                        
                                            <div class="input-group-append">
                                                <span class="input-group-text" id="basic-addon1">°C</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-3">
                                        <label for="bloodPressure" class="col-form-label">Blood Pressure</label>
                                        <div class="input-group mb-2">                               
                                            <input type="number" class="form-control" id="systolic" placeholder="Systolic">
                                            <input type="number" class="form-control" id="diastolic" placeholder="Diastolic">         
                                            <div class="input-group-append">
                                                <span class="input-group-text" id="basic-addon2">mmHg</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-2">
                                        <label for="pulseRate" class="col-form-label">Pulse Rate</label>
                                        <div class="input-group mb-2">                                        
                                            
                                        <input type="number" class="form-control" id="pulseRate" name="pulseRate">
                                            <div class="input-group-append">
                                                <span class="input-group-text" id="basic-addon3">beats/min</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-2">
                                        <label for="respRate" class="col-form-label">Respiration Rate</label>
                                        <div class="input-group mb-2">                                        
                                            
                                        <input type="number" class="form-control" id="respRate" name="respRate">
                                            <div class="input-group-append">
                                                <span class="input-group-text" id="basic-addon4">breaths/min</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <label for="skinFind" class="col-form-label">Skin Findings</label>
                                        <input type="name" class="form-control mb-2" id="skinFind" name="skinFind">
                                    </div>
                                </div>

                                <div class="form-row align-items-center">
                                    <div class="col-2">
                                        <label for="Weight" class="col-form-label">Weight</label>
                                        <div class="input-group mb-2">                                           
                                        <input type="number" class="form-control" id="weight" step="0.01">
                                            <div class="input-group-append">
                                                <span class="input-group-text" id="basic-addon4">kg</span>
                                            </div>
                                        </div>
                                    </div>
                                
                                    <div class="col-2">
                                        <label for="height" class="col-form-label">Height</label>
                                        <div class="input-group mb-2">                                           
                                        <input type="number" class="form-control" id="height" step="0.01">
                                            <div class="input-group-append">
                                                <span class="input-group-text" id="basic-addon4">cm</span>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <div class="col-3">
                                        <label for="bmi" class="col-form-label">BMI</label>
                                        <div class="input-group mb-2">                                           
                                        <input type="number" class="form-control" id="bmi" step="0.01">
                                            <div class="input-group-append">
                                                <span class="input-group-text" id="bmiStatus">-</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-row align-items-center">
                                    <div class="col-2">
                                        <label for="odVision" class="ml-1 col-form-label">Vision</label>
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="basic-addon1">od</span>
                                            </div>
                                                <input type="text" class="form-control" id="odVision">
                                        </div>
                                    </div>
                                    <div class="col-2">
                                        <label for="osVision" class="ml-1 col-form-label" style="color: white;">.</label>
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="basic-addon1">os</span>
                                            </div>
                                                <input type="text" class="form-control" id="osVision">
                                        </div>
                                    </div>
                                    <div class="col-2">
                                        <label for="odGlasses" class="ml-1 col-form-label">with Glasses</label>
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="basic-addon1">od</span>
                                            </div>
                                                <input type="text" class="form-control" id="odGlasses">
                                        </div>
                                    </div>
                                    <div class="col-2">
                                        <label for="osGlasses" class="ml-1 col-form-label" style="color: white;">.</label>
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="basic-addon1">os</span>
                                            </div>
                                                <input type="text" class="form-control" id="osGlasses">
                                        </div>
                                    </div>
                                </div>

                                <div class="form-row align-items-center">
                                    <div class="col-6">
                                        <label for="medProb" class="col-form-label">Medical Problems</label>
                                        <input type="name" class="form-control mb-2" id="medProb" name="medProb">
                                    </div>
                                    <div class="col-6">
                                        <label for="allergies" class="col-form-label">Allergies</label>
                                        <input type="name" class="form-control mb-2" id="allergies" name="allergies">
                                    </div>
                                </div>

                                <div class="form-row align-items-center">
                                    <div class="col-12">
                                        <label class="col-form-label" for="complaintAPE">Problems/Complaints/Abnormal Findings</label>
                                        <textarea type="text" class="form-control mb-2" id="complaintAPE" name ="complaintAPE" rows="3"></textarea>
                                    </div>    
                                </div>

                                <div class="form-row align-items-center">
                                    <div class="col-12">
                                        <label class="col-form-label" for="assessPE">Assessment/Recommendation</label>
                                        <textarea type="text" class="form-control mb-2" id="assessAPE" name="assessAPE" rows="3"></textarea>
                                    </div>    
                                </div>
            
                                <div class="form-check ml-2 mt-2">
                                    <input class="form-check-input" type="checkbox" value="" id="normalPE">
                                    <label class="form-check-label" for="flexCheckDefault">Essentially Normal P.E.</label>
                                </div>

                                <div class="d-flex justify-content-end mt-4 col-12">
                                    <button type="submit" id="saveBtn" class="mr-2 p-2 d-none d-sm-inline-block btn btn-success">
                                        <span id="saveButtonText"></span><i class="ml-2 fas fa-arrow-right text-white-50"></i>
                                    </button>                                    
                                </div>
                        </form>
                    </div>
                    </div>
                </div>

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Your Website 2021</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <form method="post" action="/logout">
                        <button class="btn btn-primary">Logout</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="public/vendor/jquery/jquery.min.js"></script>
    <script src="public/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="public/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="public/js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="public/vendor/chart.js/Chart.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="public/js/demo/chart-area-demo.js"></script>
    <script src="public/js/demo/chart-pie-demo.js"></script>
        
    <script type='text/javascript'>
        $(document).ready(function() {
            
            var schoolYear=localStorage.getItem("schoolYear");
            var sec=localStorage.getItem("section");
            var id = localStorage.getItem("id");
            var i = localStorage.getItem("sectionStudentIndex");
            var computedBmiStatus;
            var array=[];
            var link;
            array=JSON.parse(localStorage.myArray)

            document.getElementById("schoolYear").innerHTML = schoolYear;
            document.getElementById("sectionTop").innerHTML = sec;
            document.getElementById("studentID").innerHTML=id;
            document.getElementById("studentSection").value=sec;
            if(document.getElementById("studentSection").value=="Truthfulness"||document.getElementById("studentSection").value=="Sincerity"||document.getElementById("studentSection").value=="Honesty"||document.getElementById("studentSection").value=="Faithfulness"||document.getElementById("studentSection").value=="Humility"||document.getElementById("studentSection").value=="Politeness"){
                $('#studentGrade').val("1");
            }
            else if(document.getElementById("studentSection").value=="Simplicity"||document.getElementById("studentSection").value=="Charity"||document.getElementById("studentSection").value=="Helpfulness"||document.getElementById("studentSection").value=="Gratitude"||document.getElementById("studentSection").value=="Meekness"){
                $('#studentGrade').val("2");
            }
            else if(document.getElementById("studentSection").value=="Respect"||document.getElementById("studentSection").value=="Courtesy"||document.getElementById("studentSection").value=="Trust"||document.getElementById("studentSection").value=="Kindness"||document.getElementById("studentSection").value=="Piety"||document.getElementById("studentSection").value=="Prayerfulness"){
                $('#studentGrade').val("3");
            }
            else if(document.getElementById("studentSection").value=="Unity"||document.getElementById("studentSection").value=="Purity"||document.getElementById("studentSection").value=="Fidelity"||document.getElementById("studentSection").value=="Equality"||document.getElementById("studentSection").value=="Harmony"||document.getElementById("studentSection").value=="Solidarity"){
                $('#studentGrade').val("4");
            }         
            else if(document.getElementById("studentSection").value=="Trustwortiness"||document.getElementById("studentSection").value=="Reliability"||document.getElementById("studentSection").value=="Dependability"||document.getElementById("studentSection").value=="Responsibility"||document.getElementById("studentSection").value=="Serenity"||document.getElementById("studentSection").value=="Flexibility"){
                $('#studentGrade').val("5");
            }
            else if(document.getElementById("studentSection").value=="Self-Discipline"||document.getElementById("studentSection").value=="Self-Giving"||document.getElementById("studentSection").value=="Abnegation"||document.getElementById("studentSection").value=="Integrity"||document.getElementById("studentSection").value=="Perseverance"||document.getElementById("studentSection").value=="Patience"){
                $('#studentGrade').val("6");
            }
            


            $('#studentID').val(array[i]);

            if(i<array.length-1){
                //document.getElementById("skipBtn").style.display="hidden";
                document.getElementById("saveButtonText").innerHTML="Save | Next Student";
                link="/health-assessment/physical";
            }
            else if(i=>array.length){
                document.getElementById("saveButtonText").innerHTML="Save";  
                link="/health-assessment";
            }

            if(i == "0"){
                document.getElementById("prevBtn").style.display="none";
            }
            else{
                document.getElementById("prevBtn").style.display="block";
            }
            
            console.log("before:"+i);  
            console.log(id);
            idInput=$('#studentID').val();
            console.log("Id:" + idInput);
            $.ajax({
                    url: '/loadPrevData',
                    method: 'POST',
                    data: {
                        schoolYear:schoolYear,
                        id:idInput
                    },
                    success: function(data) {
                        console.log("HELLO DATA:");
                        console.log(data.name);
                        
                        document.getElementById("studentName").value=data.name;                            
                        document.getElementById("dob").value=data.birthday;
                        document.getElementById("gender").value=data.sex;

                        //document.getElementById("medProb").value=data.medProb;
                        //document.getElementById("allergies").value=data.allergies;
                        
                        
                        //document.getElementById("age").value=data.currAge;
                        //document.getElementById("dope").value=data.currDope;//change to Date
                        //document.getElementById("clinicianAPE").value=data.currClinician;
                        //document.getElementById("systolic").value=data.currSys;
                        //document.getElementById("diastolic").value=data.currDia;
                        document.getElementById("bodyTemp").value=data.currTemp;
                        document.getElementById("pulseRate").value=data.currPr
                        document.getElementById("respRate").value=data.currRr;
                        document.getElementById("skinFind").value=data.currSf;
                        document.getElementById("weight").value=data.currWeight;
                        document.getElementById("height").value=data.currHeight;
                        document.getElementById("bmi").value=data.currBmi;
                        document.getElementById("odVision").value=data.currOdVision;
                        document.getElementById("osVision").value=data.currOsVision;
                        document.getElementById("odGlasses").value=data.currOdGlasses;
                        document.getElementById("osGlasses").value=data.currOsGlasses;
                        document.getElementById("complaintAPE").value=data.currComplaints;
                        document.getElementById("assessAPE").value=data.currReco;


                        //document.getElementById("BmiStatus").innerHTML=data.currBmiStatus;
                        //document.getElementById("bodyTemp").value=data.temp;
                        //paki-change sa backend
                        //document.getElementById("bloodPressure").value=data.bp;

                        //uncomment me pag nabago na sa back
                        //document.getElementById("systolic").value=data.bp;
                        //document.getElementById("diastolic").value=data.bp;

                        //load prev Data
                        document.getElementById("lpeSY").innerHTML=data.prevSy;
                        document.getElementById("lpePR").innerHTML=data.prevPr;
                        document.getElementById("lpeRR").innerHTML=data.prevBr;
                        document.getElementById("lpeSF").innerHTML=data.prevSf;
                        document.getElementById("lpeWeight").innerHTML=data.prevWeight;
                        document.getElementById("lpeHeight").innerHTML=data.prevHeight;
                        document.getElementById("lpeBMI").innerHTML=data.prevBmi;
                        document.getElementById("lpeODV").innerHTML=data.prevOdVision;
                        document.getElementById("lpeOSV").innerHTML=data.prevOsVision;
                        document.getElementById("lpeODG").innerHTML=data.prevOdGlasses;
                        document.getElementById("lpeOSG").innerHTML=data.prevOsGlasses;
                        document.getElementById("lpeProblems").innerHTML=data.prevComplaints;
                        document.getElementById("lpeAssess").innerHTML=data.prevReco;
                        document.getElementById("lpeBMIStatus").innerHTML=data.prevBmiStatus;
                        document.getElementById("lpeDate").innerHTML=data.prevDope;
                        document.getElementById("lpeDoctor").innerHTML=data.prevClinician;
                        document.getElementById("lpeBT").innerHTML=data.prevTemp;
                        document.getElementById("lpeBP").innerHTML=data.prevSys +"/"+ data.prevDia;


                    }  
                });
            
            $("#dope").change(function(){
                var bDate = new Date(document.getElementById("dob").value);
                var vDate = new Date(document.getElementById("dope").value);
                var bYear=bDate.getFullYear();
                var vYear=vDate.getFullYear();
                var bMonth=bDate.getMonth();
                var vMonth=vDate.getMonth();
                var bDay=bDate.getDate();
                var vDay=vDate.getDate();

                var ageYear=vYear-bYear;
                if(vMonth<bMonth){
                    ageYear=ageYear-1;
                }
                else if(vMonth==bMonth){
                    if(vDay<bDay){
                        ageYear=ageYear-1;
                    }
                }
                document.getElementById("age").value=ageYear;
            })
    
            $("#weight").change(function(){
                var w = $("#weight").val();
                var h= $("#height").val()/100;
                console.log(h);
                if(!h==null || !h==""){
                    var b= w/(h*h);
                    var sId = $('#studentID').val();
                    var dob = $('#dob').val(); 
                    var a = $('#age').val(); 
                    var g = $('#gender').val(); 
                    var apeDate =  $('#dope').val(); 
                    document.getElementById("bmi").value=b.toFixed(2);
                    var bmiVal=$('#bmi').val();

                    $.ajax({
                    url: '/getBmiStatus',
                    method: 'POST',
                    data: {
                        id:sId,
                        dob:dob,
                        age:a,
                        sex:g,
                        dateAPE:apeDate,
                        bmi:bmiVal
                    },
                    success: function(data) {
                        console.log(data);
                        computedBmiStatus=data;
                        document.getElementById("bmiStatus").innerHTML = data;
                    }
                });


                    //$.post("/getBmiStatus",{id:id,dob:dob,age:age,sex:gender,dataAPE:dateAPE,bmi:bmiVal}function(data){
                    //   console.log(data)
                    //})
                }
            });
            $("#height").change(function(){
                var w = $("#weight").val();
                var h= $("#height").val()/100;
                console.log(w);
                if(!w==null || !w==""){
                    var b= w/(h*h);
                    var sId = $('#studentID').val();
                    var dob = $('#dob').val(); 
                    var a = $('#age').val(); 
                    var g = $('#gender').val(); 
                    var apeDate =  $('#dope').val(); 
                    document.getElementById("bmi").value=b.toFixed(2);
                    var bmiVal=$('#bmi').val();

                    $.ajax({
                        url: '/getBmiStatus',
                        method: 'POST',
                        data: {
                            id:sId,
                            dob:dob,
                            age:a,
                            sex:g,
                            dateAPE:apeDate,
                            bmi:bmiVal
                        },
                        success: function(data) {
                            console.log(data);
                            computedBmiStatus=data;
                            document.getElementById("bmiStatus").innerHTML = data;
                        }
                    });

                }
            });

            $("#prevBtn").click(function(){
                localStorage.setItem("schoolYear",schoolYear);
                localStorage.setItem("section",sec);
                localStorage.setItem("id",id);
                localStorage.setItem("sectionStudentIndex", parseInt(i-1));
                console.log("prev:"+i);
                console.log("HI Prev");
                window.location.href = "/health-assessment/physical";
            });

            $("#skipBtn").click(function(){
                localStorage.setItem("schoolYear",schoolYear);
                localStorage.setItem("section",sec);
                localStorage.setItem("id",id);
                localStorage.setItem("sectionStudentIndex", parseInt(i+1));
                var array=[];
                var link;
                array=JSON.parse(localStorage.myArray)
                var sy=schoolYear;

                if(i<array.length-1){
                //document.getElementById("skipBtn").style.display="hidden";
                document.getElementById("saveButtonText").innerHTML="Save | Next Student";
                link="/health-assessment/physical";
                }
                else if(i=>array.length){
                    document.getElementById("saveButtonText").innerHTML="Save";  
                    link="/health-assessment";
                }
                window.location.href = link;
            })
        
   
        });
    </script>
 
    <script>
        $(document).ready(function() {
            var schoolYear=localStorage.getItem("schoolYear");
            var sec=localStorage.getItem("section");
            var id = localStorage.getItem("id");
            var i = localStorage.getItem("sectionStudentIndex");
            var computedBmiStatus;
            var array=[];
            var link;
            array=JSON.parse(localStorage.myArray)
            if(i<array.length-1){
                //document.getElementById("skipBtn").style.display="hidden";
                document.getElementById("saveButtonText").innerHTML="Save | Next Student";
                link="/health-assessment/physical";
            }
            else if(i=>array.length){
                document.getElementById("saveButtonText").innerHTML="Save";  
                link="/health-assessment";
            }

            $("#saveBtn").click(function(){
                localStorage.setItem("schoolYear",schoolYear);
                localStorage.setItem("section",sec);
                localStorage.setItem("id",id);
                localStorage.setItem("sectionStudentIndex", parseInt(i+1));
                console.log("save:"+i);
                console.log("clicked?");

                if(i<array.length-1){
                //document.getElementById("skipBtn").style.display="hidden";
                document.getElementById("saveButtonText").innerHTML="Save | Next Student";
                link="/health-assessment/physical";
                }
                else if(i=>array.length){
                    document.getElementById("saveButtonText").innerHTML="Save";  
                    link="/health-assessment";
                }


                var sy=schoolYear;
                if(sy==null){
                    sy="";
                }
                console.log(sy);

                var sectionHeader=sec;
                if(sectionHeader==null){
                    sectionHeader="";
                }
                console.log(sectionHeader);

                var id = $('#studentID').val();
                if(id==null){
                    id="";
                }
                console.log(id);
                
                var studentName = $('#studentName').val(); 
                if(studentName==null){
                    studentName="";
                }
                console.log(studentName);

                var studentGrade = $('#studentGrade').val(); 
                if(studentGrade==null){
                    studentGrade="";
                }
                console.log(studentGrade);

                var sectionTop = $('#sectionTop').innerHTML;
                if(sectionTop==null){
                    sectionTop="";
                }
                
                var studentSection = $('#studentSection').val(); 
                if(studentSection==null){
                    studentSection="";
                }
                console.log(studentSection);
                
                var dob = $('#dob').val(); 
                console.log(dob);

                var age = $('#age').val(); 
                console.log(age);

                var gender = $('#gender').val(); 
                if(gender ==null){
                    gender="";
                }
                console.log(gender); 

                var dateAPE =  $('#dope').val(); 
                if(dateAPE==null){
                    dateAPE="";
                }
                console.log(dope);
                
                //var selectClinician =  $('#clinician').val();
                var clinician =  $('#clinicianAPE').find(":selected").val();   
                if(clinician==null){
                    cllinician="";
                }
                console.log(clinician);

                    //vital signs
                var bodyTemp =  $('#bodyTemp').val(); 
                if(bodyTemp==null){
                    bodyTemp="";
                }console.log(bodyTemp);

                var systolic =  $('#systolic').val(); 
                if(systolic==null){
                    systolic="";
                }console.log(systolic);

                var diastolic =  $('#diastolic').val(); 
                if(diastolic==null){
                    diastolic="";
                }console.log(diastolic);

                var pr =  $('#pulseRate').val(); 
                if(pr==null){
                    pr="";
                }
                console.log(pr);

                var rr =  $('#respRate').val(); 
                if(rr==null){
                    rr="";
                }
                console.log(rr);

                var sf =  $('#skinFind').val(); 
                if(sf==null){
                    sf="";
                }
                console.log(sf);

                var weight =  $('#weight').val(); 
                if(weight==null){
                    weight="";
                }
                console.log(weight);

                var height =  $('#height').val(); 
                if(height==null){
                    height="";
                }
                console.log(height);

                var bmi =  $('#bmi').val(); 
                if(bmi==null){
                    bmi="";
                }
                console.log(bmi);

                //vision
                var odVision =  $('#odVision').val(); 
                if(odVision==null){
                    odVision="";
                }
                console.log(odVision);

                var osVision =  $('#osVision').val(); 
                if(osVision==null){
                    osVision="";
                }
                console.log(osVision);

                var odGlasses =  $('#odGlasses').val(); 
                if(odGlasses==null){
                    odGlasses="";
                }console.log(odGlasses);

                var osGlasses =  $('#osGlasses').val(); 
                if(osGlasses==null){
                    osGlasses="";
                }
                console.log(osGlasses);

                var medProb =  $('#medProb').val(); 
                if(medProb==null){
                    medProb="";
                }console.log(medProb);

                var allergies =  $('#allergies').val(); 
                if(allergies==null){
                    allergies="";
                }
                console.log(allergies);

                var complaintAPE =  $('#complaintAPE').val(); 
                if(complaintAPE==null){
                    complaintAPE="";
                }
                console.log(complaintAPE);

                var assessAPE =  $('#assessAPE').val(); 
                if(assessAPE==null){
                    assessAPE="";
                }
                console.log(assessAPE);

                var normalPE =  $('#normalPE').val(); 
                console.log(normalPE); 
                computedBmiStatus= document.getElementById("bmiStatus").innerHTML;
                console.log("BMISTATUS"+computedBmiStatus); 
                $.ajax({
                    url: '/addAPE',
                    method: 'POST',
                    data: {
                        clicked:"save",
                        bmiStatus:computedBmiStatus,
                        section:  studentSection,
                        sectionTop:sectionTop,
                        age:age,
                        schoolYear:sy,
                        studentId: id,
                        studentName: studentName,
                        visitDate: dateAPE,
                        //timeStamp: forSortDate,
                        clinician: clinician,
                        bodyTemp: bodyTemp,
                        systolic: systolic,
                        diastolic: diastolic,
                        pr: pr,
                        rr: rr,
                        skinFindings: sf,
                        weight: weight,
                        height: height,
                        bmi: bmi,
                        odVision: odVision,
                        osVision: osVision,
                        odGlasses: odGlasses,
                        osGlasses: osGlasses,
                        medProb: medProb,
                        allergies: allergies,
                        concern: complaintAPE,
                        assess: assessAPE,
                        normal: normalPE,
                    },
                    success: function(data) {
                        console.log("Bonjour");
                        console.log(data);
                        console.log(link);
                        window.location.href = link;
                    }  
                });

                

            
            }); 
        });
    </script>
    



</body>

</html>