<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>IsKlinika</title>

    <!-- Custom fonts for this template-->
    <link href="public/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="public/css/sb-admin-2.min.css" rel="stylesheet">

    <!-- Custom styles for this page -->
    <link href="public/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">

    <style>
        .clickable-row {
            cursor: pointer;
        }
    </style>
    
    <style>             
        .content {
            margin: 15px 15px 0px 15px;
            max-height: 0;
            overflow: hidden;
            transition: max-height 0.2s ease-out;
        }

        #or {
            width: 100%; 
            text-align: center; 
            border-bottom: 2px solid #d1d3e2; 
            line-height: 0.1em;
            margin-top: 20px; 
            margin-bottom: 20px; 
        } 

        #or span { 
            background:#fff; 
            padding:0 10px; 
        }
    </style>

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-user-md"></i>
                </div>
                <div class="sidebar-brand-text mx-3 text-capitalize">IsKlinika</div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item">
                <a class="nav-link" href="/dashboard">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Dashboard</span></a>
            </li>
            
            <!-- Nav Item - Disease Surveillance -->
            <li class="nav-item">
                <a class="nav-link" href="index.html">
                    <i class="fas fa-fw fa-virus"></i>
                    <span>Disease Surveillance</span></a>
            </li>

            <!-- Nav Item - Case Records -->
            <li class="nav-item">
                <a class="nav-link" href="case-records.html">
                    <i class="fas fa-fw fa-table"></i>
                    <span>Case Records</span></a>
            </li>

            <!-- Nav Item - Clinic Visit -->
            <li class="nav-item">
                <a class="nav-link" href="/clinic-visit">
                    <i class="fas fa-fw fa-medkit"></i>
                    <span>Clinic Visit</span></a>
            </li>

            <!-- Nav Item - Health Assessment -->
            <li class="nav-item active">
                <a class="nav-link" href="#">
                    <i class="fas fa-fw fa-stethoscope"></i>
                    <span>Health Assessment</span></a>
            </li>

            <!-- Nav Item - Communications -->
            <li class="nav-item">
                <a class="nav-link" href="/communications">
                    <i class="fas fa-fw fa-comments"></i>
                    <span>Communications</span></a>
            </li>

            <!-- Nav Item - Promotive Care -->
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <i class="fas fa-fw fa-child"></i>
                    <span>Promotive Care</span></a>
            </li>

            <!-- Nav Item - Performance Assessment -->
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <i class="fas fa-fw fa-star"></i>
                    <span>Performance Assessment</span></a>
            </li>

            <!-- Nav Item - Inventory -->
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <i class="fas fa-fw fa-tablets"></i>
                    <span>Inventory</span></a>
            </li>

            <!-- Nav Item - Profile -->
            <li class="nav-item">
                <a class="nav-link" href="/profile">
                    <i class="fas fa-fw fa-user"></i>
                    <span>Profile</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>

        </ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>

                    <!-- Topbar Search -->
                    <form
                        class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                        <div class="input-group">
                            <input type="text" id="searchId" class="form-control bg-light border-0 small" placeholder="Search for..."
                                aria-label="Search" aria-describedby="basic-addon2">
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="button" id="searchStudentBtn">
                                    <i class="fas fa-search fa-sm"></i>
                                </button>
                            </div>
                        </div>
                    </form>

                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">

                        <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                        <li class="nav-item dropdown no-arrow d-sm-none">
                            <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-search fa-fw"></i>
                            </a>
                            <!-- Dropdown - Messages -->
                            <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                                aria-labelledby="searchDropdown">
                                <form class="form-inline mr-auto w-100 navbar-search">
                                    <div class="input-group">
                                        <input type="text" class="form-control bg-light border-0 small"
                                            placeholder="Search for..." aria-label="Search"
                                            aria-describedby="basic-addon2">
                                        <div class="input-group-append">
                                            <button class="btn btn-primary" type="button">
                                                <i class="fas fa-search fa-sm"></i>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </li>

                        <!-- Nav Item - Alerts -->
                        <li class="nav-item dropdown no-arrow mx-1">
                            <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-bell fa-fw"></i>
                                <!-- Counter - Alerts -->
                                <span class="badge badge-danger badge-counter">3+</span>
                            </a>
                            <!-- Dropdown - Alerts -->
                            <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="alertsDropdown">
                                <h6 class="dropdown-header">
                                    Alerts Center
                                </h6>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="mr-3">
                                        <div class="icon-circle bg-primary">
                                            <i class="fas fa-file-alt text-white"></i>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="small text-gray-500">December 12, 2019</div>
                                        <span class="font-weight-bold">A new monthly report is ready to download!</span>
                                    </div>
                                </a>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="mr-3">
                                        <div class="icon-circle bg-success">
                                            <i class="fas fa-donate text-white"></i>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="small text-gray-500">December 7, 2019</div>
                                        $290.29 has been deposited into your account!
                                    </div>
                                </a>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="mr-3">
                                        <div class="icon-circle bg-warning">
                                            <i class="fas fa-exclamation-triangle text-white"></i>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="small text-gray-500">December 2, 2019</div>
                                        Spending Alert: We've noticed unusually high spending for your account.
                                    </div>
                                </a>
                                <a class="dropdown-item text-center small text-gray-500" href="#">Show All Alerts</a>
                            </div>
                        </li>

                        <!-- Nav Item - Messages -->
                        <li class="nav-item dropdown no-arrow mx-1">
                            <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-envelope fa-fw"></i>
                                <!-- Counter - Messages -->
                                <span class="badge badge-danger badge-counter">7</span>
                            </a>
                            <!-- Dropdown - Messages -->
                            <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="messagesDropdown">
                                <h6 class="dropdown-header">
                                    Message Center
                                </h6>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="dropdown-list-image mr-3">
                                        <img class="rounded-circle" src="public/img/undraw_profile_1.svg"
                                            alt="...">
                                        <div class="status-indicator bg-success"></div>
                                    </div>
                                    <div class="font-weight-bold">
                                        <div class="text-truncate">Hi there! I am wondering if you can help me with a
                                            problem I've been having.</div>
                                        <div class="small text-gray-500">Emily Fowler · 58m</div>
                                    </div>
                                </a>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="dropdown-list-image mr-3">
                                        <img class="rounded-circle" src="public/img/undraw_profile_2.svg"
                                            alt="...">
                                        <div class="status-indicator"></div>
                                    </div>
                                    <div>
                                        <div class="text-truncate">I have the photos that you ordered last month, how
                                            would you like them sent to you?</div>
                                        <div class="small text-gray-500">Jae Chun · 1d</div>
                                    </div>
                                </a>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="dropdown-list-image mr-3">
                                        <img class="rounded-circle" src="public/img/undraw_profile_3.svg"
                                            alt="...">
                                        <div class="status-indicator bg-warning"></div>
                                    </div>
                                    <div>
                                        <div class="text-truncate">Last month's report looks great, I am very happy with
                                            the progress so far, keep up the good work!</div>
                                        <div class="small text-gray-500">Morgan Alvarez · 2d</div>
                                    </div>
                                </a>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="dropdown-list-image mr-3">
                                        <img class="rounded-circle" src="https://source.unsplash.com/Mv9hjnEUHR4/60x60"
                                            alt="...">
                                        <div class="status-indicator bg-success"></div>
                                    </div>
                                    <div>
                                        <div class="text-truncate">Am I a good boy? The reason I ask is because someone
                                            told me that people say this to all dogs, even if they aren't good...</div>
                                        <div class="small text-gray-500">Chicken the Dog · 2w</div>
                                    </div>
                                </a>
                                <a class="dropdown-item text-center small text-gray-500" href="#">Read More Messages</a>
                            </div>
                        </li>

                        <div class="topbar-divider d-none d-sm-block"></div>

                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small">Douglas McGee</span>
                                <img class="img-profile rounded-circle"
                                    src="public/img/undraw_profile.svg">
                            </a>
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="userDropdown">
                                <a class="dropdown-item" href="/profile">
                                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Profile
                                </a>
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Settings
                                </a>
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Activity Log
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" data-toggle="modal" data-target="#logoutModal">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Logout
                                </a>
                            </div>
                        </li>

                    </ul>

                </nav>
                <!-- End of Topbar -->                   

                <!-- Begin Page Content -->
                <div class="container-fluid">
                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">Health Assessment</h1>
                        <div class="d-flex flex-row-reverse">
                            <button type="button" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                                class="fas fa-share mr-1 text-white-50"></i> Send Email  </button>

                            <a href="/health-assessment/schedule" class="d-none d-sm-inline-block btn btn-sm mr-2 btn-primary shadow-sm"><i
                                class="fas fa-calendar-alt mr-1 text-white-50"></i> Schedule  </a>
                            
                            <div class="dropdown">
                                <button class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm mr-2 dropdown-toggle" type="button" id="createHA" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i
                                class="fas fa-plus-circle mr-1 text-white-50"></i> Create  </a>
                                </button>
                                <div class="dropdown-menu" aria-labelledby="createHA">
                                    <a class="dropdown-item" data-toggle="modal" data-target="#modalHA">Physical Exam</a>
                                    <a class="dropdown-item" href="#">Dental Exam</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal fade" id="modalHA" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog" role="document" style="margin-top: 100px;">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLongTitle">Physical Exam</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <form  method="post" action="/getSectionStudents">
                                        <label for="schoolYear">Enter School Year</label>                                        
                                        <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="basic-addon1">S.Y.</span>
                                        </div>
                                        <input type="text" class="form-control" id="schoolYear" name="schoolYear" placeholder="YYYY-YYYY" aria-label="school-year" aria-describedby="basic-addon1">
                                        </div>
                                        <div class="form-group">
                                            <label for="sectionPE">Conduct APE by a Section</label>
                                            <div class="input-group">
                                                <span class="input-group-prepend">
                                                    <div class="input-group-text border-right-1" style=" background-color: #eaecf4; border: 1px solid #d1d3e2;">
                                                    <i class="fa fa-search"></i>
                                                    </div>
                                                </span>
                                                <input list="sections" class="form-control py-2 border-left-1 border" id="sectionPE" placeholder="Search by grade or section"/>                                       
                                            </div>
                                            <datalist id="sections">
                                                {{#each sections}}
                                                    <option value='{{section}}'> </option>
                                                {{/each}}                             
                                            </datalist>  
                                            <h6 id="or" class="h6 text-gray"><span>OR</span></h6>
                                            <label for="studentPE">Conduct APE for a Student</label>
                                            <div class="input-group">
                                                <span class="input-group-prepend">
                                                    <div class="input-group-text border-right-1" style=" background-color: #eaecf4; border: 1px solid #d1d3e2;">
                                                    <i class="fa fa-search"></i>
                                                    </div>
                                                </span>
                                                <input list="students" class="form-control py-2 border-left-1 border" id="studentPE" placeholder="Search student"/>                                       
                                            </div>
                                            <datalist id="students">
                                                <option value="Christine Nahuli">                                
                                            </datalist>

                                        </div>                                    
                                    </div>
                                    <div class="modal-footer">
                                        <a href="#" class="btn btn-danger" data-dismiss="modal">Cancel</a>
                                        <button type="submit" id="searchBtn" class="btn btn-success">Proceed</a>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                    {{#if success}}
                        <div class="alert alert-danger alert-dismissible d-flex align-items-center fade show" style="font-size: 12px; !important" id="error">
                            <i class="fa fa-exclamation-circle"></i>
                            <strong class="mx-1">Success!</strong> {{success_msg}}
                        </div>
                    {{/if}}

                    <!-- Project Card Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Annual Physical Exam</h6>
                        </div>
                        <div class="card-body">
                            <h4 class="small font-weight-bold">Grade 1 <span
                                    class="float-right" id="percent1"></span></h4>
                            <div class="progress mb-3">
                                <div class="progress-bar bg-danger" role="progressbar" id="g1prog"
                                    aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <h4 class="small font-weight-bold">Grade 2 <span
                                    class="float-right"id="percent2"></span></h4>
                            <div class="progress mb-3">
                                <div class="progress-bar" role="progressbar" id="g2prog" style="background-color: #FF781F;"
                                    aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <h4 class="small font-weight-bold">Grade 3 <span
                                    class="float-right" id="percent3"></span></h4>
                            <div class="progress mb-3">
                                <div class="progress-bar" role="progressbar" id="g3prog" style=" background-color: #FFE800;"
                                    aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <h4 class="small font-weight-bold">Grade 4 <span
                                    class="float-right"id="percent4"></span></h4>
                            <div class="progress mb-3">
                                <div class="progress-bar bg-success" role="progressbar" id="g4prog" 
                                    aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <h4 class="small font-weight-bold">Grade 5 <span
                                    class="float-right"id="percent5"></span></h4>
                            <div class="progress mb-3">
                                <div class="progress-bar bg-primary" role="progressbar" id="g5prog" 
                                    aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <h4 class="small font-weight-bold">Grade 6 <span
                                    class="float-right" id="percent6"></span></h4>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" id="g6prog" style="background-color: #9400D3;"
                                    aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                    </div>

                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Schedule</h6>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>Grade and Section</th>
                                            <th>Date of Schedule</th>
                                            <th>No. of Students</th>
                                            <th>Status</th>
                                            <th>Time Out</th>
                                            <th>Status</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>Name</th>
                                            <th>Position</th>
                                            <th>Office</th>
                                            <th>Age</th>
                                            <th>Start date</th>
                                            <th>Salary</th>
                                        </tr>
                                    </tfoot>
                                    <tbody>
                                        <tr class='clickable-row'>
                                            <td>Tiger Nixon</td>
                                            <td>System Architect</td>
                                            <td>Edinburgh</td>
                                            <td>61</td>
                                            <td>2011/04/25</td>
                                            <td>$320,800</td>
                                        </tr>
                                        <tr>
                                            <td>Garrett Winters</td>
                                            <td>Accountant</td>
                                            <td>Tokyo</td>
                                            <td>63</td>
                                            <td>2011/07/25</td>
                                            <td>$170,750</td>
                                        </tr>
                                        <tr>
                                            <td>Ashton Cox</td>
                                            <td>Junior Technical Author</td>
                                            <td>San Francisco</td>
                                            <td>66</td>
                                            <td>2009/01/12</td>
                                            <td>$86,000</td>
                                        </tr>
                                        <tr>
                                            <td>Cedric Kelly</td>
                                            <td>Senior Javascript Developer</td>
                                            <td>Edinburgh</td>
                                            <td>22</td>
                                            <td>2012/03/29</td>
                                            <td>$433,060</td>
                                        </tr>
                                        <tr>
                                            <td>Airi Satou</td>
                                            <td>Accountant</td>
                                            <td>Tokyo</td>
                                            <td>33</td>
                                            <td>2008/11/28</td>
                                            <td>$162,700</td>
                                        </tr>
                                        <tr>
                                            <td>Brielle Williamson</td>
                                            <td>Integration Specialist</td>
                                            <td>New York</td>
                                            <td>61</td>
                                            <td>2012/12/02</td>
                                            <td>$372,000</td>
                                        </tr>
                                        <tr>
                                            <td>Herrod Chandler</td>
                                            <td>Sales Assistant</td>
                                            <td>San Francisco</td>
                                            <td>59</td>
                                            <td>2012/08/06</td>
                                            <td>$137,500</td>
                                        </tr>
                                        <tr>
                                            <td>Rhona Davidson</td>
                                            <td>Integration Specialist</td>
                                            <td>Tokyo</td>
                                            <td>55</td>
                                            <td>2010/10/14</td>
                                            <td>$327,900</td>
                                        </tr>
                                        <tr>
                                            <td>Colleen Hurst</td>
                                            <td>Javascript Developer</td>
                                            <td>San Francisco</td>
                                            <td>39</td>
                                            <td>2009/09/15</td>
                                            <td>$205,500</td>
                                        </tr>
                                        <tr>
                                            <td>Sonya Frost</td>
                                            <td>Software Engineer</td>
                                            <td>Edinburgh</td>
                                            <td>23</td>
                                            <td>2008/12/13</td>
                                            <td>$103,600</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <!-- Basic Card Example -->
                    <div class="card shadow mb-2 divmenu" id="haSched">
                        <div class="card-header py-3"><h6 class="m-0 font-weight-bold text-primary">Schedule</h6></div>
                        <div class="card-body">
                            {{#each clinicVisits}}
                                <!-- Card Header - Accordion -->
                            {{!-- <button class="btn collapsible" type="button" data-toggle="collapse" data-target="content" aria-expanded="false" aria-controls="content"> Date of Purchase: {{formatDate purchaseDate}}</button> --}}
                            <a class="d-block card-header py-3 collapsible" data-toggle="collapse" data-target="content" role="button" aria-expanded="false" aria-controls="content">
                                <h6 class="m-0 font-weight-bold text-primary">Grade - Section</span></h6>
                            </a>
                            <!-- Card Content - Collapse -->
                            <div class="content">
                                <div class="table-responsive">
                                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                        <thead>
                                            <tr>
                                                <th>Student</th>
                                                <th>Date</th>
                                                <th>Time</th>
                                                <th>Status</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {{#each visitDetails}}
                                            <tr>
                                                <td>{{studentName}}</td>
                                                <td>{{timeIn}}</td>
                                                <td>{{timeOut}}</td>
                                                <td>{{status}}</td>
                                            </tr>
                                            {{/each}}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            {{/each}}
                        </div>
                    </div>

                    <!-- Basic Card Example -->
                    <div class="card shadow mb-2 divmenu" id="haList">
                        <div class="card-header py-3"><h6 class="m-0 font-weight-bold text-primary">Physical Exam</h6></div>
                        <div class="card-body">
                            {{#each clinicVisits}}
                                <!-- Card Header - Accordion -->
                            {{!-- <button class="btn collapsible" type="button" data-toggle="collapse" data-target="content" aria-expanded="false" aria-controls="content"> Date of Purchase: {{formatDate purchaseDate}}</button> --}}
                            <a class="d-block card-header py-3 collapsible" data-toggle="collapse" data-target="content" role="button" aria-expanded="false" aria-controls="content">
                                <h6 class="m-0 font-weight-bold text-primary">Grade - Section</span></h6>
                            </a>
                            <!-- Card Content - Collapse -->
                            <div class="content">
                                <div class="table-responsive">
                                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                        <thead>
                                            <tr>
                                                <th>Student</th>
                                                <th>Date</th>
                                                <th>Time</th>
                                                <th>Status</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {{#each visitDetails}}
                                            <tr>
                                                <td>{{studentName}}</td>
                                                <td>{{timeIn}}</td>
                                                <td>{{timeOut}}</td>
                                                <td>{{status}}</td>
                                            </tr>
                                            {{/each}}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            {{/each}}
                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Your Website 2021</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <form method="post" action="/logout">
                        <button class="btn btn-primary">Logout</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="public/vendor/jquery/jquery.min.js"></script>
    <script src="public/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="public/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="public/js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="public/vendor/chart.js/Chart.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="public/js/demo/chart-area-demo.js"></script>
    <script src="public/js/demo/chart-pie-demo.js"></script>

    <!-- Page level plugins -->
    <script src="public/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="public/vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="public/js/demo/datatables-demo.js"></script>

    <script>
        $(document).on('click', '.clickable-row', function(e){
            window.location = "/clinic-visit/create";
        });
    </script>
    <script>
        var collapsible = document.getElementsByClassName("collapsible");
        var i;

        for (i = 0; i < collapsible.length; i++) {
            collapsible[i].addEventListener("click", function() {
            this.classList.toggle("active");
            var content = this.nextElementSibling;
            if (content.style.maxHeight){
            content.style.maxHeight = null;
            } else {
            content.style.maxHeight = content.scrollHeight + "px";
            } 
        });
        }
    </script>
     <script type='text/javascript'>
        $(document).ready(function() {
        
        var sy="2021-2022";
        $.post("/getPercentageChart",{schoolYear:sy}, function(data){
            var p1=data.p1 * 100 +"%";
            var p2=data.p2 * 100 +"%";
            var p3=data.p3 * 100 +"%";
            var p4=data.p4 * 100 +"%";
            var p5=data.p5 * 100 +"%";
            var p6=data.p6 * 100 +"%";
            
            $('#percent1').html("(" + data.c1 + "/" + data.t1 + ") - " + p1);
            $('#percent2').html("(" + data.c2 + "/" + data.t2 + ") - " + p2);
            $('#percent3').html("(" + data.c3 + "/" + data.t3 + ") - " + p3);
            $('#percent4').html("(" + data.c4 + "/" + data.t4 + ") - " + p4);
            $('#percent5').html("(" + data.c5 + "/" + data.t5 + ") - " + p5);
            $('#percent6').html("(" + data.c6 + "/" + data.t6 + ") - " + p6);
            
            document.getElementById("g1prog").style.width= p1;
            document.getElementById("g2prog").style.width= p2;
            document.getElementById("g3prog").style.width= p3;
            document.getElementById("g4prog").style.width= p4;
            document.getElementById("g5prog").style.width= p5;
            document.getElementById("g6prog").style.width= p6;
            
        });

            $("#searchBtn").click(function(){
                console.log("clicked?");

                var schoolYear = $('#schoolYear').val();
                console.log(schoolYear);
                
                var section = $('#sectionPE').val(); 
                console.log(section);

                var id = $('#studentPE').val(); 
                console.log(name);

                localStorage.setItem("schoolYear",schoolYear);
                localStorage.setItem("section",section);
                localStorage.setItem("id",id);
                localStorage.setItem("sectionStudentIndex", 0);

                $.ajax({
                    url: '/getSectionStudents',
                    method: 'POST',
                    data: {
                        section: section,
                        schoolYear: schoolYear,
                        studentId: id
                        //timeStamp: forSortDate,
                    },
                    success: function(data) {
                        console.log(data[0]);
                        localStorage.myArray = JSON.stringify(data);
                        window.location.href = "/health-assessment/physical";
                    }
                });
            
            });

        });
    </script>
    
</body>

</html>