<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>IsKlinika</title>
    <link rel="stylesheet" href="/public/css/messages.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/css/selectize.default.css">
    <link rel="stylesheet" href="/public/css/bootstrap.min.css">
    <link rel="stylesheet" href="/public/css/sb-admin-2.min.css">
    <link rel="stylesheet" href="/public/css/sb-admin-2.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/css/select2.min.css" />

    <!-- Custom fonts for this template-->
    <link href="public/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="public/css/sb-admin-2.min.css" rel="stylesheet">

    <style>
        table  {
            table-layout: fixed;
        }

        table td {
        position: relative;
        padding: 0px !important;
        }

        td {
        position: relative;
        padding: 5px !important;
        }

        td input:focus{
        outline: none;
        }

        table td input {
        position: relative;
        display: block;
        top:0;
        left:0;
        margin: 0;
        height: 100%;
        width: 100%;
        border: none;
        padding: 10px;
        box-sizing: border-box;
        color: #6e707e;
        text-align: center;
        }

        #myInput {
        box-sizing: border-box;
        background-position: 12px 12px;
        background-repeat: no-repeat;
        font-size: 16px;
        padding: 14px 12px 12px 12px;
        border: none;
        border-bottom: 1px solid #ddd;
        font-size: .875rem;
        line-height: 1.5;
        color: #6e707e;
        }

        input#myInput {
            width: 100%;
        }

        /* The search field when it gets focus/clicked on */
        #myInput:focus {outline: 1px solid #ddd;}

        /* The container <div> - needed to position the dropdown content */
        .dropdown {
        position: relative;
        display: inline-block;
        }

        /* Dropdown Content (Hidden by Default) */
        .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f6f6f6;
        min-width: 230px;
        border: 1px solid #ddd;
        z-index: 1;
        }

        /* Links inside the dropdown */
        .dropdown-content option {
        font-size: .875rem;
        line-height: 1.5;
        color: #6e707e;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        
        }

        /* Change color of dropdown links on hover */
        .dropdown-content option:hover {background-color: #f1f1f1}

        /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
        .show {display:block;}

    </style>

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/dashboard" style="pointer-events: none; cursor: default;">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-user-md"></i>
                </div>
                <div class="sidebar-brand-text mx-3 text-capitalize">IsKlinika</div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            {{#if isNurse}}
                <!-- Nav Item - Clinic Visit -->
                <li class="nav-item">
                    <a class="nav-link" href="/clinic-visit">
                        <i class="fas fa-fw fa-medkit"></i>
                        <span>Clinic Visit</span></a>
                </li>

                <!-- Nav Item - Profile -->
                <li class="nav-item">
                    <a class="nav-link" href="/profile">
                        <i class="fas fa-fw fa-user"></i>
                        <span>Student Profile</span></a>
                </li>

                <!-- Nav Item - Health Assessment -->
                <li class="nav-item active">
                    <a class="nav-link" href="/health-assessment">
                        <i class="fas fa-fw fa-stethoscope"></i>
                        <span>Health Assessment</span></a>
                </li>

                <!-- Nav Item - Inventory -->
                <li class="nav-item">
                    <a href="#inventory" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle nav-link">
                        <i class="fas fa-fw fa-archive"></i>
                        <span>Inventory</span></a>
                    <ul class="collapse list-unstyled" id="inventory">
                        <li>
                            <a class="nav-link" href="/inventory-medicine">
                                <i class="fas fa-fw fa-tablets"></i>
                                <span>Medicine</span></a>
                        </li>
                        <li>
                            <a class="nav-link" href="/inventory-supply">
                                <i class="fas fa-fw fa-pump-medical"></i>
                                <span>Supply</span></a>
                        </li>
                        <li>
                            <a class="nav-link" href="/inventory-dental">
                                <i class="fas fa-fw fa-tooth"></i>
                                <span>Dental</span></a>
                        </li>
                    </ul>
                </li>

                <!-- Nav Item - Promotive Care -->
                <li class="nav-item">
                    <a class="nav-link" href="/promotive-care">
                        <i class="fas fa-fw fa-child"></i>
                        <span>Promotive Care</span></a>
                </li>

                <!-- Nav Item - Performance Assessment -->
                <li class="nav-item">
                    <a class="nav-link" href="/performance-assessment">
                        <i class="fas fa-fw fa-star"></i>
                        <span>Performance Assessment</span></a>
                </li>

                <!-- Nav Item - Communications -->
                <li class="nav-item">
                    <a class="nav-link" href="/communications">
                        <i class="fas fa-fw fa-comments"></i>
                        <span>Communications</span></a>
                </li>
            {{else}}
                <!-- Nav Item - Dashboard -->
                <li class="nav-item">
                    <a class="nav-link" href="/dashboard">
                        <i class="fas fa-fw fa-tachometer-alt"></i>
                        <span>Dashboard</span></a>
                </li>
                
                <!-- Nav Item - Disease Surveillance -->
                <li class="nav-item">
                    <a class="nav-link" href="/disease-surveillance">
                        <i class="fas fa-fw fa-virus"></i>
                        <span>Disease Surveillance</span></a>
                </li>

                <!-- Nav Item - Clinic Visit -->
                <li class="nav-item">
                    <a class="nav-link" href="/clinic-visit">
                        <i class="fas fa-fw fa-medkit"></i>
                        <span>Clinic Visit</span></a>
                </li>

                <!-- Nav Item - Profile -->
                <li class="nav-item">
                    <a class="nav-link" href="/profile">
                        <i class="fas fa-fw fa-user"></i>
                        <span>Student Profile</span></a>
                </li>

                <!-- Nav Item - Health Assessment -->
                <li class="nav-item active">
                    <a class="nav-link" href="/health-assessment">
                        <i class="fas fa-fw fa-stethoscope"></i>
                        <span>Health Assessment</span></a>
                </li>

                <!-- Nav Item - Inventory -->
                <li class="nav-item">
                    <a href="#inventory" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle nav-link">
                        <i class="fas fa-fw fa-archive"></i>
                        <span>Inventory</span></a>
                    <ul class="collapse list-unstyled" id="inventory">
                        <li>
                            <a class="nav-link" href="/inventory-medicine">
                                <i class="fas fa-fw fa-tablets"></i>
                                <span>Medicine</span></a>
                        </li>
                        <li>
                            <a class="nav-link" href="/inventory-supply">
                                <i class="fas fa-fw fa-pump-medical"></i>
                                <span>Supply</span></a>
                        </li>
                        <li>
                            <a class="nav-link" href="/inventory-dental">
                                <i class="fas fa-fw fa-tooth"></i>
                                <span>Dental</span></a>
                        </li>
                    </ul>
                </li>

                <!-- Nav Item - Promotive Care -->
                <li class="nav-item">
                    <a class="nav-link" href="/promotive-care">
                        <i class="fas fa-fw fa-child"></i>
                        <span>Promotive Care</span></a>
                </li>

                <!-- Nav Item - Performance Assessment -->
                <li class="nav-item">
                    <a class="nav-link" href="/performance-assessment">
                        <i class="fas fa-fw fa-star"></i>
                        <span>Performance Assessment</span></a>
                </li>

                <!-- Nav Item - Communications -->
                <li class="nav-item">
                    <a class="nav-link" href="/communications">
                        <i class="fas fa-fw fa-comments"></i>
                        <span>Communications</span></a>
                </li>
            {{/if}}

            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>

        </ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>

                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">

                        <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                        <li class="nav-item dropdown no-arrow d-sm-none">
                            <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-search fa-fw"></i>
                            </a>
                            <!-- Dropdown - Messages -->
                            <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                                aria-labelledby="searchDropdown">
                                <form class="form-inline mr-auto w-100 navbar-search">
                                    <div class="input-group">
                                        <input type="text" class="form-control bg-light border-0 small"
                                            placeholder="Search for..." aria-label="Search"
                                            aria-describedby="basic-addon2">
                                        <div class="input-group-append">
                                            <button class="btn btn-primary" type="button">
                                                <i class="fas fa-search fa-sm"></i>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </li>

                        {{>notifications}}

                        <div class="topbar-divider d-none d-sm-block"></div>

                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#drop-menu" id="userDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small">Welcome, {{user.firstName}} {{user.lastName}}!</span>
                                <img class="img-profile rounded-circle"
                                    src="public/img/undraw_profile.svg">
                            </a>
                            <!-- Dropdown - User Information -->
                            <div id="drop-menu" class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="userDropdown">
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Settings
                                </a>
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Activity Log
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" data-toggle="modal" data-target="#logoutModal">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Logout
                                </a>
                            </div>
                        </li>

                    </ul>

                </nav>
                
                <!-- /.container-fluid -->

                <div class="container-fluid">
                    
                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">Dental Exam Form</h1>
                    </div>

                    <!-- Basic Card Example -->
                    <div class="card shadow mb-3">
                        <div class="card-header py-3 d-sm-flex">
                            <h6 class="m-0 font-weight-bold text-primary mr-auto p-2">S.Y. <span id="schoolYear"></span>  |  <span id="sectionTop"></span></h6>                           
                            
                            <button type="button" class="btn btn-primary btn-sm mr-2 mx-1" id="prevBtn"><i
                                class="fas fa-backward mr-2 text-white-50" ></i>Previous</button>
                            <div class="dropdown">
                                <button id="curStudent" style="height: 100%" onclick="myFunction()" class="btn btn-primary btn-sm mr-2 mx-1">Current Student</button>
                                <div id="myDropdown" class="dropdown-content dropdown-menu dropdown-menu-right">
                                    <input type="text" placeholder="Search.." id="myInput" onkeyup="filterFunction()">
                                    <option>275755</option>
                                    <option>121206</option>
                                </div>
                            </div> 
                            <button type="button" class="btn btn-primary btn-sm mx-1 " id="skipBtn">Skip<i
                                class="fas fa-forward ml-2 text-white-50"></i></button>
                        </div>
                        <div class="card-body">
                                <div class="form-row align-items-center">
                                    <div class="col-4">
                                      <label class="col-form-label" for="studentID">Student ID Number</label>
                                      <input type="text" class="form-control mb-2" id="studentID" name="studentId">
                                    </div>
                                    <div class="col-5">
                                        <label class="col-form-label" for="studentName">Student Name</label>
                                        <input type="text" class="form-control mb-2" id="studentName" name="studentName">
                                    </div>
                                </div>

                                <div class="form-row align-items-center">
                                    <div class="col-4">
                                        <label for="studentGrade" class="col-form-label">Grade</label>
                                        <select class="custom-select form-control mb-2" id="studentGrade">
                                            <option disabled="disabled" selected="true">Choose...</option>
                                            <option value="1">One</option>
                                            <option value="2">Two</option>
                                            <option value="3">Three</option>
                                            <option value="4">Four</option>
                                            <option value="5">Five</option>
                                            <option value="6">Six</option>
                                        </select>
                                    </div>
                                    <div class="col-5">
                                        <label for="studentSection" class="col-form-label">Section</label>
                                        <input type="text" class="form-control mb-2" id="studentSection">
                                    </div>
                                </div>

                                <div class="form-row align-items-center">
                                    <div class="col-4">
                                        <label for="dob" class="col-form-label">Date of Birth</label>
                                        <input type="date" class="form-control mb-2" id="dob">
                                    </div>
                                    <div class="col-3">
                                        <label for="gender" class="col-form-label">Gender</label>
                                        <input type="name" class="form-control mb-2" id="gender">
                                    </div>
                                    <div class="col-2">
                                        <label for="age" class="col-form-label">Age</label>
                                        <input type="number" class="form-control mb-2" id="age">
                                    </div>
                                </div>

                                <div class="form-row align-items-center">
                                    <div class="col-4">
                                        <label for="dope" class="col-form-label">Date of Examination</label>
                                        <input type="date" class="form-control mb-2" id="dope">
                                    </div>
                                    <div class="col-5">
                                      <label class="col-form-label" for="clinicianAPE">Examining Dentist</label>
                                        <select class="custom-select mb-2" id="clinicianAPE" name="clinicianAPE">
                                            <option selected>Choose...</option>
                                            {{#each clinician}}
                                                <option value="{{key}}"> {{firstName}} {{lastName}}</option>
                                            {{/each}}
                                        </select>
                                    </div>   
                                </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-4 col-lg-8">
                            <div class="row">
                                <div class="col-xl-12">
                                    <div class="card shadow mb-3">
                                        <div
                                            class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                            <h6 class="m-0 font-weight-bold text-primary">Dental Chart</h6>
                                        </div>
                                        <div class="card-body">
                                            <img src="public/img/chart.png" alt="Responsive image" class="img-fluid">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xl-12">
                                    <div class="card shadow mb-3">
                                        <div
                                            class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                            <h6 class="m-0 font-weight-bold text-primary">Legend: Condition</h6>
                                        </div>
                                        <div class="card-body">
                                            <div class="form-row align-items-center">
                                            <table class="table table-borderless">
                                                <tbody>
                                                    <tr>
                                                        <th style="width: 50px; padding: 0px !important; text-align: center;">/</th>
                                                        <td>caries free</td>
                                                    </tr>
                                                    <tr>
                                                        <th style="width: 50px; padding: 0px !important; text-align: center;">D</th>
                                                        <td>dental caries indicated for filling</td>
                                                    </tr>
                                                    <tr>
                                                        <th style="width: 50px; padding: 0px !important; text-align: center;">\</th>
                                                        <td>caries indicated for extraction</td>
                                                    </tr>
                                                    <tr>
                                                        <th style="width: 50px; padding: 0px !important; text-align: center;">R</th>
                                                        <td>root fragment</td>
                                                    </tr>
                                                    <tr>
                                                        <th style="width: 50px; padding: 0px !important; text-align: center;">M</th>
                                                        <td>missing due to caries</td>
                                                    </tr>
                                                    <tr>
                                                        <th style="width: 50px; padding: 0px !important; text-align: center;">Mo</th>
                                                        <td>missing due to other causes</td>
                                                    </tr>
                                                    <tr>
                                                        <th style="width: 50px; padding: 0px !important; text-align: center;">—</th>
                                                        <td>no sign of likely emergence</td>
                                                    </tr>
                                                    <tr>
                                                        <th style="width: 50px; padding: 0px !important; text-align: center;">U</th>
                                                        <td>unerupted tooth</td>
                                                    </tr>
                                                    <tr>
                                                        <th style="width: 50px; padding: 0px !important; text-align: center;">M</th>
                                                        <td>metal crown</td>
                                                    </tr>
                                                    <tr>
                                                        <th style="width: 50px; padding: 0px !important; text-align: center;">AB</th>
                                                        <td>abutment</td>
                                                    </tr>
                                                    <tr>
                                                        <th style="width: 50px; padding: 0px !important; text-align: center;">P</th>
                                                        <td>pontic</td>
                                                    </tr>
                                                    <tr>
                                                        <th style="width: 50px; padding: 0px !important; text-align: center;">PJC</th>
                                                        <td>jacket crown</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xl-12">
                                    <div class="card shadow mb-3">
                                        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                            <h6 class="m-0 font-weight-bold text-primary">Legend: Operation</h6>
                                        </div>
                                        <div class="card-body">
                                            <div class="form-row align-items-center">
                                            <table class="table table-borderless">
                                                <tbody>
                                                    <tr>
                                                        <th style="width: 50px; padding: 0px !important; text-align: center;">*A</th>
                                                        <td>amalgam filling</td>
                                                    </tr>
                                                    <tr>
                                                        <th style="width: 50px; padding: 0px !important; text-align: center;">CF</th>
                                                        <td>composite filling</td>
                                                    </tr>
                                                    <tr>
                                                        <th style="width: 50px; padding: 0px !important; text-align: center;">X</th>
                                                        <td>extracted due to other causes</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-xl-8 col-lg-8" style="padding-left: 0px;">
                            <div class="well">
                                <div class="card shadow mb-4">
                                    <!-- Card Header - Dropdown -->
                                    <div
                                        class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                        <h6 class="m-0 font-weight-bold text-primary">Details</h6>
                                    </div>
                                    <div class="card-body">
                                        <div class="form-row align-items-center">
                                            <table class="table table-bordered">
                                                <tfoot>
                                                    <tr style="text-align: center;">
                                                        <th colspan="2" style="border: none; width: 50px; color: white;">H</th>
                                                        <th style="width: 50px;">E</th>
                                                        <th style="width: 50px;">D</th>
                                                        <th style="width: 50px;">C</th>
                                                        <th style="width: 50px;">B</th>
                                                        <th style="width: 50px;">A</th>
                                                        <th style="width: 50px;">A</th>
                                                        <th style="width: 50px;">B</th>
                                                        <th style="width: 50px;">C</th>
                                                        <th style="width: 50px;">D</th>
                                                        <th style="width: 50px;">E</th>
                                                    </tr>
                                                </tfoot>
                                                <tbody>
                                                    <tr>
                                                        <th colspan="2" style="border: none;">Operation</th>
                                                        <td><input type="text"></td>
                                                        <td><input type="text"></td>
                                                        <td><input type="text"></td>
                                                        <td><input type="text"></td>
                                                        <td><input type="text"></td>
                                                        <td><input type="text"></td>
                                                        <td><input type="text"></td>
                                                        <td><input type="text"></td>
                                                        <td><input type="text"></td>
                                                        <td><input type="text"></td>
                                                    </tr>
                                                    <tr>
                                                        <th colspan="2" style="border: none;">Condition</th>
                                                        <td><input type="text"></td>
                                                        <td><input type="text"></td>
                                                        <td><input type="text"></td>
                                                        <td><input type="text"></td>
                                                        <td><input type="text"></td>
                                                        <td><input type="text"></td>
                                                        <td><input type="text"></td>
                                                        <td><input type="text"></td>
                                                        <td><input type="text"></td>
                                                        <td><input type="text"></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="form-row align-items-center">
                                            <table class="table table-bordered">
                                                <thead>
                                                    <tr style="text-align: center;">
                                                        <th colspan="12">Upper</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <th style="text-align: center; border: none;">Right</th>
                                                        <td><input type="text"></td>
                                                        <td><input type="text"></td>
                                                        <td><input type="text"></td>
                                                        <td><input type="text"></td>
                                                        <td><input type="text"></td>
                                                        <td><input type="text"></td>
                                                        <td><input type="text"></td>
                                                        <td><input type="text"></td>
                                                        <td><input type="text"></td>
                                                        <td><input type="text"></td>
                                                        <th style="text-align: center; border: none;">Left</th>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="form-row align-items-center">
                                            <table class="table table-bordered">
                                                <tfoot>
                                                    <tr style="text-align: center;">
                                                        <th style="width: 50px;">8</th>
                                                        <th style="width: 50px;">7</th>
                                                        <th style="width: 50px;">6</th>
                                                        <th style="width: 50px;">5</th>
                                                        <th style="width: 50px;">4</th>
                                                        <th style="width: 50px;">3</th>
                                                        <th style="width: 50px;">2</th>
                                                        <th style="width: 50px;">1</th>
                                                        <th style="width: 50px;">1</th>
                                                        <th style="width: 50px;">2</th>
                                                        <th style="width: 50px;">3</th>
                                                        <th style="width: 50px;">4</th>
                                                        <th style="width: 50px;">5</th>
                                                        <th style="width: 50px;">6</th>
                                                        <th style="width: 50px;">7</th>
                                                        <th style="width: 50px;">8</th>
                                                    </tr>
                                                </tfoot>
                                                <tbody>
                                                    <tr>
                                                        <td><input type="text"></td>
                                                        <td><input type="text"></td>
                                                        <td><input type="text"></td>
                                                        <td><input type="text"></td>
                                                        <td><input type="text"></td>
                                                        <td><input type="text"></td>
                                                        <td><input type="text"></td>
                                                        <td><input type="text"></td>
                                                        <td><input type="text"></td>
                                                        <td><input type="text"></td>
                                                        <td><input type="text"></td>
                                                        <td><input type="text"></td>
                                                        <td><input type="text"></td>
                                                        <td><input type="text"></td>
                                                        <td><input type="text"></td>
                                                        <td><input type="text"></td>
                                                    </tr>
                                                    <tr>
                                                        <td><input type="text"></td>
                                                        <td><input type="text"></td>
                                                        <td><input type="text"></td>
                                                        <td><input type="text"></td>
                                                        <td><input type="text"></td>
                                                        <td><input type="text"></td>
                                                        <td><input type="text"></td>
                                                        <td><input type="text"></td>
                                                        <td><input type="text"></td>
                                                        <td><input type="text"></td>
                                                        <td><input type="text"></td>
                                                        <td><input type="text"></td>
                                                        <td><input type="text"></td>
                                                        <td><input type="text"></td>
                                                        <td><input type="text"></td>
                                                        <td><input type="text"></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="form-row align-items-center">
                                            <table class="table table-bordered">                                          
                                                <tbody>
                                                    <tr>
                                                        <td><input type="text"></td>
                                                        <td><input type="text"></td>
                                                        <td><input type="text"></td>
                                                        <td><input type="text"></td>
                                                        <td><input type="text"></td>
                                                        <td><input type="text"></td>
                                                        <td><input type="text"></td>
                                                        <td><input type="text"></td>
                                                        <td><input type="text"></td>
                                                        <td><input type="text"></td>
                                                        <td><input type="text"></td>
                                                        <td><input type="text"></td>
                                                        <td><input type="text"></td>
                                                        <td><input type="text"></td>
                                                        <td><input type="text"></td>
                                                        <td><input type="text"></td>
                                                    </tr>
                                                    <tr>
                                                        <td><input type="text"></td>
                                                        <td><input type="text"></td>
                                                        <td><input type="text"></td>
                                                        <td><input type="text"></td>
                                                        <td><input type="text"></td>
                                                        <td><input type="text"></td>
                                                        <td><input type="text"></td>
                                                        <td><input type="text"></td>
                                                        <td><input type="text"></td>
                                                        <td><input type="text"></td>
                                                        <td><input type="text"></td>
                                                        <td><input type="text"></td>
                                                        <td><input type="text"></td>
                                                        <td><input type="text"></td>
                                                        <td><input type="text"></td>
                                                        <td><input type="text"></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="form-row align-items-center">
                                            <table class="table table-bordered">
                                                <thead>
                                                    <tr style="text-align: center;">
                                                        <th style="width: 50px;">8</th>
                                                        <th style="width: 50px;">7</th>
                                                        <th style="width: 50px;">6</th>
                                                        <th style="width: 50px;">5</th>
                                                        <th style="width: 50px;">4</th>
                                                        <th style="width: 50px;">3</th>
                                                        <th style="width: 50px;">2</th>
                                                        <th style="width: 50px;">1</th>
                                                        <th style="width: 50px;">1</th>
                                                        <th style="width: 50px;">2</th>
                                                        <th style="width: 50px;">3</th>
                                                        <th style="width: 50px;">4</th>
                                                        <th style="width: 50px;">5</th>
                                                        <th style="width: 50px;">6</th>
                                                        <th style="width: 50px;">7</th>
                                                        <th style="width: 50px;">8</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td><input type="text"></td>
                                                        <td><input type="text"></td>
                                                        <td><input type="text"></td>
                                                        <td><input type="text"></td>
                                                        <td><input type="text"></td>
                                                        <td><input type="text"></td>
                                                        <td><input type="text"></td>
                                                        <td><input type="text"></td>
                                                        <td><input type="text"></td>
                                                        <td><input type="text"></td>
                                                        <td><input type="text"></td>
                                                        <td><input type="text"></td>
                                                        <td><input type="text"></td>
                                                        <td><input type="text"></td>
                                                        <td><input type="text"></td>
                                                        <td><input type="text"></td>
                                                    </tr>
                                                    <tr>
                                                        <td><input type="text"></td>
                                                        <td><input type="text"></td>
                                                        <td><input type="text"></td>
                                                        <td><input type="text"></td>
                                                        <td><input type="text"></td>
                                                        <td><input type="text"></td>
                                                        <td><input type="text"></td>
                                                        <td><input type="text"></td>
                                                        <td><input type="text"></td>
                                                        <td><input type="text"></td>
                                                        <td><input type="text"></td>
                                                        <td><input type="text"></td>
                                                        <td><input type="text"></td>
                                                        <td><input type="text"></td>
                                                        <td><input type="text"></td>
                                                        <td><input type="text"></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="form-row align-items-center">
                                            <table class="table table-bordered">
                                                <tfoot>
                                                    <tr style="text-align: center;">
                                                        <th colspan="12">Lower</th>
                                                    </tr>
                                                </tfoot>
                                                <tbody>
                                                    <tr>
                                                        <th style="text-align: center; border: none;">Right</th>
                                                        <td><input type="text"></td>
                                                        <td><input type="text"></td>
                                                        <td><input type="text"></td>
                                                        <td><input type="text"></td>
                                                        <td><input type="text"></td>
                                                        <td><input type="text"></td>
                                                        <td><input type="text"></td>
                                                        <td><input type="text"></td>
                                                        <td><input type="text"></td>
                                                        <td><input type="text"></td>
                                                        <th style="text-align: center; border: none;">Left</th>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="form-row align-items-center">
                                            <table class="table table-bordered">
                                                <thead>
                                                    <tr style="text-align: center;">
                                                        <th colspan="2" style="border: none; width: 100px; color: white;">H</th>
                                                        <th style="width: 50px;">E</th>
                                                        <th style="width: 50px;">D</th>
                                                        <th style="width: 50px;">C</th>
                                                        <th style="width: 50px;">B</th>
                                                        <th style="width: 50px;">A</th>
                                                        <th style="width: 50px;">A</th>
                                                        <th style="width: 50px;">B</th>
                                                        <th style="width: 50px;">C</th>
                                                        <th style="width: 50px;">D</th>
                                                        <th style="width: 50px;">E</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <th colspan="2" style="border: none;">Operation</th>
                                                        <td><input type="text"></td>
                                                        <td><input type="text"></td>
                                                        <td><input type="text"></td>
                                                        <td><input type="text"></td>
                                                        <td><input type="text"></td>
                                                        <td><input type="text"></td>
                                                        <td><input type="text"></td>
                                                        <td><input type="text"></td>
                                                        <td><input type="text"></td>
                                                        <td><input type="text"></td>
                                                    </tr>
                                                    <tr>
                                                        <th colspan="2" style="border: none;">Condition</th>
                                                        <td><input type="text"></td>
                                                        <td><input type="text"></td>
                                                        <td><input type="text"></td>
                                                        <td><input type="text"></td>
                                                        <td><input type="text"></td>
                                                        <td><input type="text"></td>
                                                        <td><input type="text"></td>
                                                        <td><input type="text"></td>
                                                        <td><input type="text"></td>
                                                        <td><input type="text"></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>       
                                        <div class="form-row align-items-center">
                                            <table class="table table-bordered">
                                                <thead>
                                                    <tr>
                                                        <th colspan="1" style="color: white;">.</th>
                                                        <th style="text-align: center;">Yes</th>
                                                        <th style="text-align: center;">No</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <th colspan="1">Presence of Calculus</th>
                                                        <th style="text-align: center;"><input type="radio" name="calculus" id="calculusYes" value="true"></td>
                                                        <th style="text-align: center;"><input type="radio" name="calculus" id="calculusNo" value="false"></th>
                                                    </tr>
                                                    <tr>
                                                        <th colspan="1">Inflammation of Gingiva</th>
                                                        <th style="text-align: center;"><input type="radio" name="gingiva" id="gingivaYes" value="true"></td>
                                                        <th style="text-align: center;"><input type="radio" name="gingiva" id="gingivaNo" value="false"></th>
                                                    </tr>
                                                    <tr>
                                                        <th colspan="1">Presence of Periodontal Pocket</th>
                                                        <th style="text-align: center;"><input type="radio" name="pocket" id="pocketYes" value="true"></td>
                                                        <th style="text-align: center;"><input type="radio" name="pocket" id="pocketNo" value="false"></th>
                                                    </tr>
                                                    <tr>
                                                        <th colspan="1">Presence of Dento Facial Anomaly</th>
                                                        <th style="text-align: center;"><input type="radio" name="anomaly" id="anomalyYes" value="true"></td>
                                                        <th style="text-align: center;"><input type="radio" name="anomaly" id="anomalyNo" value="false"></th>
                                                    </tr>
                                                    <tr>
                                                        <th colspan="1" style="color: white;">.</th>
                                                        <th style="text-align: center;">T</th>
                                                        <th style="text-align: center;">P</th>
                                                    </tr>
                                                    <tr>
                                                        <th colspan="1">Number of Teeth Present</th>
                                                        <td><input type="text"></td>
                                                        <td><input type="text"></td>
                                                    </tr>
                                                    <tr>
                                                        <th colspan="1">Caries Free Teeth</th>
                                                        <td><input type="text"></td>
                                                        <td><input type="text"></td>
                                                    </tr>
                                                    <tr>
                                                        <th colspan="1">Caries Indicated for Filling</th>
                                                        <td><input type="text"></td>
                                                        <td><input type="text"></td>
                                                    </tr>
                                                    <tr>
                                                        <th colspan="1">Caries Indicated for Extraction</th>
                                                        <td><input type="text"></td>
                                                        <td><input type="text"></td>
                                                    </tr>
                                                    <tr>
                                                        <th colspan="1">Root Fragment</th>
                                                        <td><input type="text"></td>
                                                        <td><input type="text"></td>
                                                    </tr>
                                                    <tr>
                                                        <th colspan="1">Lost due to Caries</th>
                                                        <td><input type="text"></td>
                                                        <td><input type="text"></td>
                                                    </tr>
                                                    <tr>
                                                        <th colspan="1">Filled or Restored</th>
                                                        <td><input type="text"></td>
                                                        <td><input type="text"></td>
                                                    </tr>
                                                    <tr>
                                                        <th colspan="1">Totals</th>
                                                        <td><input type="text"></td>
                                                        <td><input type="text"></td>
                                                    </tr>
                                                    <tr>
                                                        <th colspan="1">Fluoride Therapy</th>
                                                        <td><input type="text"></td>
                                                        <td><input type="text"></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div> 
                                        <div class="d-flex justify-content-end mt-4 col-12">
                                            <button type="submit" id="saveBtn" class="mr-2 p-2 d-none d-sm-inline-block btn btn-success">
                                                <span id="saveButtonText"></span><i class="ml-2 fas fa-arrow-right text-white-50"></i>
                                            </button>                                    
                                        </div>                           
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; IsKlinika 2021</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <form method="post" action="/logout">
                        <button class="btn btn-primary">Logout</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://use.fontawesome.com/releases/v5.14.0/js/all.js"></script>
    <script src="/public/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/js/standalone/selectize.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.js"></script>

    <!-- Bootstrap core JavaScript-->
    <script src="public/vendor/jquery/jquery.min.js"></script>
    <script src="public/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="public/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="public/js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="public/vendor/chart.js/Chart.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="public/js/demo/chart-area-demo.js"></script>
    <script src="public/js/demo/chart-pie-demo.js"></script>
        
    <script type='text/javascript'>

        function myFunction(){
            document.getElementById("myDropdown").classList.toggle("show");
            clicked = true;
        }

        function filterFunction(){
            var input, filter, ul, li, a, i;
            input = document.getElementById("myInput");
            filter = input.value.toUpperCase();
            div = document.getElementById("myDropdown");
            a = div.getElementsByTagName("a");
            for (i = 0; i < a.length; i++) {
                txtValue = a[i].textContent || a[i].innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                a[i].style.display = "";
                } else {
                a[i].style.display = "none";
                }
            }
        }

        $(document).ready(function() {
            var dentals = [];
            
            var schoolYear=localStorage.getItem("schoolYear");
            var sec=localStorage.getItem("section");
            var id = localStorage.getItem("id");
            var i = localStorage.getItem("sectionStudentIndex");
            var computedBmiStatus;
            var array=[];
            var link;
            array=JSON.parse(localStorage.myArray)
           
            

            document.getElementById("schoolYear").innerHTML = schoolYear;
            document.getElementById("sectionTop").innerHTML = sec;
            document.getElementById("studentID").innerHTML=id;
            document.getElementById("studentSection").value=sec;
            
            if(document.getElementById("studentSection").value=="Truthfulness"||document.getElementById("studentSection").value=="Sincerity"||document.getElementById("studentSection").value=="Honesty"||document.getElementById("studentSection").value=="Faithfulness"||document.getElementById("studentSection").value=="Humility"||document.getElementById("studentSection").value=="Politeness"){
                $('#studentGrade').val("1");
            }
            else if(document.getElementById("studentSection").value=="Simplicity"||document.getElementById("studentSection").value=="Charity"||document.getElementById("studentSection").value=="Helpfulness"||document.getElementById("studentSection").value=="Gratitude"||document.getElementById("studentSection").value=="Meekness"){
                $('#studentGrade').val("2");
            }
            else if(document.getElementById("studentSection").value=="Respect"||document.getElementById("studentSection").value=="Courtesy"||document.getElementById("studentSection").value=="Trust"||document.getElementById("studentSection").value=="Kindness"||document.getElementById("studentSection").value=="Piety"||document.getElementById("studentSection").value=="Prayerfulness"){
                $('#studentGrade').val("3");
            }
            else if(document.getElementById("studentSection").value=="Unity"||document.getElementById("studentSection").value=="Purity"||document.getElementById("studentSection").value=="Fidelity"||document.getElementById("studentSection").value=="Equality"||document.getElementById("studentSection").value=="Harmony"||document.getElementById("studentSection").value=="Solidarity"){
                $('#studentGrade').val("4");
            }         
            else if(document.getElementById("studentSection").value=="Trustwortiness"||document.getElementById("studentSection").value=="Reliability"||document.getElementById("studentSection").value=="Dependability"||document.getElementById("studentSection").value=="Responsibility"||document.getElementById("studentSection").value=="Serenity"||document.getElementById("studentSection").value=="Flexibility"){
                $('#studentGrade').val("5");
            }
            else if(document.getElementById("studentSection").value=="Self-Discipline"||document.getElementById("studentSection").value=="Self-Giving"||document.getElementById("studentSection").value=="Abnegation"||document.getElementById("studentSection").value=="Integrity"||document.getElementById("studentSection").value=="Perseverance"||document.getElementById("studentSection").value=="Patience"){
                $('#studentGrade').val("6");
            }
            
            $('#studentID').val(array[i]);

            if(i<array.length-1){
                //document.getElementById("skipBtn").style.display="hidden";
                document.getElementById("saveButtonText").innerHTML="Save | Next Student";
                link="/health-assessment/dental";
            }
            else if(i=>array.length){
                document.getElementById("saveButtonText").innerHTML="Save";  
                link="/health-assessment";
            }

            if(i == "0"){
                document.getElementById("prevBtn").style.display="none";
            }
            else{
                document.getElementById("prevBtn").style.display="block";
            }
            console.log(schoolYear);
            console.log(document.getElementById("studentID").value);
            console.log("WHERE AM I?")
            $.ajax({
                    url: '/loadStudentData',
                    method: 'POST',
                    data: {
                        //schoolYear:schoolYear,
                        id:document.getElementById("studentID").value
                    },
                    success: function(data) {
                        console.log("Ayaw ko na:");
                        console.log(data.bday);
                        $('#studentName').val(data.name); 
                        $('#dob').val(data.bday); 
                        $('#gender').val(data.sex); 
                        $('#age').val(getAge(data.bday));

                        var today = formatDate();
                        console.log(today);

                        $('#dope').val(today);

                    }  

            });
            $.ajax({
                    url: '/loadPrevDataADE',
                    method: 'POST',
                    data: {
                        schoolYear:schoolYear,
                        id:document.getElementById("studentID").value
                    },
                    success: function(data) {
                        console.log("HELLO DATA:");
                        console.log(data);

                        
                        //$('#studentName').val(data.name); 
                        
                        //var bday = new Date(data.b);
                        //var day = ("0" + bday.getDate()).slice(-2);
                        //var month = ("0" + (bday.getMonth() + 1)).slice(-2);
                        //var dob = bday.getFullYear()+"-"+(month)+"-"+(day) ; 
                        //$('#dob').val(dob); 
                        
                        //$('#gender').val(data.sex); 


                        if(data.prevCalculus == "true")
                            document.getElementById("calculusYes").checked = true;
                        else
                            document.getElementById("calculusNo").checked = true;
                        
                        if(data.prevGingiva == "true")
                            document.getElementById("gingivaYes").checked = true;
                        else
                            document.getElementById("gingivaNo").checked = true;

                        if(data.prevPocket == "true")
                            document.getElementById("pocketYes").checked = true;
                        else
                            document.getElementById("pocketNo").checked = true;

                        if(data.prevAnomaly == "true")
                            document.getElementById("anomalyYes").checked = true;
                        else
                            document.getElementById("anomalyNo").checked = true;
                        
                        var inputs = $("td input");

                        for(var j = 0; j < inputs.length; j++){
                            $(inputs[j]).val(data.prevInputs[j]);
                        }
                    }  
            });

            function formatDate() {
                var d = new Date(),
                    month = '' + (d.getMonth() + 1),
                    day = '' + d.getDate(),
                    year = d.getFullYear();

                if (month.length < 2) 
                    month = '0' + month;
                if (day.length < 2) 
                    day = '0' + day;

                return [year, month, day].join('-');
            }

            function getAge(dateString) {
                var today = new Date();
                var birthDate = new Date(dateString);
                var age = today.getFullYear() - birthDate.getFullYear();
                var m = today.getMonth() - birthDate.getMonth();
                console.log(today.getMonth() + " " + birthDate.getMonth());
                console.log(today.getDate() + " " + birthDate.getDate());
                if (m < 0 || (m === 0 && today.getDate() < birthDate.getDate())) {
                    age--;
                }
                return age;
            }

            $("#dope").change(function(){
                var bDate = new Date(document.getElementById("dob").value);
                var vDate = new Date(document.getElementById("dope").value);
                var bYear=bDate.getFullYear();
                var vYear=vDate.getFullYear();
                var bMonth=bDate.getMonth();
                var vMonth=vDate.getMonth();
                var bDay=bDate.getDate();
                var vDay=vDate.getDate();

                var ageYear=vYear-bYear;
                if(vMonth<bMonth){
                    ageYear=ageYear-1;
                }
                else if(vMonth==bMonth){
                    if(vDay<bDay){
                        ageYear=ageYear-1;
                    }
                }
                document.getElementById("age").value=ageYear;
            })

            $("#prevBtn").click(function(){
                localStorage.setItem("schoolYear",schoolYear);
                localStorage.setItem("section",sec);
                localStorage.setItem("id",id);
                localStorage.setItem("sectionStudentIndex", parseInt(i-1));
                console.log("prev:"+i);
                console.log("HI Prev");
                window.location.href = "/health-assessment/dental";
            });

            $("#myDropdown option").click(function(){
                localStorage.setItem("schoolYear",schoolYear);
                localStorage.setItem("section",sec);
                localStorage.setItem("id",id);
                localStorage.setItem("sectionStudentIndex", parseInt(i-1));
                console.log("prev:"+i);
                console.log("HI Prev");
                //window.location.href = "/health-assessment/physical";
            });

            $("#skipBtn").click(function(){
                console.log(i);
                localStorage.setItem("schoolYear",schoolYear);
                localStorage.setItem("section",sec);
                localStorage.setItem("id",id);
                localStorage.setItem("sectionStudentIndex", parseInt(i+1));
                var array=[];
                var link;
                array=JSON.parse(localStorage.myArray)
                var sy=schoolYear;

                console.log(i);
                if(i<array.length-1){
                //document.getElementById("skipBtn").style.display="hidden";
                document.getElementById("saveButtonText").innerHTML="Save | Next Student";
                link="/health-assessment/dental";
                }
                else if(i=>array.length){
                    document.getElementById("saveButtonText").innerHTML="Save";  
                    link="/health-assessment";
                }
                window.location.href = link;
            });
        
            var schoolYear=localStorage.getItem("schoolYear");
            var sec=localStorage.getItem("section");
            var id = localStorage.getItem("id");
            var i = localStorage.getItem("sectionStudentIndex");
            var computedBmiStatus;
            var array=[];
            var link;
            array=JSON.parse(localStorage.myArray)
            if(i<array.length-1){
                //document.getElementById("skipBtn").style.display="hidden";
                document.getElementById("saveButtonText").innerHTML="Save | Next Student";
                //link="/health-assessment/dental";
            }
            else if(i=>array.length){
                document.getElementById("saveButtonText").innerHTML="Save";  
                //link="/health-assessment";
            }

            $("#saveBtn").click(function(){
                localStorage.setItem("schoolYear",schoolYear);
                localStorage.setItem("section",sec);
                localStorage.setItem("id",id);
                localStorage.setItem("sectionStudentIndex", parseInt(i+1));
                console.log("save:"+i);
                console.log("clicked?");

                if(i<array.length-1){
                //document.getElementById("skipBtn").style.display="hidden";
                document.getElementById("saveButtonText").innerHTML="Save | Next Student";
                link="/health-assessment/dental";
                }
                else if(i=>array.length){
                    document.getElementById("saveButtonText").innerHTML="Save";  
                    link="/health-assessment";
                }

                var sy=schoolYear;
                if(sy==null){
                    sy="";
                }
                console.log(sy);

                var sectionHeader=sec;
                if(sectionHeader==null){
                    sectionHeader="";
                }
                console.log(sectionHeader);

                var id = $('#studentID').val();
                if(id==null){
                    id="";
                }
                console.log(id);
                
                var studentName = $('#studentName').val(); 
                if(studentName==null){
                    studentName="";
                }
                console.log(studentName);

                var studentGrade = $('#studentGrade').val(); 
                if(studentGrade==null){
                    studentGrade="";
                }
                console.log(studentGrade);

                var sectionTop = $('#sectionTop').innerHTML;
                if(sectionTop==null){
                    sectionTop="";
                }
                
                var studentSection = $('#studentSection').val(); 
                if(studentSection==null){
                    studentSection="";
                }
                console.log(studentSection);
                
                var dob = $('#dob').val(); 
                console.log(dob);

                var age = $('#age').val(); 
                console.log(age);

                var gender = $('#gender').val(); 
                if(gender ==null){
                    gender="";
                }
                console.log(gender); 

                var dateADE =  $('#dope').val(); 
                if(dateADE==null){
                    dateADE="";
                }
                console.log(dateADE);
                
                //var selectClinician =  $('#clinician').val();
                var clinician =  $('#clinicianAPE').find(":selected").val();   
                if(clinician==null){
                    cllinician="";
                }
                console.log(clinician);

                var calculus = document.querySelector('input[name="calculus"]:checked').value;
                var gingiva = document.querySelector('input[name="gingiva"]:checked').value;
                var pocket = document.querySelector('input[name="pocket"]:checked').value;
                var anomaly = document.querySelector('input[name="anomaly"]:checked').value;

                console.log(calculus + " " + gingiva + " " + pocket + " " + anomaly);

                var inputs = $("td input");

                console.log(inputs);
                var name = 'input';
                var dentalData=[];

                for(var j = 0; j < inputs.length; j++){
                    var cur = $(inputs[j]).val();
                    dentals[j] = cur;
                    dentalData.push($(inputs[j]).val());
                }

                var selectDentistAssign = document.getElementById("clinicianAPE");
                var selectedDentistAssign = selectDentistAssign.options[selectDentistAssign.selectedIndex].value;

                $.ajax({
                        url: '/addADE',
                        method: 'POST',
                        data: {
                            clicked:"save",
                            section:  studentSection,
                            sectionTop:document.getElementById("sectionTop").innerHTML,
                            age:age,
                            schoolYear:sy,
                            studentId: id,
                            studentName: studentName,
                            visitDate: dateADE,
                            clinician: selectedDentistAssign,
                            calculus:calculus,
                            gingiva:gingiva,
                            pocket:pocket,
                            anomaly:anomaly,
                            dentalInputs:dentalData,
                            
                        },
                        success: function(data) {
                            console.log("Bonjour");
                            console.log(data);
                            console.log(link);
                            resetForm();
                            window.location.href = link;
                        }  
                    });

                

                

                

                

            }); 

            function resetForm() {
                var inputs = $("td input");
                for (var j = 0; j<inputs.length; j++) {
                    switch (inputs[j].type) {
                        // case 'hidden':
                        case 'text':
                            inputs[j].value = '';
                            break;
                        case 'radio':
                        case 'checkbox':
                            inputs[j].checked = false;   
                    }
                }
            }



        });
    </script>
    



</body>

</html>