<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>IsKlinika</title>

    <!-- Custom fonts for this template-->
    <link rel="stylesheet" href="public/css/calendar/style.css">
    <link href="public/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="public/css/sb-admin-2.min.css" rel="stylesheet">

    <!-- Custom styles for this page -->
    <link href="public/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
	
	

    {{!-- <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> --}}


    <style>

        .tracking-detail {
        padding:3rem 0
        }
        #tracking {
        margin-bottom:1rem
        }
        [class*=tracking-status-] p {
        margin:0;
        font-size:1.1rem;
        color:#fff;
        text-align:center
        }
        [class*=tracking-status-] {
        padding:0.8rem 0;
        }
        .tracking-status-intransit {
        background-color:#4e73df;
        border-radius: 0.2rem 0.2rem 0rem 0rem;
        }
        .tracking-status-outfordelivery {
        background-color:#f5a551
        }
        .tracking-status-deliveryoffice {
        background-color:#f7dc6f
        }
        .tracking-status-delivered {
        background-color:#4cbb87
        }
        .tracking-status-attemptfail {
        background-color:#b789c7
        }
        .tracking-status-error,.tracking-status-exception {
        background-color:#d26759
        }
        .tracking-status-expired {
        background-color:#616e7d
        }
        .tracking-status-pending {
        background-color:#ccc
        }
        .tracking-status-inforeceived {
        background-color:#214977
        }
        .tracking-list {
        border:1px solid #e5e5e5;
        background-color: #fff;
        }
        .tracking-item {
        border-left:1px solid #e5e5e5;
        position:relative;
        padding:2rem 1.5rem .5rem 2.5rem;
        font-size:.9rem;
        margin-left:3rem;
        min-height:5rem
        }
        .tracking-item:last-child {
        padding-bottom:4rem
        }
        .tracking-item .tracking-date {
        margin-bottom:.5rem
        }
        .tracking-item .tracking-date span {
        color:#888;
        font-size:100%;
        padding-left:.4rem
        }
        .tracking-item .tracking-content {
        padding:.5rem .8rem;
        background-color:#f4f4f4;
        border-radius:.5rem
        }
        .tracking-item .tracking-content span {
        display:block;
        color:#888;
        font-size:100%
        }
        .tracking-item .tracking-icon {
        line-height:2.6rem;
        position:absolute;
        left:-1.3rem;
        width:2.6rem;
        height:2.6rem;
        text-align:center;
        border-radius:50%;
        font-size:1.1rem;
        background-color:#fff;
        color:#fff
        }
        .tracking-item .tracking-icon.status-sbfp {
        background-color:#f68
        }
        .tracking-item .tracking-icon.status-wins {
        background-color:#4cbb87
        }
        .tracking-item .tracking-icon.status-pacp {
        background-color:#f5a551
        }
        .tracking-item .tracking-icon.status-ersf {
        background-color:#f7dc6f
        }
        .tracking-item .tracking-icon.status-efsq {
        background-color:#b789c7
        }
        .tracking-item .tracking-icon.status-sbp {
        background-color:#d26759
        }
        .tracking-item .tracking-icon.status-wmp {
        background-color:#214977
        }
        .tracking-item .tracking-icon.status-intransit {
        color:#e5e5e5;
        border:1px solid #e5e5e5;
        font-size:.6rem
        }
        @media(min-width:992px) {
        .tracking-item {
        margin-left:10rem
        }
        .tracking-item .tracking-date {
        position:absolute;
        left:-10rem;
        width:7.5rem;
        text-align:right
        }
        .tracking-item .tracking-date span {
        display:block
        }
        .tracking-item .tracking-content {
        padding:0;
        background-color:transparent
        }
        }
        
    </style>

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/dashboard" style="pointer-events: none; cursor: default;">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-user-md"></i>
                </div>
                <div class="sidebar-brand-text mx-3 text-capitalize">IsKlinika</div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            {{#if isNurse}}
                <!-- Nav Item - Clinic Visit -->
                <li class="nav-item">
                    <a class="nav-link" href="/clinic-visit">
                        <i class="fas fa-fw fa-medkit"></i>
                        <span>Clinic Visit</span></a>
                </li>

                <!-- Nav Item - Profile -->
                <li class="nav-item">
                    <a class="nav-link" href="/profile">
                        <i class="fas fa-fw fa-user"></i>
                        <span>Student Profile</span></a>
                </li>

                <!-- Nav Item - Health Assessment -->
                <li class="nav-item">
                    <a class="nav-link" href="/health-assessment">
                        <i class="fas fa-fw fa-stethoscope"></i>
                        <span>Health Assessment</span></a>
                </li>

                <!-- Nav Item - Inventory -->
                <li class="nav-item">
                    <a href="#inventory" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle nav-link">
                        <i class="fas fa-fw fa-archive"></i>
                        <span>Inventory</span></a>
                    <ul class="collapse list-unstyled" id="inventory">
                        <li>
                            <a class="nav-link" href="/inventory-medicine">
                                <i class="fas fa-fw fa-tablets"></i>
                                <span>Medicine</span></a>
                        </li>
                        <li>
                            <a class="nav-link" href="/inventory-supply">
                                <i class="fas fa-fw fa-pump-medical"></i>
                                <span>Supply</span></a>
                        </li>
                        <li>
                            <a class="nav-link" href="/inventory-dental">
                                <i class="fas fa-fw fa-tooth"></i>
                                <span>Dental</span></a>
                        </li>
                    </ul>
                </li>

                <!-- Nav Item - Promotive Care -->
                <li class="nav-item active">
                    <a class="nav-link" href="/promotive-care">
                        <i class="fas fa-fw fa-child"></i>
                        <span>Promotive Care</span></a>
                </li>

                <!-- Nav Item - Communications -->
                <li class="nav-item">
                    <a class="nav-link" href="/communications">
                        <i class="fas fa-fw fa-comments"></i>
                        <span>Communications</span></a>
                </li>
            {{else}}
                <!-- Nav Item - Dashboard -->
                <li class="nav-item">
                    <a class="nav-link" href="/dashboard">
                        <i class="fas fa-fw fa-tachometer-alt"></i>
                        <span>Dashboard</span></a>
                </li>
                
                <!-- Nav Item - Disease Surveillance -->
                <li class="nav-item">
                    <a class="nav-link" href="/disease-surveillance">
                        <i class="fas fa-fw fa-virus"></i>
                        <span>Disease Surveillance</span></a>
                </li>

                <!-- Nav Item - Clinic Visit -->
                <li class="nav-item">
                    <a class="nav-link" href="/clinic-visit">
                        <i class="fas fa-fw fa-medkit"></i>
                        <span>Clinic Visit</span></a>
                </li>

                <!-- Nav Item - Profile -->
                <li class="nav-item">
                    <a class="nav-link" href="/profile">
                        <i class="fas fa-fw fa-user"></i>
                        <span>Student Profile</span></a>
                </li>

                <!-- Nav Item - Health Assessment -->
                <li class="nav-item">
                    <a class="nav-link" href="/health-assessment">
                        <i class="fas fa-fw fa-stethoscope"></i>
                        <span>Health Assessment</span></a>
                </li>

                <!-- Nav Item - Inventory -->
                <li class="nav-item">
                    <a href="#inventory" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle nav-link">
                        <i class="fas fa-fw fa-archive"></i>
                        <span>Inventory</span></a>
                    <ul class="collapse list-unstyled" id="inventory">
                        <li>
                            <a class="nav-link" href="/inventory-medicine">
                                <i class="fas fa-fw fa-tablets"></i>
                                <span>Medicine</span></a>
                        </li>
                        <li>
                            <a class="nav-link" href="/inventory-supply">
                                <i class="fas fa-fw fa-pump-medical"></i>
                                <span>Supply</span></a>
                        </li>
                        <li>
                            <a class="nav-link" href="/inventory-dental">
                                <i class="fas fa-fw fa-tooth"></i>
                                <span>Dental</span></a>
                        </li>
                    </ul>
                </li>

                <!-- Nav Item - Promotive Care -->
                <li class="nav-item active">
                    <a class="nav-link" href="/promotive-care">
                        <i class="fas fa-fw fa-child"></i>
                        <span>Promotive Care</span></a>
                </li>

                <!-- Nav Item - Performance Assessment -->
                <li class="nav-item">
                    <a class="nav-link" href="/performance-assessment">
                        <i class="fas fa-fw fa-star"></i>
                        <span>Performance Assessment</span></a>
                </li>

                <!-- Nav Item - Communications -->
                <li class="nav-item">
                    <a class="nav-link" href="/communications">
                        <i class="fas fa-fw fa-comments"></i>
                        <span>Communications</span></a>
                </li>
            {{/if}}

            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>

        </ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>

                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">

                        <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                        <li class="nav-item dropdown no-arrow d-sm-none">
                            <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-search fa-fw"></i>
                            </a>
                            <!-- Dropdown - Messages -->
                            <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                                aria-labelledby="searchDropdown">
                                <form class="form-inline mr-auto w-100 navbar-search">
                                    <div class="input-group">
                                        <input type="text" class="form-control bg-light border-0 small"
                                            placeholder="Search for..." aria-label="Search"
                                            aria-describedby="basic-addon2">
                                        <div class="input-group-append">
                                            <button class="btn btn-primary" type="button">
                                                <i class="fas fa-search fa-sm"></i>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </li>

                        {{>notifications}}

                        <div class="topbar-divider d-none d-sm-block"></div>

                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#drop-menu" id="userDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small">Welcome, {{user.firstName}} {{user.lastName}}!</span>
                                <img class="img-profile rounded-circle"
                                    src="public/img/undraw_profile.svg">
                            </a>
                            <!-- Dropdown - User Information -->
                            <div id="drop-menu" class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="userDropdown">
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Settings
                                </a>
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Activity Log
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" data-toggle="modal" data-target="#logoutModal">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Logout
                                </a>
                            </div>
                        </li>
                    </ul>
                </nav>
                <!-- End of Topbar -->                   

                <!-- Begin Page Content -->
                <div class="container-fluid">
                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">Promotive Care</h1>
                        <div class="d-flex flex-row-reverse">
                            <a href="/promotive-care/program-form" class="d-none d-sm-inline-block btn btn-sm mr-2 btn-primary shadow-sm"><i class="fas fa-tasks mr-1 text-white-50"></i> Assessment Form</a>                   
                            <a href="/promotive-care/attendance-form" class="d-none d-sm-inline-block btn btn-sm mr-2 btn-primary shadow-sm"><i class="fas fa-list-alt mr-1 text-white-50"></i> Attendance Form</a>                   
                            <a href="/promotive-care/program-form" class="d-none d-sm-inline-block btn btn-sm mr-2 btn-primary shadow-sm"><i class="fas fa-calendar-alt mr-1 text-white-50"></i> Schedule Program</a>                   
                        </div>
                    </div>

                    <!-- DataTales Example -->
                    {{!-- <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Schedule</h6>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="HATable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr style="text-align: center;">
                                            <th class="bg-primary" style="color: white;">Program Type</th>
                                            <th class="bg-primary" style="color: white;">Program Name</th>
                                            <th class="bg-primary" style="color: white;">Population of Interest</th>
                                            <th class="bg-primary" style="color: white;">Start Date</th>
                                            <th class="bg-primary" style="color: white;">End Date</th>
                                            <th class="bg-primary" style="color: white;">Location</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        
                                        {{#each schedule}}
                                        <tr>
                                                <td>{{concat grade}}</td>
                                                <td>{{section}}</td>
                                                <td>{{totalNumStudents}}</td>
                                                <td>{{formatDate apeDate}}</td>                                               
                                                <td>{{apeTime}}</td>
                                                <td>{{apeSeen}}</td>
                                        {{/each}}
                                        </tr>
                                        
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div> --}}
                                  
                    <div class="row">
                        <div class="col-md-3 col-lg-3">
                            <div class="container">
                                <div class="row justify-content-center">
                                    <div class="col-md-12">
                                        <div class="today">
                                        <div class="today-piece  top  day"></div>
                                        <div class="today-piece  middle  month"></div>
                                        <div class="today-piece  middle  date"></div>
                                        <div class="today-piece  bottom  year"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-9 col-lg-9">
                            <div id="tracking-pre">

                            </div>
                            
                            <div id="tracking">
                                <div class="text-center tracking-status-intransit">
                                    <p class="tracking-status text-tight">Schedule</p>
                                </div>
                                <div class="tracking-list">
                                    {{#each programs}}                  
                                    <div class="tracking-item">
                                        {{#ifSBFP progType}}
                                        <div class="tracking-icon status-sbfp">
                                            <i class="fas fa-fw fa-carrot"></i>
                                            <!-- <i class="fas fa-shipping-fast"></i> -->
                                        </div>
                                        {{/ifSBFP}}

                                        {{#ifWINS progType}}
                                        <div class="tracking-icon status-wins">
                                            <i class="fas fa-fw fa-tint"></i>
                                            <!-- <i class="fas fa-shipping-fast"></i> -->
                                        </div>
                                        {{/ifWINS}}

                                        {{#ifPACP progType}}
                                        <div class="tracking-icon status-pacp">
                                            <i class="fas fa-fw fa-bug"></i>
                                            <!-- <i class="fas fa-shipping-fast"></i> -->
                                        </div>
                                        {{/ifPACP}}

                                        {{#ifERSF progType}}
                                        <div class="tracking-icon status-ersf">
                                            <i class="fas fa-fw fa-wrench"></i>
                                            <!-- <i class="fas fa-shipping-fast"></i> -->
                                        </div>
                                        {{/ifERSF}}

                                        {{#ifEFSQ progType}}
                                        <div class="tracking-icon status-efsq">
                                            <i class="fas fa-fw fa-utensils"></i>
                                            <!-- <i class="fas fa-shipping-fast"></i> -->
                                        </div>
                                        {{/ifEFSQ}}

                                        {{#ifSBP progType}}
                                        <div class="tracking-icon status-sbp">
                                            <i class="fas fa-fw fa-briefcase-medical"></i>
                                            <!-- <i class="fas fa-shipping-fast"></i> -->
                                        </div>
                                        {{/ifSBP}}

                                        {{#ifWMP progType}}
                                        <div class="tracking-icon status-wmp">
                                            <i class="fas fa-fw fa-weight"></i>
                                            <!-- <i class="fas fa-shipping-fast"></i> -->
                                        </div>
                                        {{/ifWMP}}

                                        <div class="tracking-date">{{formatDate startDate}}<span>{{formatDate endDate}}</span></div>
                                        <div class="tracking-content">{{progName}}<span>{{progType}}</span></div>
                                        <div class="tracking-content">{{population}}</div>
                                        <div class="tracking-content">{{location}}</div>
                                    </div>
                                    {{/each}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; IsKlinika 2021</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <form method="post" action="/logout">
                        <button class="btn btn-primary">Logout</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="public/vendor/jquery/jquery.min.js"></script>
    <script src="public/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="public/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="public/js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="public/vendor/chart.js/Chart.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="public/js/demo/chart-area-demo.js"></script>
    <script src="public/js/demo/chart-pie-demo.js"></script>

    <!-- Page level plugins -->
    <script src="public/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="public/vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="public/js/demo/datatables-demo.js"></script>
    
    <script src="public/js/jquery.min.js"></script>
    <script src="public/js/popper.js"></script>
    <script src="public/js/main.js"></script>
    
</body>

</html>