<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>IsKlinika</title>

    <!-- Custom fonts for this template-->
    <link href="public/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="public/css/sb-admin-2.min.css" rel="stylesheet">

    <!-- Custom styles for this page -->
    <link href="public/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">

    <style>
        .dtrg-group.dtrg-start{
            background-color: #f8f9fc !important;
            color: #4e72df;
            font-weight: bold;
        }
    </style>

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/dashboard" style="pointer-events: none; cursor: default;">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-user-md"></i>
                </div>
                <div class="sidebar-brand-text mx-3 text-capitalize">IsKlinika</div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            {{#if isNurse}}
                <!-- Nav Item - Clinic Visit -->
                <li class="nav-item">
                    <a class="nav-link" href="/clinic-visit">
                        <i class="fas fa-fw fa-medkit"></i>
                        <span>Clinic Visit</span></a>
                </li>

                <!-- Nav Item - Profile -->
                <li class="nav-item">
                    <a class="nav-link" href="/profile">
                        <i class="fas fa-fw fa-user"></i>
                        <span>Student Profile</span></a>
                </li>

                <!-- Nav Item - Health Assessment -->
                <li class="nav-item">
                    <a class="nav-link" href="/health-assessment">
                        <i class="fas fa-fw fa-stethoscope"></i>
                        <span>Health Assessment</span></a>
                </li>

                <!-- Nav Item - Inventory -->
                <li class="nav-item">
                    <a href="#inventory" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle nav-link">
                        <i class="fas fa-fw fa-archive"></i>
                        <span>Inventory</span></a>
                    <ul class="collapse show list-unstyled" id="inventory">
                        <li>
                            <a class="nav-link active" href="/inventory-medicine">
                                <i class="fas fa-fw fa-tablets"></i>
                                <span>Medicine</span></a>
                        </li>
                        <li>
                            <a class="nav-link" href="/inventory-supply">
                                <i class="fas fa-fw fa-pump-medical"></i>
                                <span>Supply</span></a>
                        </li>
                        <li>
                            <a class="nav-link" href="/inventory-dental">
                                <i class="fas fa-fw fa-tooth"></i>
                                <span>Dental</span></a>
                        </li>
                    </ul>
                </li>

                <!-- Nav Item - Promotive Care -->
                <li class="nav-item">
                    <a class="nav-link" href="/promotive-care">
                        <i class="fas fa-fw fa-child"></i>
                        <span>Promotive Care</span></a>
                </li>

                <!-- Nav Item - Performance Assessment -->
                <li class="nav-item">
                    <a class="nav-link" href="/performance-assessment">
                        <i class="fas fa-fw fa-star"></i>
                        <span>Performance Assessment</span></a>
                </li>

                <!-- Nav Item - Communications -->
                <li class="nav-item">
                    <a class="nav-link" href="/communications">
                        <i class="fas fa-fw fa-comments"></i>
                        <span>Communications</span></a>
                </li>

            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>

        </ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>

                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">

                        <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                        <li class="nav-item dropdown no-arrow d-sm-none">
                            <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-search fa-fw"></i>
                            </a>
                            <!-- Dropdown - Messages -->
                            <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                                aria-labelledby="searchDropdown">
                                <form class="form-inline mr-auto w-100 navbar-search">
                                    <div class="input-group">
                                        <input type="text" class="form-control bg-light border-0 small"
                                            placeholder="Search for..." aria-label="Search"
                                            aria-describedby="basic-addon2">
                                        <div class="input-group-append">
                                            <button class="btn btn-primary" type="button">
                                                <i class="fas fa-search fa-sm"></i>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </li>

                        <!-- Nav Item - Alerts -->
                        <li class="nav-item dropdown no-arrow mx-1">
                            <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-bell fa-fw"></i>
                                <!-- Counter - Alerts -->
                                <span class="badge badge-danger badge-counter">3+</span>
                            </a>
                            <!-- Dropdown - Alerts -->
                            <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="alertsDropdown">
                                <h6 class="dropdown-header">
                                    Alerts Center
                                </h6>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="mr-3">
                                        <div class="icon-circle bg-primary">
                                            <i class="fas fa-file-alt text-white"></i>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="small text-gray-500">December 12, 2019</div>
                                        <span class="font-weight-bold">A new monthly report is ready to download!</span>
                                    </div>
                                </a>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="mr-3">
                                        <div class="icon-circle bg-success">
                                            <i class="fas fa-donate text-white"></i>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="small text-gray-500">December 7, 2019</div>
                                        $290.29 has been deposited into your account!
                                    </div>
                                </a>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="mr-3">
                                        <div class="icon-circle bg-warning">
                                            <i class="fas fa-exclamation-triangle text-white"></i>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="small text-gray-500">December 2, 2019</div>
                                        Spending Alert: We've noticed unusually high spending for your account.
                                    </div>
                                </a>
                                <a class="dropdown-item text-center small text-gray-500" href="#">Show All Alerts</a>
                            </div>
                        </li>

                        <!-- Nav Item - Messages -->
                        <li class="nav-item dropdown no-arrow mx-1">
                            <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-envelope fa-fw"></i>
                                <!-- Counter - Messages -->
                                <span class="badge badge-danger badge-counter">7</span>
                            </a>
                            <!-- Dropdown - Messages -->
                            <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="messagesDropdown">
                                <h6 class="dropdown-header">
                                    Message Center
                                </h6>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="dropdown-list-image mr-3">
                                        <img class="rounded-circle" src="public/img/undraw_profile_1.svg"
                                            alt="...">
                                        <div class="status-indicator bg-success"></div>
                                    </div>
                                    <div class="font-weight-bold">
                                        <div class="text-truncate">Hi there! I am wondering if you can help me with a
                                            problem I've been having.</div>
                                        <div class="small text-gray-500">Emily Fowler · 58m</div>
                                    </div>
                                </a>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="dropdown-list-image mr-3">
                                        <img class="rounded-circle" src="public/img/undraw_profile_2.svg"
                                            alt="...">
                                        <div class="status-indicator"></div>
                                    </div>
                                    <div>
                                        <div class="text-truncate">I have the photos that you ordered last month, how
                                            would you like them sent to you?</div>
                                        <div class="small text-gray-500">Jae Chun · 1d</div>
                                    </div>
                                </a>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="dropdown-list-image mr-3">
                                        <img class="rounded-circle" src="public/img/undraw_profile_3.svg"
                                            alt="...">
                                        <div class="status-indicator bg-warning"></div>
                                    </div>
                                    <div>
                                        <div class="text-truncate">Last month's report looks great, I am very happy with
                                            the progress so far, keep up the good work!</div>
                                        <div class="small text-gray-500">Morgan Alvarez · 2d</div>
                                    </div>
                                </a>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <div class="dropdown-list-image mr-3">
                                        <img class="rounded-circle" src="https://source.unsplash.com/Mv9hjnEUHR4/60x60"
                                            alt="...">
                                        <div class="status-indicator bg-success"></div>
                                    </div>
                                    <div>
                                        <div class="text-truncate">Am I a good boy? The reason I ask is because someone
                                            told me that people say this to all dogs, even if they aren't good...</div>
                                        <div class="small text-gray-500">Chicken the Dog · 2w</div>
                                    </div>
                                </a>
                                <a class="dropdown-item text-center small text-gray-500" href="#">Read More Messages</a>
                            </div>
                        </li>

                        <div class="topbar-divider d-none d-sm-block"></div>

                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#drop-menu" id="userDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small">{{user.firstName}} {{user.lastName}}</span>
                                <img class="img-profile rounded-circle"
                                    src="public/img/undraw_profile.svg">
                            </a>
                            <!-- Dropdown - User Information -->
                            <div id="drop-menu" class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="userDropdown">
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Settings
                                </a>
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Activity Log
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" data-toggle="modal" data-target="#logoutModal">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Logout
                                </a>
                            </div>
                        </li>

                    </ul>

                </nav>
                <!-- End of Topbar -->                   

                <!-- Begin Page Content -->
                <div class="container-fluid">
                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">Medicine Inventory</h1>
                        <div class="d-flex flex-row-reverse">
                            <a href="/inventory-medicine/add" class="d-none d-sm-inline-block btn btn-sm mr-2 btn-primary shadow-sm"><i
                                class="fas fa-plus-circle mr-1 text-white-50"></i> Add Medicine Inventory  </a>
                        </div>
                    </div>
                    {{#if success}}
                        <div class="alert alert-danger alert-dismissible d-flex align-items-center fade show" style="font-size: 12px; !important" id="error">
                            <i class="fa fa-exclamation-circle"></i>
                            <strong class="mx-1">Success!</strong> {{success_msg}}
                        </div>
                    {{/if}}

                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Medicine Inventory</h6>
                        </div>
                        <div class="card-body">
                            <div class="invalid-feedback align-items-center" style="font-size: 12px; display: none;" id="errorDiv"></div>
                            <div class="table-responsive">
                                <table class="table table-bordered" id="medicineTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th class="bg-primary" style="color: white;">Batch Number</th>
                                            <th class="bg-primary" style="color: white;">Medicine</th>
                                            <th class="bg-primary" style="color: white;">Quantity</th>
                                            <th class="bg-primary" style="color: white;">Unit</th>
                                            <th class="bg-primary" style="color: white;">Purchase Date</th>
                                            <th class="bg-primary" style="color: white;">Expiry Date</th>
                                            <th class="bg-primary" style="color: white;">Update Inventory For The Day</th>
                                        </tr>
                                    </thead>
                                    {{!-- <tfoot>
                                        <tr>
                                            <th>Name</th>
                                            <th>Position</th>
                                            <th>Office</th>
                                            <th>Age</th>
                                            <th>Start date</th>
                                            <th>Salary</th>
                                        </tr>
                                    </tfoot> --}}
                                    <tbody>
                                        {{#each inventory}}
                                            <tr id="{{details.medicineID}}">
                                                <td style="vertical-align: middle !important;">{{details.batchNum}}</td>
                                                <td style="vertical-align: middle !important;">{{details.med}}</td>
                                                <td style="vertical-align: middle !important;">{{details.qty}}</td>
                                                <td style="vertical-align: middle !important;">{{details.unit}}</td>
                                                <td style="vertical-align: middle !important;">{{formatDate details.purchDate}}</td>
                                                <td style="vertical-align: middle !important;">{{formatDate details.expDate}}</td>
                                                <td>
                                                    <div class="input-group">
                                                        <input class="form-control" placeholder="Update inventory..." type="number" name="amount" min="0">
                                                        <div class="input-group-append">
                                                            <button type="button" class="btn btn-primary shadow-sm" style="color: white; !important">Update</button>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                        {{/each}}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.container-fluid -->
            </div>
            <!-- End of Main Content -->

            {{else}}
            {{!-- this is what the doctor sees --}}
                <!-- Nav Item - Dashboard -->
                <li class="nav-item">
                    <a class="nav-link" href="/dashboard">
                        <i class="fas fa-fw fa-tachometer-alt"></i>
                        <span>Dashboard</span></a>
                </li>
                
                <!-- Nav Item - Disease Surveillance -->
                <li class="nav-item">
                    <a class="nav-link" href="/disease-surveillance">
                        <i class="fas fa-fw fa-virus"></i>
                        <span>Disease Surveillance</span></a>
                </li>

                <!-- Nav Item - Clinic Visit -->
                <li class="nav-item">
                    <a class="nav-link" href="/clinic-visit">
                        <i class="fas fa-fw fa-medkit"></i>
                        <span>Clinic Visit</span></a>
                </li>

                <!-- Nav Item - Profile -->
                <li class="nav-item">
                    <a class="nav-link" href="/profile">
                        <i class="fas fa-fw fa-user"></i>
                        <span>Student Profile</span></a>
                </li>

                <!-- Nav Item - Health Assessment -->
                <li class="nav-item">
                    <a class="nav-link" href="/health-assessment">
                        <i class="fas fa-fw fa-stethoscope"></i>
                        <span>Health Assessment</span></a>
                </li>

                <!-- Nav Item - Inventory -->
                <li class="nav-item">
                    <a href="#inventory" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle nav-link">
                        <i class="fas fa-fw fa-archive"></i>
                        <span>Inventory Reports</span></a>
                    <ul class="collapse show list-unstyled" id="inventory">
                        <li>
                            <a class="nav-link active" href="/inventory-medicine">
                                <i class="fas fa-fw fa-tablets"></i>
                                <span>Medicine Report</span></a>
                        </li>
                        <li>
                            <a class="nav-link" href="/inventory-supply">
                                <i class="fas fa-fw fa-pump-medical"></i>
                                <span>Supply Report</span></a>
                        </li>
                        <li>
                            <a class="nav-link" href="/inventory-dental">
                                <i class="fas fa-fw fa-tooth"></i>
                                <span>Dental Report</span></a>
                        </li>
                    </ul>
                </li>

                <!-- Nav Item - Promotive Care -->
                <li class="nav-item">
                    <a class="nav-link" href="/promotive-care">
                        <i class="fas fa-fw fa-child"></i>
                        <span>Promotive Care</span></a>
                </li>

                <!-- Nav Item - Performance Assessment -->
                <li class="nav-item">
                    <a class="nav-link" href="/performance-assessment">
                        <i class="fas fa-fw fa-star"></i>
                        <span>Performance Assessment</span></a>
                </li>

                <!-- Nav Item - Communications -->
                <li class="nav-item">
                    <a class="nav-link" href="/communications">
                        <i class="fas fa-fw fa-comments"></i>
                        <span>Communications</span></a>
                </li>
            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>

        </ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>

                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">

                        <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                        <li class="nav-item dropdown no-arrow d-sm-none">
                            <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-search fa-fw"></i>
                            </a>
                            <!-- Dropdown - Messages -->
                            <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                                aria-labelledby="searchDropdown">
                                <form class="form-inline mr-auto w-100 navbar-search">
                                    <div class="input-group">
                                        <input type="text" class="form-control bg-light border-0 small"
                                            placeholder="Search for..." aria-label="Search"
                                            aria-describedby="basic-addon2">
                                        <div class="input-group-append">
                                            <button class="btn btn-primary" type="button">
                                                <i class="fas fa-search fa-sm"></i>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </li>

                        {{>notifications}}

                        <div class="topbar-divider d-none d-sm-block"></div>

                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#drop-menu" id="userDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small">Welcome, {{user.firstName}} {{user.lastName}}!</span>
                                <img class="img-profile rounded-circle"
                                    src="public/img/undraw_profile.svg">
                            </a>
                            <!-- Dropdown - User Information -->
                            <div id="drop-menu" class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="userDropdown">
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Settings
                                </a>
                                <a class="dropdown-item" href="#">
                                    <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Activity Log
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" data-toggle="modal" data-target="#logoutModal">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Logout
                                </a>
                            </div>
                        </li>

                    </ul>

                </nav>
                <!-- End of Topbar -->                   

                <!-- Begin Page Content -->
                <div class="container-fluid">
                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">Medicine Inventory</h1>
                        <div class="d-flex flex-row-reverse">
                            <a data-toggle="modal" style="color: white;" data-target="#modalFI" class="d-none d-sm-inline-block btn btn-sm mr-2 btn-primary shadow-sm"><i
                                class="fas fa-dolly-flatbed mr-1 text-white-50"></i> Forecast Medicine Inventory  </a>
                        </div>
                    </div>

                    <div class="modal fade" id="modalFI" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog" style="max-width: 1200px; margin-top: 100px;" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLongTitle">Forecast Medicine Inventory</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr style="text-align: center;">
                                                <th class="bg-primary" style="color: white;">Item Name</th>
                                                <th class="bg-primary" style="color: white;">Estimated Quantity Needed</th>
                                                <th class="bg-primary" style="color: white;">Conservative Estimate</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>Paracetamol Suspension 250mg/5mL</td>
                                                <td style="text-align: center;">50</td>
                                                <td style="text-align: center;">40</td>
                                            </tr>
                                            <tr>
                                                <td>Antacid (Kremil-S) Chewable Tablet 178mg/233mg/30mg</td>
                                                <td style="text-align: center;">39</td>
                                                <td style="text-align: center;">27</td>
                                            </tr>
                                            <tr>
                                                <td>Neozep Non-Drowsy Tablet 10mg/500mg</td>
                                                <td style="text-align: center;">44</td>
                                                <td style="text-align: center;">23</td>
                                            </tr>
                                        </tbody>
                                    </table>                                     
                                    <div class="modal-footer">
                                        <a href="#" class="btn btn-danger" data-dismiss="modal">Cancel</a>
                                        <button type="submit" id="searchDEBtn" class="btn btn-success">Download</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Used Medicine for the Day Inventory Report</h6>
                        </div>
                        <div class="card-body">
                            <div class="invalid-feedback align-items-center" style="font-size: 12px; display: none;" id="errorDiv"></div>
                            <div class="table-responsive">
                                <table class="table table-bordered" id="usedMedicineTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th class="bg-primary" style="color: white;">Batch Number</th>
                                            <th class="bg-primary" style="color: white;">Medicine</th>
                                            <th class="bg-primary" style="color: white;">Current Inventory</th>
                                            <th class="bg-primary" style="color: white;">Unit</th>
                                            <th class="bg-primary" style="color: white;">Used Inventory</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {{#each usedMedicine}}
                                            <tr id="{{medicineID}}">
                                                <td>{{batchNum}}</td>
                                                <td>{{medicineName}}</td>
                                                <td>{{currInventory}}</td>
                                                <td>{{unit}}</td>
                                                <td>{{usedInventory}}</td>
                                            </tr>
                                        {{/each}}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <!-- Top medicines used chart -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Top 5 Medicines Used for the Month</h6>
                        </div>
                        <div class="card-body">
                            <div style="height: 600px">
                                <canvas id="top5medsByGrade"></canvas>
                            </div>
                            <div class="chart-area">
                                <canvas id="top5medsBySex"></canvas>
                            </div>
                        </div>
                    </div>      
                </div>
                <!-- /.container-fluid -->
            </div>
            <!-- End of Main Content -->
            {{/if}}

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; IsKlinika 2021</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <form method="post" action="/logout">
                        <button class="btn btn-primary">Logout</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="public/vendor/jquery/jquery.min.js"></script>
    <script src="public/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="public/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="public/js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2.0.0"></script>
    {{!-- <script src="public/vendor/chart.js/Chart.min.js"></script> --}}

    <!-- Page level custom scripts -->
    {{!-- <script src="public/js/demo/chart-pie-demo.js"></script> --}}

    <!-- Page level plugins -->
    <script src="public/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="public/vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="public/js/demo/datatables-demo.js"></script>
    <script src="https://cdn.datatables.net/rowgroup/1.1.4/js/dataTables.rowGroup.min.js"></script>

    <script>
    $(document).ready(function(){
        const now = new Date();
        var year = now.getFullYear();
        var lastYear = now.getFullYear() - 1;
        var month = now.getMonth() + 1;
        //var date = now.getDate();
        var date = 29;

        console.log("year: " + year);
        console.log("month: " + month);
        console.log("date: " + date);

        //var monthDay = month;
        //monthDay += '-';
        //monthDay += date;

        var invetoryMedicine = [];
        

        $.get("/getMedicineInventoryList", function(inventoryList){
            console.log("inventoryList in front end");
            console.log(inventoryList);
            invetoryMedicine = inventoryList;

            $.get("/getUsedMedicineDaily", function(details){
            console.log(details);

                //for(var i = 0; i < details.length; i++){
                //    console.log("inside 1st for loop");
                //    var [yearUpdated, monthUpdated, dayUpdated] = details[i].dateUpdated.split('-');
                //    if(month == monthUpdated){
                //        console.log("check me");
                //        for(var j = 0; j < invetoryMedicine.length; j++){
                //            if(invetoryMedicine[j].med == details[i].medicineName){
                //                console.log("inside 2nd for loop");
                //                console.log(details[i].medicineName);
                //                console.log(parseInt(details[i].usedInventory));

                //                var stringID = '#';
                //                stringID += invetoryMedicine[j].medicineID;

                                //var row = $(stringID).siblings(".dtrg-end").css("color", "red");
                //                var row = $(stringID).closest("tr").next(".dtrg-end").css("color", "red");
    
                  //          }
                            
                   //     }
                  //  }
                //}

                for(var i = 0; i < invetoryMedicine.length; i++){
                    var sum = 0; 
                    for(var j = 0; j < details.length; j++){
                        var [yearUpdated, monthUpdated, dayUpdated] = details[j].dateUpdated.split('-');
                        if(lastYear == yearUpdated && month == monthUpdated){
                            if(invetoryMedicine[i].med == details[j].medicineName){
                                
                                console.log(details[j].medicineName);
                                console.log(parseInt(details[j].usedInventory));
                                sum += parseInt(details[j].usedInventory);
                                console.log("sum: " + sum);

                                var total = sum;
                                total = total/24;
                                var ltd = 6.3*7;
                                console.log("ltd: " + ltd);
                                
                                var stringID = '#';
                                stringID += invetoryMedicine[i].medicineID;
                                
                                //var row = $(stringID).siblings(".dtrg-end").css("color", "red");
                                var text = $(stringID).closest("tr").next(".dtrg-end").text();
                                text = text.replace( /^\D+/g, '');
                                if(Math.ceil(ltd) >= parseInt(text)){
                                    $(stringID).closest("tr").next(".dtrg-end").css("color", "#e74a3b");
                                    $(stringID).closest("tr").next(".dtrg-end").css("font-weight", "bold");
                                }
                                
                                console.log("this is my ltd");
                                console.log(Math.ceil(ltd));

                            }
                        }
                    }
                }
            });

        });

        $.get("/getTop5MedsUsedMonth", function(data){
            console.log("POKEMON");
            var intakeData=data[0];
            var top5=data[1];
            var labels=[];
            console.log(intakeData);
            console.log(top5);

            var dataCountG1=[0,0,0,0,0],dataCountG2=[0,0,0,0,0],dataCountG3=[0,0,0,0,0],dataCountG4=[0,0,0,0,0],dataCountG5=[0,0,0,0,0],dataCountG6=[0,0,0,0,0];
            var i,j;

            for(j=0;j<top5.length;j++){
                labels.push(top5[j].medicineName);
            }
            for(i=0;i<intakeData.length;i++){
                for(j=0;j<top5.length;j++){
                    if(intakeData[i].medicineName == top5[j].medicineName){
                        if(intakeData[i].grade=="1")
                            dataCountG1[j]=dataCountG1[j]+1;
                        else if(intakeData[i].grade=="2")
                            dataCountG2[j]=dataCountG2[j]+1;
                        else if(intakeData[i].grade=="3")
                            dataCountG3[j]=dataCountG3[j]+1;
                        else if(intakeData[i].grade=="4")
                            dataCountG4[j]=dataCountG4[j]+1;
                        else if(intakeData[i].grade=="5")
                            dataCountG5[j]=dataCountG5[j]+1;
                        else if(intakeData[i].grade=="6")
                            dataCountG6[j]=dataCountG6[j]+1;
                    }
                }
            }
            
            top5UsedMedsGrade(dataCountG1,dataCountG2,dataCountG3,dataCountG4,dataCountG5,dataCountG6,labels);
        });

        $('#medicineTable tbody button.btn.btn-primary.shadow-sm').on('click', function(e) {
            var row = $(this).closest('tr');
            var batchNum = row.find('td').eq(0).text();
            var medicineName = row.find('td').eq(1).text();
            var qtyCell = row.find('td').eq(2);
            var qty = row.find('td').eq(2).text();
            var unit = row.find('td').eq(3).text();
            var purchDate = row.find('td').eq(4).text();
            var expDate = row.find('td').eq(5).text();
            console.log('TR qty cell: ' + row.find('td').eq(2).text());
            
            var val = $(this).closest('td');
            var amount = val.find("input").val();
            console.log('TR amt cell: ' + val.find("input").val());

            var medicineID = $(this).closest('tr').attr('id');

            console.log("id " + medicineID);
                
            if(amount < 0){
                val.find("input").addClass('is-invalid');
            } 
            else if(amount >= parseInt(qty)){
                val.find("input").addClass('is-invalid');
            }
            else if(amount >= 0 && amount < parseInt(qty)){
                val.find("input").removeClass('is-invalid');
                val.find("input").addClass('is-valid');
                qtyCell.text(amount);
                $.post("/updateMedicineInventory", {
                    medicineID: medicineID, 
                    batchNum: batchNum, 
                    medicineName: medicineName, 
                    qty: qty, 
                    amount: amount, 
                    unit: unit, 
                });
            }

            $('#medicineTable').DataTable({
                destroy: true,
                pageLength: 100,
                order: [[1, 'asc']],
                rowGroup: {
                    endRender: function (rows, group ) {
                        var total = rows
                            .data()
                            .pluck(2)
                            .reduce( function (a, b) {
                                return a + b.replace(/[^\d]/g, '')*1;
                            }, 0);

                        return ' Total Quantity: '+
                            $.fn.dataTable.render.number(',', '.', 0).display( total );
                    },
                    dataSrc: 1
                }
            });
            
        });
    });

    function top5UsedMedsGrade(dataCountG1,dataCountG2,dataCountG3,dataCountG4,dataCountG5,dataCountG6,labels) {
            var gradeData={
                labels: labels, // x-axis
                datasets: [{
                    label: "Grade 1",                           
                    backgroundColor: "rgba(153, 102, 255, 0.5)", // violet  
                    data: dataCountG1,   // values of the point
                }, {
                    label: "Grade 2",
                    backgroundColor: "rgb(255, 159, 64)",  // orange
                    data: dataCountG2,
                }, {
                    label: "Grade 3",
                    backgroundColor: "rgb(255, 205, 86)",  // yellow
                    data: dataCountG3,
                }, {
                    label: "Grade 4",
                    backgroundColor: "rgb(75, 192, 192)", // green
                    data: dataCountG4,
                }, {
                    label: "Grade 5",
                    backgroundColor: "rgb(54, 162, 235)", // blue
                    data: dataCountG5,
                }, {
                    label: "Grade 6",
                    backgroundColor: "rgb(255, 99, 132)", // red
                    data: dataCountG6,
                }],
            }           

            var config={
                type: 'bar',
                data: gradeData,
                plugins: [ChartDataLabels],
                options: {
                    maintainAspectRatio: false,
                    layout: {   // layout ng entire chart
                        padding: {
                            left: 30,
                            right: 25,
                            top: 0,
                            bottom: 25
                        }
                    },
                    plugins: {
                        datalabels: {
                            anchor: 'end',
                            align: 'top',
                            font: {
                                weight: 'bold'
                            },
                            color: "#000000",
                        },
                        title: {
                            display: true,
                            text: 'Top 5 Medicines Used for the Month per Grade Level',
                            font: {
                                size: 25   // font size of the labels
                            },
                        }
                    },
                    scales: {
                        x: {
                            title: {
                                display: true,
                                text: 'Top 5 Medicines Used',
                                font: {
                                    size: 15,   // font size of the labels
                                    weight: 'bold'
                                },
                            },
                            ticks: {
                                font: {
                                    size: 15   // font size of the labels
                                },
                                
                            },
                            stacked: true,
                        },
                        y: {
                            title: {
                                font: {
                                    size: 15,   // font size of the labels
                                    weight: 'bold'
                                },
                                //color: "rgba(255, 99, 132, 1)",
                            },
                            ticks: {
                                font: {
                                    size: 15,   // font size of the labels
                                },
                                //color: "rgba(255, 99, 132, 1)",
                            },
                            stacked: true,
                        },
                    },
                }
            }

            var top5MedsGrade = document.getElementById("top5medsByGrade");
            var stackedBarChart = new Chart(top5MedsGrade, config);

        }




    </script>

</body>

</html>